<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_student"></div>
		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">						
							<div class="card">
								<div class="card-body">
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<h4 class="card-title">Carga Acad&eacute;mica</h4>
										<div class="alert alert-danger" th:if="${studentChargeDto.tutorName eq ''}">
											Contacta al coordinador de tutor&iacute;as para que te sea asignado un tutor, de lo contrario no podr&aacute;s dar de alta tu carga acad&eacute;mica
										</div>
										<div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
						                  <div class="modal" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" aria-hidden="true">
						                    <div class="modal-dialog" role="document">
						                      <div class="modal-content">
						                        <div class="modal-header">
						                          <h5 class="modal-title" id="exampleModalLabel-4">Agregar clase</h5>
						                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						                            <span aria-hidden="true">&times;</span>
						                          </button>
						                        </div>
						                        <div class="modal-body">
						                          <form id="form-add-charge" th:object="${studentChargeDto}">
													<div class="form-group">
														<label for="program">Programa educativo *</label> 
														<select required="required" class="form-control" id="program" th:onchange='|SAUA.selectProgramOnChargeStudent();|' name="idProgram">
															<option th:each="program:${studentChargeDto.programs}" th:value="${program.studentPlanKey}" th:text="${program.studentPlanName}"></option>
														</select>
													</div>
						                            <div class="form-group">
						                              <label for="grupo">Grupo *</label> 
														<select required="required" class="form-control" id="group" th:onchange='|SAUA.stdUapsForGroup();|' name="idGroup">
															<option value="">Seleccione</option>
														</select>
						                            </div>
						                            <div class="form-group">
						                              <label for="uap">UAP *</label> 
														<select required="required" class="form-control" id="uaps" name ="idUap">
															<option value="">Seleccione</option>
														</select>
						                            </div>
						                            <div class="form-group">
						                              <label for="cursamiento">Tipo de cursamiento *</label> 
														<select required="required" class="form-control" name="studyType" id="studyTypes">
															<option value="">Seleccione</option>
															<option value="STUDY">Cursar</option>
															<option value="RE_STUDY">Recursar</option>
														</select>
						                            </div>
						                            <div class="form-group">
														<label id="address-error" class="error mt-2 text-danger" for="address">Los campos con * son obligatorios</label>
													</div>
						                            <div class="modal-footer">
													  <input type="hidden" name="studentRegister" id="studentRegister" th:value="*{student.register}">
						                           	  <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						                          	  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							                          <button type="button" class="btn btn-primary" th:onclick='|SAUA.stdSaveCharge();|'>Guardar</button>
							                        </div>
						                          </form>
						                        </div>
						                      </div>
						                    </div>
						                  </div>
							            </div>
							        <div class="form-group">
							        	<input type="text" class="form-control" id="student-tutorName" th:value="${'TUTOR: '+studentChargeDto.tutorName+'       GRUPO:'+studentChargeDto.student.groupDto.name
							        		+'  ['+studentChargeDto.student.groupDto.turn+']'}" disabled="disabled">
									</div>
									<br/>
									<label th:text="${!studentChargeDto.isAuthorization ? 'Tu carga académica aun no esta autorizada' : 'Tu carga académica ha sido autorizada'}" th:class="${!studentChargeDto.isAuthorization ? 'badge badge-warning badge-pill' : 'badge badge-success badge-pill'}">   </label>
									
									<div class="add-items text-right">
										<button type="submit" th:unless="${!studentChargeDto.isAuthorization 
											or !studentChargeDto.evaluationsComplete}" style="margin-right: 50%" class="btn btn-outline-danger" data-toggle="modal" onclick='SAUA.papeletadownload();'>
											<span class="icon-printer"></span>&nbsp;&nbsp;Imprimir papeleta
										</button>
										<button th:unless="${studentChargeDto.isAuthorization or studentChargeDto.tutorName eq '' 
										or !studentChargeDto.evaluationsComplete}" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal-4" th:onclick='|SAUA.chargePrograms();|'>Agregar</button>
										<button type="button" class="btn btn-outline-danger btn-fw" onclick="deleteselected()" th:unless="${studentChargeDto.isAuthorization or studentChargeDto.tutorName eq '' or !studentChargeDto.evaluationsComplete}"><i class="icon-list"></i>Eliminar</button>
									</div>
									
									<div class="row">
										<div class="col-12 table-responsive">
											<table id="order-listing" class="table">
												<thead>
													<tr align="center">
														<th>Clave</th>
														<th>UAP</th>
														<th>Profesor</th>
														<th>Sem.</th>
														<th>Grupo</th>
														<th>P.E.</th>
														<th>Cursamiento</th>
														<th  th:unless="${studentChargeDto.isAuthorization}">Selecc.</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="sc : ${studentChargeDto.studentCharges}">
														<td align="center" th:text="${sc.offeredClass.uap.key}"></td>
														<td th:text="${sc.offeredClass.uap.name}"></td>
														<td th:text="${sc.offeredClass.teacher.name+' '+sc.offeredClass.teacher.lastname+' '+sc.offeredClass.teacher.secondLastname}"></td>
														<td align="center" th:text="${sc.offeredClass.semester}"></td>
														<td align="center" th:text="${sc.offeredClass.group.name}"></td>
														<td th:text="${sc.offeredClass.group.educationalProgramDto.abr}"></td>
														<td th:text="${sc.studyTypeValue}"></td>
														<td align="center" th:unless="${studentChargeDto.isAuthorization}">
															<div class="form-check">
									                            <label class="form-check-label">
									                              <input th:id="${'chk_'+sc.id}" type="checkbox" class="form-check-input" th:onclick='|addtodelete("id", ${sc.id});|'>
									                            <i class="input-helper"></i></label>
									                          </div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										<input type="hidden" name="id-chk" id="id-chk" value="#" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/layout/header :: common_footer"></footer>
		<script th:src="@{/js/data-table.js}"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$("#countStudents").hide();
			}
			);
			
			function addtodelete(idInput, idValue) {
			  if($("#id-chk").val()=="#"){$("#id-chk").val("");}
			  let arr = $("#id-chk").val().split(',');
			  if($("#chk_"+idValue).is(":checked")){
				  arr.push(idValue);
				  $("#id-chk").val(arr.toString());
			  }else{
				  var sb = new Array();
				  arr.forEach(function(cad) {
					    if(cad!=idValue){
					    	sb.push(cad);
					    }
					});
				  $("#id-chk").val("");
				  $("#id-chk").val(sb.toString());
			  }
			}
			
			function deleteselected() {
				if($("#id-chk").val()=="#" || $("#id-chk").val()=="," || $("#id-chk").val()==""){
					swal({
				        title: '',
				        text: 'Debe seleccionar las materias a eliminar.',
				        icon: 'warning',
				        button: {
				          text: "Ok",
				          value: true,
				          visible: true,
				          className: "btn btn-warning"
				        }
				      });
				}else{
					swal({
						title: 'Eliminar UAP(s) seleccionada(s)',
						text: "Está seguro de eliminar la(s) UAP(s)?",
						icon: 'warning',
						showCancelButton: true,
						confirmButtonColor: '#3f51b5',
						cancelButtonColor: '#ff4081',
						confirmButtonText: 'Great ',
						buttons: {
							cancel: {
								text: "Cancelar",
								value: null,
								visible: true,
								className: "btn btn-danger",
								closeModal: true,
							},
							confirm: {
								text: "Aceptar",
								value: true,
								visible: true,
								className: "btn btn-primary",
								closeModal: true
							}
						}
					}).then(function (result) {
						if(result){
							$.ajax({
								url : '/api/student/uap/delete/'+$("#id-chk").val(),
								method : 'GET',
								cache : false,
								contentType : 'application/json',
								dataType : 'json',
								success :function(data){
									swal({
										title: '',
										text: 'Registro(s) elimininado(s) correctamente.',
										icon: 'success',
										button: {
											text: "Ok",
											value: true,
											visible: true,
											className: "btn btn-success"
										}
									}).then(function() {
										window.location.reload();
									});
								},
								error: function(data) {
									swal({
										title: '',
										text: 'Ocurrió un error al eliminar las UAPs.',
										icon: 'error',
										button: {
											text: "Ok",
											value: true,
											visible: true,
											className: "btn btn-error"
										}
									});
								}
							});
						}
					});
				}
			}
		</script>
	</div>
</body>

</html>