<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${!kardexDto.beforePeriod} 
			and ${!kardexDto.afterPeriod} 
			and ${!kardexDto.evaluationsActive}">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_student"></div>
		</nav>
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${!kardexDto.beforePeriod} 
			and ${!kardexDto.afterPeriod} 
			and ${kardexDto.evaluationsActive}">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_student_with_eval"></div>
		</nav>
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${kardexDto.beforePeriod} 
			or ${kardexDto.afterPeriod} 
			and ${!kardexDto.evaluationsActive}">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_student_min"></div>
		</nav>
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" 
			th:if="${kardexDto.beforePeriod} 
			and ${kardexDto.afterPeriod} 
			and ${kardexDto.evaluationsActive}">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_student_min_with_eval"></div>
		</nav>
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0"
			 th:if="${!kardexDto.beforePeriod}
			and ${kardexDto.afterPeriod}
			and ${kardexDto.evaluationsActive}">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_student_min_with_eval"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin">
							<div id="div-messagesInfo">
								<div id="div-info" class="alert alert-danger" th:text="${endMsg}" role="alert" th:unless="${endMsg == null}"></div>
								<div id="div-error" class="alert alert-primary" th:text="${notInitMsg}" th:unless="${notInitMsg == null}"></div>
							</div>
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
						</div>
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">HISTORIAL ACAD&Eacute;MICO</h4>
									<div class="alert alert-warning" role="alert">
                   						Esta información es de carácter informativo. Para información oficial consulta <a href="https://ovirtual.uagro.mx/" target="new">Ovirtual</a> o tu Kardex.
                  					</div>
									<ul class="nav nav-tabs tab-solid tab-solid-danger"
										role="tablist">
										<li class="nav-item"><a class="nav-link active"
											id="tab-5-1" data-toggle="tab" href="#home-5-1" role="tab"
											aria-controls="home-5-1" aria-selected="true">EFI</a></li>
										<li class="nav-item"><a class="nav-link" id="tab-5-2"
											data-toggle="tab" href="#profile-5-2" role="tab"
											aria-controls="profile-5-2" aria-selected="false">NFBAD</a></li>
										<li class="nav-item"><a class="nav-link" id="tab-5-3"
											data-toggle="tab" href="#contact-5-3" role="tab"
											aria-controls="contact-5-3" aria-selected="false">NFPE</a></li>
										<li class="nav-item"><a class="nav-link" id="tab-5-4"
											data-toggle="tab" href="#eiv-5-4" role="tab"
											aria-controls="eiv-5-4" aria-selected="false">EIV</a></li>
										<li class="nav-item"><a class="nav-link" id="tab-6-4"
											data-toggle="tab" href="#otras-6-4" role="tab"
											aria-controls="otras-6-4" aria-selected="false">OTRAS</a></li>
									</ul>
									<div class="tab-content tab-content-solid">
										<div class="tab-pane fade active show" id="home-5-1"
											role="tabpanel" aria-labelledby="tab-5-1">

											<div class="row">
												<div class="col-12 table-responsive">
													<table id="order-listing" class="table table-striped">
														<thead>
															<tr>
																<th>Clave</th>
																<th>Uap</th>
																<th>Calificaci&oacute;n</th>
																<th>Estatus</th>
																<th>Tipo Examen</th>
																<th>Periodo</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="kardex : ${kardexDto.kardexDtosEfi}">
																<td th:text="${kardex.cveUap}"></td>
																<td th:text="${kardex.nameUap}"></td>
																<td th:text="${kardex.score}"></td>
																<td><label
																	th:text="${kardex.cveAproRepro == 'R' ? 'Reprobada' : 'Aprobada'}"
																	th:class="${kardex.cveAproRepro == 'R' ? 'badge badge-danger badge-pill' : 'badge badge-success badge-pill'}">
																</label></td>
																<td th:text="${kardex.testType}"></td>
																<td th:text="${kardex.cvePeriod}"></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

										</div>
										<div class="tab-pane fade" id="profile-5-2" role="tabpanel"
											aria-labelledby="tab-5-2">

											<div class="row">
												<div class="col-12 table-responsive">
													<table id="order-listing" class="table table-striped">
														<thead>
															<tr>
																<th>Clave</th>
																<th>Uap</th>
																<th>Calificaci&oacute;n</th>
																<th>Estatus</th>
																<th>Tipo Examen</th>
																<th>Periodo</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="kardex : ${kardexDto.kardexDtosNfbad}">
																<td th:text="${kardex.cveUap}"></td>
																<td th:text="${kardex.nameUap}"></td>
																<td th:text="${kardex.score}"></td>
																<td><label
																	th:text="${kardex.cveAproRepro == 'R' ? 'Reprobada' : 'Aprobada'}"
																	th:class="${kardex.cveAproRepro == 'R' ? 'badge badge-danger badge-pill' : 'badge badge-success badge-pill'}">
																</label></td>
																<td th:text="${kardex.testType}"></td>
																<td th:text="${kardex.cvePeriod}"></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>


										</div>
										<div class="tab-pane fade" id="contact-5-3" role="tabpanel"
											aria-labelledby="tab-5-3">

											<div class="row">
												<div class="col-12 table-responsive">
													<table id="order-listing" class="table table-striped">
														<thead>
															<tr>
																<th>Clave</th>
																<th>Uap</th>
																<th>Calificaci&oacute;n</th>
																<th>Estatus</th>
																<th>Tipo Examen</th>
																<th>Periodo</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="kardex : ${kardexDto.kardexDtosNfpe}">
																<td th:text="${kardex.cveUap}"></td>
																<td th:text="${kardex.nameUap}"></td>
																<td th:text="${kardex.score}"></td>
																<td><label
																	th:text="${kardex.cveAproRepro == 'R' ? 'Reprobada' : 'Aprobada'}"
																	th:class="${kardex.cveAproRepro == 'R' ? 'badge badge-danger badge-pill' : 'badge badge-success badge-pill'}">
																</label></td>
																<td th:text="${kardex.testType}"></td>
																<td th:text="${kardex.cvePeriod}"></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

										</div>
										<div class="tab-pane fade" id="eiv-5-4" role="tabpanel"
											aria-labelledby="tab-5-4">

											<div class="row">
												<div class="col-12 table-responsive">
													<table id="order-listing" class="table table-striped">
														<thead>
															<tr>
																<th>Clave</th>
																<th>Uap</th>
																<th>Calificaci&oacute;n</th>
																<th>Estatus</th>
																<th>Tipo Examen</th>
																<th>Periodo</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="kardex : ${kardexDto.kardexDtosEiv}">
																<td th:text="${kardex.cveUap}"></td>
																<td th:text="${kardex.nameUap}"></td>
																<td th:text="${kardex.score}"></td>
																<td><label
																	th:text="${kardex.cveAproRepro == 'R' ? 'Reprobada' : 'Aprobada'}"
																	th:class="${kardex.cveAproRepro == 'R' ? 'badge badge-danger badge-pill' : 'badge badge-success badge-pill'}">
																</label></td>
																<td th:text="${kardex.testType}"></td>
																<td th:text="${kardex.cvePeriod}"></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="otras-6-4" role="tabpanel"
											aria-labelledby="tab-6-4">
											<div class="row">
												<div class="col-12 table-responsive">
													<table id="order-listing" class="table table-striped">
														<thead>
															<tr>
																<th>Clave</th>
																<th>Uap</th>
																<th>Calificaci&oacute;n</th>
																<th>Estatus</th>
																<th>Tipo Examen</th>
																<th>Periodo</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="kardex : ${kardexDto.kardexDtosOtras}">
																<td th:text="${kardex.cveUap}"></td>
																<td th:text="${kardex.nameUap}"></td>
																<td th:text="${kardex.score}"></td>
																<td><label
																	th:text="${kardex.cveAproRepro == 'R' ? 'Reprobada' : 'Aprobada'}"
																	th:class="${kardex.cveAproRepro == 'R' ? 'badge badge-danger badge-pill' : 'badge badge-success badge-pill'}">
																</label></td>
																<td th:text="${kardex.testType}"></td>
																<td th:text="${kardex.cvePeriod}"></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
</body>

</html>
