<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
								
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/users}">Usuarios</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${user.idUser eq -1}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${user.idUser gt -1}">Editar</li>
					                      </ol>
				                     </div>
			                      
									<h4 class="card-title" th:if="${user.idUser eq -1}">Nuevo usuario</h4>
									<h4 class="card-title" th:if="${user.idUser gt -1}">Editar usuario</h4>
									<form class="cmxform" id="signupForm" th:object="${user}" method="POST" action="save">
										<div class="form-group">
											<label for="username">Usuario</label> <input
												type="text" class="form-control" 
												placeholder="Ej: juan_123" name="username" th:value="${user.username}" maxlength="8" required="required">
										</div>
										<div class="form-group">
											<label for="username">e-mail</label> <input
												type="text" class="form-control" 
												placeholder="usuario@dominio.com.mx" name="email" th:value="${user.email}" maxlength="40" required="required">
										</div>
										<div class="form-group" th:if="${user.idUser gt -1}">
										    <div class="col-md-12">
										      <div class="checkbox">
										        <label>
										          <input type="radio" name="active" th:checked="${user.active}" th:value="true"/> Activo
										        </label>
										      </div>
										    </div>
										</div>
										<div class="form-group" th:if="${user.idUser gt -1}">
											<div class="col-md-12">
										      <div class="checkbox">
										        <label>
										          <input type="radio" name="active" th:checked="${!user.active}" th:value="false" /> Bloqueado
										        </label>
										      </div>
										    </div>
										</div>
										<div class="form-check form-check-flat form-check-primary" th:if="${user.idUser > 0}">
					                      <label class="form-check-label">
					                        <input type="checkbox" class="form-check-input" name="firstLogin" th:checked="${user.firstLogin}">
					                        Primer login
					                      </label>
					                    </div>
					                    <div class="form-check form-check-flat form-check-primary">
					                      <label class="form-check-label">
					                        <input type="checkbox" class="form-check-input" name="inquest" th:checked="${user.inquest}">
					                        Encuesta activa
					                      </label>
					                    </div>
										<div class="form-group" th:if="${user.idUser eq -1}">
											<label for="password">Contrase&ntilde;a</label> 
											<input type="password" class="form-control" id="password"
												placeholder="*************" name="password" required="required">
										</div>
										<div class="form-group" th:if="${user.idUser eq -1}">
											<label for="verifyPassword">Confirme contrase&ntilde;a</label> 
											<input type="password" class="form-control" id="verifyPassword"
												placeholder="*************"  name=verifyPassword required="required">
										</div>
										<div class="form-group">
											<div th:replace="fragments/layout/header :: common_messages"></div>
										</div>
										<div class="form-group">
					                      <label for="rol">Rol</label>
					                        <select required="required" class="form-control" th:field="*{authority}">
					                          <option value="ADMIN">ADMINISTRADOR</option>
					                          <option value="STUDENT">ALUMNO</option>
					                          <option value="CASHIER">CAJERO</option>
					                          <option value="TUTORING_COORDINATOR">COORDINADOR DE TUTOR&Iacute;AS</option>
					                          <option value="TUTOR">TUTOR</option>
					                        </select>
					                    </div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="idUser" th:value="${user.idUser}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/users}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script src="/js/form-validation.js"></script>
				<script src="/js/bt-maxLength.js"></script>
			</div>
		</div>
	</div>
</body>

</html>
