<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>

	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Usuarios</h4>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/users/add}"
									title="Agregar"><span class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
							</div>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Usuario</th>
												<th>Correo electr&oacute;nico</th>
												<th>Status</th>
												<th>Primer login</th>
												<th>Rol</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="usr : ${user.users}">
												<td align="center" th:text="${usr.username}"></td>
												<td th:text="${usr.email}"></td>
												<td>
													<label th:text="${usr.active ? '&nbsp;&nbsp;&nbsp;&nbsp;Activo&nbsp;&nbsp;&nbsp;&nbsp;' : 'Bloqueado'}" th:class="${usr.active ? 'badge badge-success badge-pill' : 'badge badge-danger badge-pill'}">   </label>
												</td>
												<td>
													<label th:text="${usr.firstLogin ? 'Si' : 'No'}" th:class="${usr.firstLogin ? 'badge badge-primary badge-pill' : 'badge badge-warning badge-pill'}">   </label>
												</td>
												<td th:text="${usr.authority}"></td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Resetear contraseña" th:onclick='|reset("idUser", ${usr.idUser});|' >
														<span class="icon-wrench"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="editar" th:onclick='|SAUA.edit("idUser", ${usr.idUser});|' >
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-danger"
														data-toggle="modal"
														title="borrar" th:onclick='|SAUA.toDelete("idUser", ${usr.idUser});|' >
														<span class="icon-trash"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/users/edit}">
									<input type="hidden" name="idUser" id="idUser" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/users/delete}">
									<input type="hidden" name="idUser" id="idUser" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="reset-form"
									th:action="@{/admin/users/resetpassword}">
									<input type="hidden" name="idUser" id="idUser" /> 
									<input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
				<script type="text/javascript">
					function reset(idInput, idValue){
						console.log("idInput:"+idValue);
						$("#" + idInput, "#reset-form").val(idValue);
						$("#reset-form").submit();
					}
				</script>
			</div>
		</div>
	</div>
</body>

</html>
