<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body onload="loadData();">
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>

		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">

					<div class="col-md-6 grid-margin">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title mb-0">Encuestas contestadas</h4>
									<div class="d-flex justify-content-between align-items-center">
										<div class="d-inline-block pt-3">
											<div class="d-md-flex">
												<h2 class="mb-0" th:text="${dataAdminDto.surveyAnswered}"></h2>
												<div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
													<!--<i class="icon-clock text-muted"></i>
													<small class=" ml-1 mb-0"></small> -->
												</div>
											</div>
											<small class="text-gray">Informar a los alumnos que contesten la encuesta.</small>
										</div>
										<div class="d-inline-block">
											<div class="bg-success px-4 py-2 rounded">
												<i class="icon-layers text-white icon-lg"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>			                  
						<div class="col-md-6 grid-margin">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title mb-0">Alumnos con carga autorizada</h4>
									<div class="d-flex justify-content-between align-items-center">
										<div class="d-inline-block pt-3">
											<div class="d-md-flex">
												<h2 class="mb-0" th:text="${dataAdminDto.totalStudents}"></h2>
												<div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
													<!--  <i class="icon-clock text-muted"></i>
													<small class="ml-1 mb-0"></small> -->
												</div>
											</div>
											<small class="text-gray">Tienen su carga académica autorizada.</small>
										</div>
										<div class="d-inline-block">
											<div class="bg-warning px-4 py-2 rounded">
												<i class="icon-people text-white icon-lg"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 grid-margin">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title mb-0">Evaluaciones docentes contestadas</h4>
									<div class="d-flex justify-content-between align-items-center">
										<div class="d-inline-block pt-3">
											<div class="d-md-flex">
												<h2 class="mb-0" th:text="${dataAdminDto.totalsurveyDocentAnswered}"></h2>
												<div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
													<!--  <i class="icon-clock text-muted"></i>
													<small class="ml-1 mb-0"></small> -->
												</div>
											</div>
											<small class="text-gray">Alumnos que han contestado al menos una evaluación docente.</small>
										</div>
										<div class="d-inline-block">
											<div class="bg-warning px-4 py-2 rounded">
												<i class="icon-people text-white icon-lg"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 grid-margin">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title mb-0">Autoevaluaciones contestadas</h4>
									<div class="d-flex justify-content-between align-items-center">
										<div class="d-inline-block pt-3">
											<div class="d-md-flex">
												<h2 class="mb-0" th:text="${dataAdminDto.totalAutosurveyAnswered}"></h2>
												<div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
													<!--  <i class="icon-clock text-muted"></i>
													<small class="ml-1 mb-0"></small> -->
												</div>
											</div>
											<small class="text-gray">Alumnos que han contestado al menos una autoevaluación.</small>
										</div>
										<div class="d-inline-block">
											<div class="bg-warning px-4 py-2 rounded">
												<i class="icon-people text-white icon-lg"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Usuarios registrados</h4>
									<div id="c3-donut-chart"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		function loadData() {
			var teachers = 0;
			var students = 0;
			var tutors = 0;
			$.ajax({
				headers : {
					'X-CSRF-TOKEN' : $('#csrf').val(),
					'Accept' : 'application/json',
					'Content-Type' : 'application/json'
				},
				url : '/api/admin/statistics/admin',
				method : 'get',
				cache : false,
				contentType : 'application/json',
				dataType : 'json',
				success : function(data) {
					$.each(data, function(key, registro) {
						if (registro[0] == "students") {
							students = registro[1];
						}
						if (registro[0] == "teachers") {
							teachers = registro[1];
						}
						if (registro[0] == "tutors") {
							tutors = registro[1];
						}
					});
					c3.generate({
						bindto : '#c3-donut-chart',
						data : {
							columns : [ [ 'Profesores', teachers ], [ 'Tutores', tutors ], [ 'Alumnos', students ], ],
							type : 'donut',
						},
						color : {
							pattern : ['rgba(88,216,163,1)', 'rgba(4,189,254,0.6)', 'rgba(237,28,36,0.6)']
						},
						padding : {
							top : 0,
							right : 0,
							bottom : 30,
							left : 0,
						}
					});
				},
				error : function(data) {
					console.log("Error al cargar los datos.");
				}
			});
		}		
	</script>
	<footer th:replace="fragments/layout/header :: common_footer"></footer>
</body>

</html>
