<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/uaps}">Uaps</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${uapDto.newRegister}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${!uapDto.newRegister}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${uapDto.newRegister}">Nueva Unidad de aprendizaje</h4>
									<h4 class="card-title" th:if="${!uapDto.newRegister}">Editar Unidad de aprendizaje</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${uapDto}" method="POST" action="save">
										<div class="form-group">
											<label for="key">Clave</label> <input
												type="text" class="form-control" 
												placeholder="010106" name="key" th:value="${uapDto.key}" required="required">
										</div>
										<div class="form-group">
											<label for="name">Nombre</label> <input
												type="text" class="form-control" 
												placeholder="Ej. SISTEMAS OPERATIVOS" name="name" th:value="${uapDto.name}" required="required">
										</div>
										<div class="form-group">
											<label for="credit">Cr&eacute;ditos</label> <input
												type="number" class="form-control" 
												placeholder="Ej: 8" name="credit" th:value="${uapDto.credit}" required="required" >
										</div>
										<div class="form-group">
											<label for="common_code">C&oacute;digo com&uacute;n</label> <input
												type="number" class="form-control" 
												placeholder="Ej: 101" name="common_code" th:value="${uapDto.common_code}" required="required">
										</div>
										<div class="form-group">
											<label for="programs">Programa Educativo </label>
											<select required="required" class="form-control" th:field="*{educationalProgram.studentPlanKey}">
												<option th:each="program:${uapDto.programsDto}" th:value="${program.studentPlanKey}" th:text="${program.studentPlanName}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="uapType">Tipo de UAP</label>
											<select required="required" class="form-control" th:field="*{uapType.id}">
												<option th:each="period:${uapDto.uapTypeDtos}" th:value="${period.id}" th:text="${period.category}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="phaseUaps">Etapa de la UAP</label>
											<select required="required" class="form-control" th:field="*{phaseUaps.id}">
												<option th:each="period:${uapDto.phaseDtos}" th:value="${period.id}" th:text="${period.description}"></option>
											</select>
										</div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="newRegister" th:value="${uapDto.newRegister}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/uaps}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
</body>

</htm>