<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Unidades de Aprendizaje (UAP's)</h4>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/uaps/add}"
									title="Agregar"><span class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
							</div>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Clave</th>
												<th>Nombre</th>
												<th>Cr&eacute;ditos</th>
												<th>C&oacute;digo com&uacute;n</th>
												<th>P.E.</th>
												<th>Tipo uap</th>
												<th>Etapa de la uap</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="uap : ${uapDto.uapDtos}">
												<td align="center" th:text="${uap.key}"></td>
												<td th:text="${uap.name}"></td>
												<td align="center" th:text="${uap.credit}"></td>
												<td align="center" th:text="${uap.common_code}"></td>
												<td th:text="${uap.educationalProgram.abr}"></td>
												<td th:text="${uap.uapType.category}"></td>
												<td align="center" th:text="${uap.phaseUaps.abbreviation}"></td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Editar" th:onclick='SAUA.edit("key", [[${uap.key}]]);' >
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-danger"
														data-toggle="modal"
														title="Borrar" th:onclick='SAUA.toDelete("key", [[${uap.key}]]);' >
														<span class="icon-trash"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/uaps/edit}">
									<input type="hidden" name="key" id="key" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/uaps/delete}">
									<input type="hidden" name="key" id="key" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
