<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/applicant}">Solicitantes</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${guestDto.newRegister}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${!guestDto.newRegister}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${guestDto.newRegister}">Nuevo Solicitante [Invitado]</h4>
									<h4 class="card-title" th:if="${!guestDto.newRegister}">Editar Solicitante [Invitado]</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${guestDto}" method="POST" action="saveguest">
										<div class="form-group">
											<label class="col-form-label">Tipo de Beca</label>
											<select id="select-type" required="required" class="form-control" name="grantId" th:field="*{grantId}">
												<option value="-1">Seleccione</option>
												<option th:each="grant:${guestDto.grants}" th:value="${grant.id}"
														th:text="${grant.grant}"></option>
											</select>
										</div>
						                <div class="card" id="answ-mult-div">
											<div class="card-body">
												<h5 class="card-title"> Datos del solicitante</h5>
							                	<div class="form-group">
													<label for="name">Nombre</label>
													<input type="text" class="form-control" placeholder="Ej: Juan" name="name" th:value="${guestDto.name}">
												</div>
												<div class="form-group">
													<label for="lastname">Apellido paterno</label>
													<input type="text" class="form-control" placeholder="Ej: Pérez" name="lastname" th:value="${guestDto.lastname}">
												</div>
												<div class="form-group">
													<label for="secondLastname">Apellido materno</label>
													<input type="text" class="form-control" placeholder="Ej: Pérez" name="secondLastname" th:value="${guestDto.secondLastname}">
												</div>
												<div class="form-group">
													<label for="secondLastname">Origen</label>
													<input type="text" class="form-control" placeholder="Ej: Dirección administrativa" name="origin" th:value="${guestDto.origin}">
												</div>
								             </div>
								         </div>
								         </br>
						                <div class="col-md-12 text-right">
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf"/>
											<input type="hidden" name="newRegister" th:value="${guestDto.newRegister}" id="newRegister"/>
											<a class="btn btn-danger" th:href="@{/admin/applicant}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
</body>

</htm>