<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>

		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Documentaci&oacute;n</h4>
							<div class="add-items text-right">
								<a
									class="add btn btn-primary font-weight-bold todo-list-add-btn"
									th:href="@{/admin/documents/add}" title="Agregar"><span
									class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
							</div>
							<ul class="nav nav-tabs tab-solid tab-solid-danger"
								role="tablist">
								<li class="nav-item"><a class="nav-link active"
									id="tab-5-1" data-toggle="tab" href="#home-5-1" role="tab"
									aria-controls="home-5-1" aria-selected="true">Horarios</a></li>
								<li class="nav-item"><a class="nav-link" id="tab-5-2"
									data-toggle="tab" href="#profile-5-2" role="tab"
									aria-controls="profile-5-2" aria-selected="false">Mapas
										curriculares</a></li>
								<li class="nav-item"><a class="nav-link" id="tab-5-3"
									data-toggle="tab" href="#contact-5-3" role="tab"
									aria-controls="contact-5-3" aria-selected="false">Documentos
										Generales</a></li>
							</ul>
							<!-- Inicia Codigo de tabs -->
							<div class="tab-content tab-content-solid">
								<div class="tab-pane fade active show" id="home-5-1"
									role="tabpanel" aria-labelledby="tab-5-1">

									<div class="row">
										<div class="col-12 table-responsive">
											<table id="order-listing" class="table table-striped">
												<thead>
													<tr align="center">
														<th>Nombre</th>
														<th>Descripci&oacute;n</th>
														<th>Roles autorizados</th>
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody>
													<tr
														th:each="document : ${documentDto.documentsDtoSchedule}">
														<td align="center">
															<button type="button" class="btn btn-link btn-fw"
																th:text="${document.viewName}"
																th:onclick='|SAUA.documentdownload("id", ${document.id});|'>Link</button>
														</td>
														<td th:text="${document.description}"></td>
														<td th:text="${document.authorizationsRole}"></td>
														<td>
															<button type="button" class="btn btn-outline-danger"
																data-toggle="modal" title="Borrar"
																th:onclick='|SAUA.toDelete("id", ${document.id});|'>
																<span class="icon-trash"></span>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<form method="POST" id="delete-form"
											th:action="@{/admin/documents/delete}">
											<input type="hidden" name="id" id="id" /> <input
												type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" />
										</form>
									</div>

								</div>
								<div class="tab-pane fade" id="profile-5-2" role="tabpanel"
									aria-labelledby="tab-5-2">

									<div class="row">
										<div class="col-12 table-responsive">
											<table id="order-listing" class="table">
												<thead>
													<tr align="center">
														<th>Nombre</th>
														<th>Descripci&oacute;n</th>
														<th>Roles autorizados</th>
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="document : ${documentDto.documentsDtoMap}">
														<td>
															<button type="button" class="btn btn-link btn-fw"
																th:text="${document.viewName}"
																th:onclick='|SAUA.documentdownload("id", ${document.id});|'>Link</button>
														</td>
														<td th:text="${document.description}"></td>
														<td th:text="${document.authorizationsRole}"></td>
														<td>
															<button type="button" class="btn btn-outline-danger"
																data-toggle="modal" title="Borrar"
																th:onclick='|SAUA.toDelete("id", ${document.id});|'>
																<span class="icon-trash"></span>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<form method="POST" id="delete-form"
											th:action="@{/admin/documents/delete}">
											<input type="hidden" name="id" id="id" /> <input
												type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" />
										</form>
									</div>


								</div>
								<div class="tab-pane fade" id="contact-5-3" role="tabpanel"
									aria-labelledby="tab-5-3">

									<div class="row">
										<div class="col-12 table-responsive">
											<table id="order-listing" class="table">
												<thead>
													<tr align="center">
														<th>Nombre</th>
														<th>Descripci&oacute;n</th>
														<th>Roles autorizados</th>
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="document : ${documentDto.documentsDto}">
														<td>
															<button type="button" class="btn btn-link btn-fw"
																th:text="${document.viewName}"
																th:onclick='|SAUA.documentdownload("id", ${document.id});|'>Link</button>
														</td>
														<td th:text="${document.description}"></td>
														<td th:text="${document.authorizationsRole}"></td>
														<td>
															<button type="button" class="btn btn-outline-danger"
																data-toggle="modal" title="Borrar"
																th:onclick='|SAUA.toDelete("id", ${document.id});|'>
																<span class="icon-trash"></span>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<form method="POST" id="delete-form"
											th:action="@{/admin/documents/delete}">
											<input type="hidden" name="id" id="id" /> <input
												type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" />
										</form>
									</div>

								</div>
							</div>
							<!-- Termina codigo de tabs -->
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
