<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/question}">Preguntas</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${!askDto.newRegister}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${askDto.newRegister}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${!askDto.newRegister}">Nueva pregunta</h4>
									<h4 class="card-title" th:if="${askDto.newRegister}">Editar Pregunta</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${askDto}">
										<div class="form-group">
											<label for="questionText">Texto de la pregunta *</label> <input
												type="text" class="form-control" id="text"
												placeholder="Aparte de estudiar, ¿A qué te dedicas?" name="text" th:value="${askDto.text}" required="required" >
										</div>
										<div class="form-group">
											<label for="questionPlaceholder">Placeholder de la pregunta</label>
											<p class="text-muted">Este aparecer&aacute; como ayuda para la respuesta del usuario</p>
											<input
												type="text" class="form-control" id="placeholder"
												placeholder="Trabajo en una tienda de abarrotes." name="text" th:value="${askDto.placeHolder}" >
										</div>
										<div class="form-group">
											<label for="questionType">Tipo de pregunta *</label>
											<p class="text-muted">Abierta - El usuario redactar&aacute; la respuesta</p>
											<p class="text-muted">Opciones - El usuario podr&aacute; seleccionar solo una respuesta</p>
											<p class="text-muted">Opci&oacute;n m&uacute;ltiple - El usuario podr&aacute; selccionar m&aacute;s de una respuesta</p>
											<p class="text-muted">Opci&oacute;n Si/No - El usuario solo podr&aacute; seleccionar Si o No</p>
											<p class="text-muted">Rating - El usuario podr&aacute; seleccionar una calificaci&oacute; en escala del 1 al 10</p>
											<select required="required" id="select-type" class="form-control" th:field="*{questionType}" onchange="validation()">
												<option value="-1" selected>Selccione</option>
												<option value="ABIERTA_TEXT" th:selected="${askDto.questionType eq 'ABIERTA'}">Abierta - Texto</option>
												<option value="ABIERTA_NUM" th:selected="${askDto.questionType eq 'ABIERTA'}">Abierta - N&uacute;mero</option>
												<option value="OPCIONES" th:selected="${askDto.questionType eq 'OPCIONES'}">Opciones</option>
												<option value="MULTIPLE" th:selected="${askDto.questionType eq 'MULTIPLE'}">Opci&oacute;n m&uacute;ltiple</option>
												<option value="OPCION" th:selected="${askDto.questionType eq 'OPCION'}">Opci&oacute;n Si/No</option>
												<option value="RATING_0_10" th:selected="${askDto.questionType eq 'RATING_0_10'}">Rating</option>
											</select>
										</div>
						                <div class="card" id="answ-mult-div">
											<div class="card-body">
												<h5 class="card-title">Respuestas a pregunta de opci&oacute;n m&uacute;ltiple *</h5>
							                	<p class="card-description">Agregar respuestas(No usar comas. M&aacute;ximo 5 respuestas.)</p>
												<div class="form-group">
													<input type="text" value="" data-role="tagsinput" id="answ-mult"/>
								                </div>
								             </div>
								         </div>
								          <div class="card" id="answ-opc-div">
											<div class="card-body">
												<h5 class="card-title">Respuestas a pregunta de opciones *</h5>
							                	<p class="card-description">Agregar respuestas(No usar comas. M&aacute;ximo 5 respuestas.)</p>
												<div class="form-group">
													<input type="text" value="" data-role="tagsinput" id="answ-opc"/>
								                </div>
								             </div>
								         </div>
								         </br>
						                <div class="col-md-12 text-right">
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf"/>
											<a class="btn btn-danger" th:href="@{/admin/programs}">Cancelar</a>
											<button type="button" class="btn btn-primary mr-2" onclick="save()">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script type="text/javascript">
					$(document).ready(function () {
						$("#answ-mult-div").hide();
						$("#answ-opc-div").hide();
					});
					function validation() {
						var val = $("#select-type option:selected").val();
						if(val == "MULTIPLE"){
							$("#answ-mult-div").show();
						}else{
							$("#answ-mult-div").hide();
						}
						if(val == "OPCIONES"){
							$("#answ-opc-div").show();
						}else{
							$("#answ-opc-div").hide();
						}
					}
					function save(){
						var optionSel = $("#select-type option:selected").val();
						var questionText = $("#text").val();
						var answOpcText = $("#answ-opc").val();
						var answMultText = $("#answ-mult").val();
						
						if(questionText.length <= 0 || optionSel == "-1"){
							swal({
						        title: 'Faltan datos por ingresar/seleccionar.',
						        icon: 'error',
						        button: {
						          text: "Ok",
						          value: true,
						          visible: true,
						          className: "btn btn-warning"
						        }
						      });
						}else{
							swal({
						        title: '',
						        text: 'Datos guardados correctamente.',
						        icon: 'success',
						        button: {
						          text: "Ok",
						          value: true,
						          visible: true,
						          className: "btn btn-success"
						        }
						      });
						}
						
						$.ajax({
						  headers:
					        { 'X-CSRF-TOKEN': $('#csrf').val(),
					          'Accept': 'application/json',
					          'Content-Type': 'application/json'                    
					        },
							url : '/api/admin/questions/save',
							method : 'post',
							cache : false,
							contentType : 'application/json',
							dataType : 'json',
							data : JSON.stringify({
								"text" : questionText,
								"questionType" : optionSel,
								"idsQuestionsSelectedString" : answOpcText + answMultText,
								"placeHolder": $("#placeholder").val()
							}),
							success : function(data){
					        	console.log("Success!!!!");
					        	swal({
					                title: '',
					                text: 'Datos guardados correctamente!!',
					                icon: 'success',
					                button: {
					                  text: "Ok",
					                  value: true,
					                  visible: true,
					                  className: "btn btn-primary"
					                }
					              }).then(function() {
					            	    window.location.href = "/admin/question";
					              });
							},
							error: function(data) {
								console.log("Error!!!!");
								swal({
							        title: 'Algo salió mal.',
							        text: 'Reintentelo más tarde, si el problema persiste, contacte al administrador.',
							        icon: 'error',
							        button: {
							          text: "Ok",
							          value: true,
							          visible: true,
							          className: "btn btn-warning"
							        }
							      });
							}
						});
					}
				</script>
			</div>
		</div>
	</div>
</body>

</htm>