<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Preguntas para encuestas</h4>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/question/add}"
									title="Agregar"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Nueva</a>
							</div>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Pregunta</th>
												<th>Tipo de pregunta</th>
												<th>Estatus</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="ask : ${askDto.questions}">
												<td>
													<textarea class="form-control" rows="2" cols="100" th:text="${ask.text}" disabled></textarea>
												</td>
												<td align="center" th:text="${ask.questionType}"></td>
												<td align="center"><label
													th:text="${ask.status == false ? 'Inactiva' : 'Activa'}"
													th:class="${ask.status == false ? 'badge badge-danger badge-pill' : 'badge badge-success badge-pill'}">
												</label></td>
												<td>
													<button type="button" class="btn btn-outline-info" th:if="${ask.questionType == 'OPCIONES'}"
														title="Ver respuestas" th:onclick='|SAUA.authorized("id", ${ask.id});|' >
														<span class="icon-eye"></span>
													</button>
													
												</td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Editar" th:onclick='SAUA.edit("id",[[${ask.id}]]);' disabled>
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-danger"
														data-toggle="modal"
														title="Eliminar" th:onclick='SAUA.toDelete("id",[[${ask.id}]]);' >
														<span class="icon-trash"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/question/edit}">
									<input type="hidden" name="id" id="id" /> 
									<input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/question/delete}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
