<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">

				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-marginstretch-card ">
							<div class="card">
								<div class="card-body">

									<!-- Inicia Modal -->
									<div class="modal fade" id="questionsModal" tabindex="-1" role="dialog"
										aria-labelledby="questionsModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="questionsModalLabel">Seleccionar
														preguntas</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<form id="form-add-charge">
														<div class="form-group">
															<label for="program">Categor&iacute;a</label> <select
																required="required" class="form-control" id="categories"
																th:onchange='|SAUA.selectQuestionsByCategory();|'
																name="idCategory">
																<option th:each="cat:${inquestDto.categoryQuestionList}"
																	th:value="${cat.id+'-'+cat.description}"
																	th:text="${cat.name}"></option>
															</select>
														</div>
														<div class="row">
															<div class="col-12 table-responsive">
																<table id="order-listing-two" class="table">
																	<thead>
																		<tr>
																			<th>Id</th>
																			<th>Pregunta</th>
																			<th>Tipo</th>
																			<th>Selecc</th>
																		</tr>
																	</thead>
																	<tbody>
																	</tbody>
																</table>
															</div>

															<div class="panel-footer" style="padding: 0 1em;">
																<div class="row">
																	<div class="col-md-12">
																		<nav aria-label="Page navigation example"
																			th:unless="${totalPage == 0}">
																			<ul class="pagination-md"
																				id="pagination-demo"></ul>
																		</nav>
																	</div>
																</div>
															</div>


														</div>
														<div class="modal-footer">
															<input type="hidden" id="csrf"
																th:name="${_csrf.parameterName}"
																th:value="${_csrf.token}" />
															<button type="button" class="btn btn-danger"
																data-dismiss="modal">Cancelar</button>
															<button type="button" class="btn btn-primary"
																onclick="selectedQuestions()">Seleccionar</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!-- Termina Modal -->

									<div class="col-md-12 d-flex justify-content-end">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a th:href="@{/admin/inquest}">Encuestas</a>
											</li>
											<li class="breadcrumb-item active" aria-current="page"
												th:if="${inquestDto.id eq -1}">Agregar</li>
											<li class="breadcrumb-item active" aria-current="page"
												th:if="${inquestDto.id gt -1}">Editar</li>
										</ol>
									</div>
									<h4 class="card-title" th:if="${inquestDto.id eq -1}">Nueva
										encuesta</h4>
									<h4 class="card-title" th:if="${inquestDto.id gt -1}">Editar
										encuesta</h4>
									<form id="editable-form" class="editable-form" th:object="${inquestDto}"
										method="POST" action="save">
										<div class="form-group">
											<label for="schoolCycle">Nombre</label>
											<input type="text" class="form-control"
												placeholder="Encuesta de nuevo ingreso" name="name"
												th:value="${inquestDto.name}" required="required" id="name">
										</div>
										<div class="form-group">
											<label for="schoolCycle">Descripci&oacute;n</label> <input type="text"
												class="form-control"
												placeholder="Encuesta para alumnos de nuevo ingreso" name="description"
												th:value="${inquestDto.description}" required="required"
												id="description">
										</div>
										<div class="form-group-row">
											<label for="activePeriodAdmin">Roles a los que va dirigida</label>
											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-check-input" id="chkStudents"
														th:checked="${inquestDto.roleStudentSelected}"
														value="student">Alumnos
												</label>
												<div class="form-group row col-md-6" id="student-div">
													<div class="col">
														<label>Inicia:</label>
														<input class="form-control" data-inputmask="'alias': 'datetime'"
															id="studentini" th:value="${inquestDto.studentInitDate}" />
													</div>
													<div class="col">
														<label>Termina:</label>
														<input class="form-control" data-inputmask="'alias': 'datetime'"
															id="student-end" th:value="${inquestDto.studentEndDate}" />
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-check-input" id="chkTeachers"
														th:checked="${inquestDto.roleTeacherSelected}"
														value="teacher">Profesores
												</label>
												<div class="form-group row col-md-6" id="teacher-div">
													<div class="col">
														<label>Inicia:</label>
														<input class="form-control" data-inputmask="'alias': 'datetime'"
															id="teacher-ini" th:value="${inquestDto.teacherInitDate}" />
													</div>
													<div class="col">
														<label>Termina:</label>
														<input class="form-control" data-inputmask="'alias': 'datetime'"
															id="teacher-end" th:value="${inquestDto.teacherEndDate}" />
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-check-input" id="chkTutors"
														th:checked="${inquestDto.roleTutorSelected}" value="tut">Tutores
												</label>
												<div class="form-group row col-md-6" id="tut-div">
													<div class="col">
														<label>Inicia:</label>
														<input class="form-control" data-inputmask="'alias': 'datetime'"
															id="tut-ini" th:value="${inquestDto.tutInitDate}" />
													</div>
													<div class="col">
														<label>Termina:</label>
														<input class="form-control" data-inputmask="'alias': 'datetime'"
															id="tut-end" th:value="${inquestDto.tutEndDate}" />
													</div>
												</div>
											</div>
										</div>
										<input type="hidden" id="selection" th:value="${inquestDto.questionsSelected}"
											name="selection">
										<input type="hidden" id="newreg" th:value="${inquestDto.newRegistry}"
											name="newreg">
										<input type="hidden" id="id" th:value="${inquestDto.id}" name="id">

										<div class="col-12">
											<div class="card">
												<div class="card-body">
													<div class="add-items text-right">
														<a class="add btn btn-primary font-weight-bold todo-list-add-btn"
															title="Agregar" data-toggle="modal"
															data-target="#questionsModal"><span
																class="icon-plus"></span>&nbsp;&nbsp;Agregar
															preguntas</a>
													</div>
													<h4 class="card-title">Preguntas de la encuesta</h4>
													<p class="card-description">
														El orden en que se presenta, es el orden en que se
														mostrar&aacute; al usuario.
													</p>
													<div class="row">
														<div class="col-md-12">
															<div id="dragula-event-left" class="py-2">
																<div class="card rounded border mb-2"
																	th:each="inq : ${inquestDto.questionsListSelected}">
																	<div class="card-body p-3">
																		<div class="media">
																			<i
																				class="icon-sm text-primary align-self-center mr-3">
																				<div class="badge badge-pill badge-outline-primary"
																					th:text="${inq.order+'-'+inq.id}">
																				</div>
																			</i>
																			<div class="media-body" th:name="${inq.id}">
																				<h6 class="mb-1" th:text="${inq.text}">
																				</h6>
																				<p class="mb-0 text-muted"
																					th:text="${inq.questionType}">
																				</p>
																			</div>
																			<button type="button"
																				class="btn btn-outline-danger"
																				data-toggle="modal" title="Borrar">
																				<span class="icon-trash"></span>
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<br>
										<div class="col-md-12 text-right">
											<a class="btn btn-danger" th:href="@{/admin/inquest}">Cancelar</a>
											<button type="button" onclick="validation()"
												class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/formpickers.js}"></script>
				<script th:src="@{/js/x-editable.js}"></script>
				<script th:src="@{/js/dragula.js}"></script>
				<script type="text/javascript">
					$(document).ready(function () {
						$("#student-div").hide();
						$("#teacher-div").hide();
						$("#tut-div").hide();

						$("input[type=checkbox]:checked").each(function (index, check) {
							if (check.value == "student") {
								$("#student-div").show();
							}
							if (check.value == "teacher") {
								$("#teacher-div").show();
							}
							if (check.value == "tut") {
								$("#tut-div").show();
							}
						});
					});

					$("input[type=checkbox]").click(function () {
						if ($(this).val() == "student") {
							if ($(this).is(':checked')) {
								$("#student-div").show();
							} else {
								$("#student-div").hide();
							}
						} else if ($(this).val() == "teacher") {
							if ($(this).is(':checked')) {
								$("#teacher-div").show();
							} else {
								$("#teacher-div").hide();
							}
						} else if ($(this).val() == "tut") {
							if ($(this).is(':checked')) {
								$("#tut-div").show();
							} else {
								$("#tut-div").hide();
							}
						}
					});

					function validation() {
						var flg = false;
						var chkStudents = $("#chkStudents").is(':checked');
						var chkTeachers = $("#chkTeachers").is(':checked');
						var chkTutors = $("#chkTutors").is(':checked');

						if ($("#name").val() == "") {
							flg = true;
						}
						if ($("#description").val() == "") {
							flg = true;
						}
						if (chkStudents) {
							if ($("#studentini").val() == "" || $("#student-end").val() == "") {
								flg = true;
							}
						}
						if (chkTeachers) {
							if ($("#teacher-ini").val() == "" || $("#teacher-end").val() == "") {
								flg = true;
							}
						}
						if (chkTutors) {
							if ($("#tut-ini").val() == "" || $("#tut-end").val() == "") {
								flg = true;
							}
						}

						if (flg) {
							swal({
								title: '',
								text: 'Faltan datos por completar.',
								icon: 'warning',
								button: {
									text: "Ok",
									value: true,
									visible: true,
									className: "btn btn-warning"
								}
							});
						} else {
							save();
						}
					}

					function save() {
						var chkStudents = $("#chkStudents").is(':checked');
						var chkTeachers = $("#chkTeachers").is(':checked');
						var chkTutors = $("#chkTutors").is(':checked');

						var roles = new Array();
						if (chkStudents) {
							roles.push("STUDENT");
						}
						if (chkTeachers) {
							roles.push("TEACHER");
						}
						if (chkTutors) {
							roles.push("TUTOR");
						}

						$.ajax({
							headers:
							{
								'X-CSRF-TOKEN': $('#csrf').val(),
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							url: '/api/inquest/saveinquest',
							method: 'post',
							cache: false,
							dataType: 'json',
							data: JSON.stringify({
								"name": $("#name").val(),
								"description": $("#description").val(),
								"roles": roles.toString(),
								"questionsSelected": $("#selection").val(),
								"studentInitDate": $("#studentini").val(),
								"studentEndDate": $("#student-end").val(),
								"teacherInitDate": $("#teacher-ini").val(),
								"teacherEndDate": $("#teacher-end").val(),
								"tutInitDate": $("#tut-ini").val(),
								"tutEndDate": $("#tut-end").val(),
								"newRegistry": $("#newreg").val(),
								"id": $("#id").val()
							}),
							success: function (data) {
								console.log("Success!!!");
								swal({
									title: 'Encuesta guardada correctamente.',
									text: '',
									icon: 'success',
									button: {
										text: "Ok",
										value: true,
										visible: true,
										className: "btn btn-primary"
									}
								}).then(function () {
									window.location.href = "/admin/inquest";
								});
							},
							error: function (data) {
								swal({
									title: '',
									text: 'Ocurrió un error.',
									icon: 'error',
									button: {
										text: "Ok",
										value: true,
										visible: true,
										className: "btn btn-warning"
									}
								});
							}
						}).done(function () {
							console.log("Success!!!!");
						});
					}


					function selectedQuestions() {
						$("#questionsModal").modal('hide');
						console.log("Selection:" + $("#selection").val());

						$.ajax({
							headers:
							{
								'X-CSRF-TOKEN': $('#csrf').val(),
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							url: '/api/admin/questions/listfromlist',
							method: 'post',
							cache: false,
							dataType: 'json',
							data: JSON.stringify({
								"idsQuestionsSelectedString": $("#selection").val()
							}),
							success: function (data) {
								$("#selection").attr("value", "");
								const element = document.getElementById("dragula-event-left");
								while (element.firstChild) {
									element.removeChild(element.lastChild);
								}
								$.each(data, function (key, registro) {
									$("#dragula-event-left").append(
										"<div class='card rounded border mb-2'>"
										+ "<div class='card-body p-3'>"
										+ "<div class='media'>"
										+ "<div class='media-body' name='" + registro[0] + "'>"
										+ "<h6 class='mb-1'>" + registro[1] + "</h6>"
										+ "<p class='mb-0 text-muted'>" + registro[2]
										+ "</p>"
										+ "</div>"
										+ "<button type='button'"
										+ "class='btn btn-outline-danger'"
										+ "data-toggle='modal' title='Borrar'>"
										+ "<span class='icon-trash'></span>"
										+ "</button>"
										+ "</div>"
										+ "</div>"
										+ "</div>"
									);
									if ($("#selection").val() == "") {
										$("#selection").attr("value", registro[0]);
									} else {
										$("#selection").attr("value", $("#selection").val() + "," + registro[0]);
									}
								});
							},
							error: function (data) {
								swal({
									title: '',
									text: 'Ocurrió un error.',
									icon: 'error',
									button: {
										text: "Ok",
										value: true,
										visible: true,
										className: "btn btn-warning"
									}
								});
							}
						}).done(function () {
							console.log("Success!!!!");
						});
					}

					function checkedInput(idAnswer, check) {
						var selectQuestions = new Array();
						if (check.checked) {
							if ($("#selection").val() == "##") {
								$("#selection").attr("value", idAnswer);
							} else if ($("#selection").val() == "") {
								$("#selection").attr("value", idAnswer);
							} else {
								$("#selection").attr("value", $("#selection").val() + "," + idAnswer);
							}
						} else {
							if ($("#selection").val() != "##") {
								$("#selection").val().split(",").forEach(function (item) {
									if (item != idAnswer) {
										selectQuestions.push(item);
									}
								});
								$("#selection").attr("value", selectQuestions);
							}
						}
					}

					function deleteq(idAnswer) {
						var selectionArray = $("#selection").val().split(',');
						selectionArray = selectionArray.filter(item => idAnswer != item);
						$("#selection").attr("value", selectionArray);
					}
				</script>
			</div>
		</div>
	</div>
</body>

</html>