<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							
							<h4 class="card-title">Respuestas de la encuesta</h4>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/inquest/exportAnswersBackToSchool}"
									title="Agregar"><span class="icon-cloud-download"></span>&nbsp;&nbsp;Exportar .xls</a>
							</div>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Matricula</th>
												<th>Nombre</th>
												<th>Pregunta</th>
												<th>Respuesta</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="answ : ${userAnswerDto.userAnswers}">
												<td align="center" th:text="${answ.user.studentDto.register}"></td>
												<td align="center" th:text="${answ.user.studentDto.name+' '+answ.user.studentDto.lastname+' '+answ.user.studentDto.secondLastname}"></td>
												<td th:text="${answ.question.text}"></td>
												<td th:text="${(answ.answer != null)?((answ.answer.text eq 'Si(especifique)') or (answ.answer.text eq 'En otro lugar(indique)'))?answ.personalizeAnswer : answ.answer.text : answ.personalizeAnswer}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
