<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${tutorshipDto.authority == 'ADMIN'}">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div  th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${tutorshipDto.authority == 'TUTOR'}">
			<div th:replace="fragments/layout/header :: common_notifications" ></div>
			<div  th:replace="fragments/layout/header :: common_navbar_tutor" ></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
				<div id="div-messagesInfo">
					<div id="div-info" class="alert alert-danger"  role="alert" th:unless="${tutorshipDto.isPeriod}">El periodo de autorizaci&oacute;n de carga acad&eacute;mica a&uacute;n no inicia o ha finalizado.</div>
					
				</div>
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>

							<h4 class="card-title">Tutorados asignados</h4>
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
										<tr align="center">
											<th>Matr&iacute;cula</th>
											<th>Nombre Estudiante</th>
											<th>P.E. Alumno</th>
											<th>Grupo</th>
											<th>Carga acad&eacute;mica</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="tutorship : ${tutorshipDto.tutorshipsDto}">
											<td th:text="${tutorship.student.register}"></td>
											<td th:text="${tutorship.student.name+' '+tutorship.student.lastname+' '+tutorship.student.secondLastname}"></td>
											<td align="center" th:text="${tutorship.student.programDto.abr}"></td>
											<td th:text="${tutorship.student.groupDto.name+' '+ tutorship.student.groupDto.abbreviation}"></td>

											<td align="center">
												<label th:text="${tutorship.loadAuthorizationDto == null ? 'No Autorizada' : 'Autorizada'}" th:class="${tutorship.loadAuthorizationDto == null ? 'badge badge-warning badge-pill' : 'badge badge-primary badge-pill'}">   </label>
											</td>
											<td>
												<button type="button" class="btn btn-outline-primary" th:unless="${tutorship.loadAuthorizationDto} == null"
														title="Mostrar carga autorizada" th:onclick='|SAUA.authorized("id", ${tutorship.id});|' >
													<span class="icon-eye"></span>
												</button>

											</td>
											<td>
												<button type="button" class="btn btn-outline-info" th:if="${tutorship.loadAuthorizationDto != null and tutorshipDto.isPeriod}"
														title="Desautorizar carga autorizada" th:onclick='|SAUA.toDesAuthorization("id", ${tutorship.loadAuthorizationDto.id});|'>
													<span class="icon-lock-open"></span>
												</button>
												<button type="button" class="btn btn-outline-primary" th:if="${tutorship.loadAuthorizationDto == null and !tutorship.student.firstLogin and tutorshipDto.isPeriod}"
														title="Autorizar carga académica" th:onclick='|SAUA.show("id", ${tutorship.id});|'>
													<span class="icon-lock"></span>
												</button>
												<button type="button" class="btn btn-outline-primary" th:if="${tutorship.loadAuthorizationDto == null and tutorship.student.firstLogin}"
														title="Autorizar carga académica" disabled="disabled">
													<span class="icon-lock"></span>
												</button>
											</td>
											<td>
												<button type="button" class="btn btn-outline-success"
														data-toggle="modal"
														title="Ver historial académico" th:onclick='|SAUA.kardex("id", ${tutorship.id});|' formtarget="blank">
													<span class="icon-book-open"></span>
												</button>
											</td>
											<td>
												<button type="button" class="btn btn-outline-primary" th:if="${!tutorship.student.firstLogin}"
														title="Generar papeleta" th:onclick='SAUA.tutorpapeletadownloadByStudent("register",[[${tutorship.student.register}]]);'>
													<span class="icon-layers"></span>
												</button>
												<button type="button" class="btn btn-outline-primary" th:unless="${!tutorship.student.firstLogin}" disabled="disabled"
														title="Generar papeleta">
													<span class="icon-layers"></span>
												</button>
											</td>
											<td>
												<button type="button" class="btn btn-outline-danger"
														data-toggle="modal"
														title="Baja tutorado" th:onclick='|SAUA.edit("id", ${tutorship.id});|' >
													<span class="icon-trash"></span>
												</button>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="authorized-form"
									  th:action="@{/tutor/tutoreds/authorized}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="desauthorized-form"
									  th:action="@{/tutor/tutoreds/desauthorized}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="show-form"
									  th:action="@{/tutor/tutoreds/load}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="kardex-form"
									  th:action="@{/tutor/tutoreds/kardex}" target="_blank">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="edit-form"
									  th:action="@{/tutor/tutoreds/edit}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>




						</div>
							<div class="add-items text-left">
								
								<a class="add btn btn-dark font-weight-bold todo-list-add-btn" th:href="@{/tutor/tutoreds/exportTutoreds}"
									title="Agregar"><span class="fas fa-file-excel"></span>&nbsp;&nbsp;Exportar a Excel</a>
								
							</div>
					</div>

				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
				<script th:src="@{/js/all.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
