<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a th:href="@{/admin/students}">Alumnos</a></li>
											<li class="breadcrumb-item active" aria-current="page" th:if="${studentDto.newRegister}">Agregar</li>
											<li class="breadcrumb-item active" aria-current="page" th:if="${!studentDto.newRegister}">Editar</li>
										</ol>
									</div>
									<div class="col-md-12 grid-margin stretch-card">
										<div class="card">
											<div class="card-body">
												<h4 class="card-title" th:if="${studentDto.newRegister}">Nuevo alumno</h4>
												<h4 class="card-title" th:if="${!studentDto.newRegister}">Editar alumno</h4>
												<div class="form-group">
													<div th:replace="fragments/layout/header :: common_messages"></div>
												</div>
												<div class="row mt-4">
													<div class="col-md-12">
														<ul class="nav nav-tabs tab-solid-light" role="tablist">
															<li class="nav-item">
																<a class="nav-link active" id="tab-1-1" data-toggle="tab" href="#academic-1-1" role="tab" aria-controls="academic-1-1" aria-selected="true">
																	<i class="icon-notebook"></i>Datos Acad&eacute;micos
																</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" id="tab-1-2" data-toggle="tab" href="#personal-1-1" role="tab" aria-controls="personal-1-1" aria-selected="false">
																	<i class="icon-user"></i>Datos personales
																</a>
															</li>
														</ul>
														<form id="register-student-form" th:object="${studentDto}" method="POST" action="save">
															<div class="tab-content tab-content-basic">
																<div class="tab-pane fade show active" id="academic-1-1" role="tabpanel" aria-labelledby="tab-1-1">
																	<div class="form-group">
																		<label class="col-form-label">Matr&iacute;cula</label>
																		<input class="form-control" maxlength="8" id="register" type="text" placeholder="Ej: 07046511" name="register"
																			th:value="${studentDto.register}" th:readonly="${!studentDto.newRegister}">
																	</div>
																	<div class="form-group">
																		<label for="semester">Semestre</label>
																		<select required="required" class="form-control" th:field="*{semester}">
																			<option value="0" th:selected="${studentDto.semester eq '0'}">CERO</option>
																			<option value="1" th:selected="${studentDto.semester eq '1'}">PRIMERO</option>
																			<option value="2" th:selected="${studentDto.semester eq '2'}">SEGUNDO</option>
																			<option value="3" th:selected="${studentDto.semester eq '3'}">TERCERO</option>
																			<option value="4" th:selected="${studentDto.semester eq '4'}">CUARTO</option>
																			<option value="5" th:selected="${studentDto.semester eq '5'}">QUINTO</option>
																			<option value="6" th:selected="${studentDto.semester eq '6'}">SEXTO</option>
																			<option value="7" th:selected="${studentDto.semester eq '7'}">SEPTIMO</option>
																			<option value="8" th:selected="${studentDto.semester eq '8'}">OCTAVO</option>
																			<option value="9" th:selected="${studentDto.semester eq '9'}">NOVENO</option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label for="secondLastname">Generaci&oacute;n</label>
																		<input type="text" class="form-control" placeholder="Ej: 2007 - 2013" name="generation" th:value="${studentDto.generation}">
																	</div>
																	<div class="form-group">
																		<label for="income">Tipo de ingreso </label>
																		<select required="required" class="form-control" th:field="*{incomeDto.id}">
																			<option th:each="income:${studentDto.incomes}" th:value="${income.id}" th:text="${income.description}"></option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label for="group">Grupo</label>
																		<select required="required" class="form-control" th:field="*{groupDto.id}">
																			<option th:each="group:${studentDto.groupsDto}" th:value="${group.id}" th:text="${group.name+' - '+group.educationalProgramDto.studentPlanName}"></option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label for="studentStatusDtos">Estatus</label>
																		<select required="required" class="form-control" th:field="*{studentStatusDto.id}">
																			<option th:each="studentstatus:${studentDto.studentStatusDtos}" th:value="${studentstatus.id}" th:text="${studentstatus.description}"></option>
																		</select>
																	</div>
																	<!--<div class="form-group">
																		<label for="phone">Total Autoevaluaciones contestadas</label>
																		<input type="text" class="form-control" placeholder="Ej: 0" name="totalAutoEval" th:value="${studentDto.totalAutoEval}" maxlength="3" required="required">
																	</div>
																	<div class="form-group">
																		<label for="phone">Total Evaluaciones docentes contestadas</label>
																		<input type="text" class="form-control" placeholder="Ej: 0" name="totalTeacherEval" th:value="${studentDto.totalTeacherEval}" maxlength="3" required="required">
																	</div> -->
																</div>
																<div class="tab-pane fade" id="personal-1-1" role="tabpanel" aria-labelledby="tab-1-2">
																	<div class="form-group">
																		<label for="name">Nombre</label>
																		<input type="text" class="form-control" placeholder="Ej: Juan" name="name" th:value="${studentDto.name}">
																	</div>
																	<div class="form-group">
																		<label for="lastname">Apellido paterno</label>
																		<input type="text" class="form-control" placeholder="Ej: Pérez" name="lastname" th:value="${studentDto.lastname}">
																	</div>
																	<div class="form-group">
																		<label for="secondLastname">Apellido materno</label>
																		<input type="text" class="form-control" placeholder="Ej: Pérez" name="secondLastname" th:value="${studentDto.secondLastname}">
																	</div>
																	<div class="form-group">
																		<label for="gender">Genero</label>
																		<select required="required" class="form-control" th:field="*{gender}">
																			<option value="F" th:selected="${studentDto.gender eq 'F'}">FEMENINO</option>
																			<option value="M" th:selected="${studentDto.gender eq 'M'}">MASCULINO</option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label for="curp">CURP</label>
																		<input type="text" class="form-control" placeholder="Ej: MAHJ280603MSPRRV09" name="curp" maxlength="18" id="curp" th:value="${studentDto.curp}">
																	</div>
																	<div class="form-group">
																		<label for="email">Correo electr&oacute;nico</label>
																		<input type="text" class="form-control" placeholder="Ej: usuario@dominio.com" name="email" th:value="${studentDto.email}">
																	</div>
																	<div class="form-group">
																		<label for="phone">Tel&eacute;fono</label>
																		<input type="text" class="form-control" placeholder="Ej: 5556202010" name="phone" th:value="${studentDto.phone}" maxlength="10" required="required">
																	</div>
																</div>
															</div>
															<div class="col-md-12 text-right">
																<input type="hidden" name="newRegister" th:value="${studentDto.newRegister}" />
																<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
																<a class="btn btn-danger" th:href="@{/admin/students}">Cancelar</a>
																<button type="submit" class="btn btn-primary mr-2">Guardar</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/tabs.js}"></script>
				<script type="text/javascript">
					jQuery(document).ready(function(){
						jQuery("#register").on('input', function (evt) {
							jQuery(this).val(jQuery(this).val().replace(/[^0-9]/g, ''));
						});
					});
					
					(function($) {
						  'use strict';
						  $.validator.setDefaults({
						    submitHandler: function() {
						    	$("#register-student-form").submit();
						    }
						  });
						  $(function() {
						    $("#register-student-form").validate({
						      rules: {
						    	name: "required",
						        lastname: "required",
						        secondLastname: "required",
						        generation: "required",
						        email: {
						          required: true,
						          email: true
						        },
						        register:{
						        	required: true,
						        	minlength: 8
						        },
						        curp: {
						        	required: false,
						        	minlength: 18,
						        }
						      },
						      messages: {
						    	name: "Ingresa tu nombre",
						        lastname: "Ingresa tu apellido paterno",
						        secondLastname: "Ingresa tu apellido materno",
						        generation: "Ingresa la generaci\u00F3n a la que perteneces",
						        register: {
						        	required: "Ingresa tu matr\u00EDcula",
						        	minlength: "Tu matr\u00EDcula debe tener un m\u00EDnimo de 8 caracteres"
						        },
						        curp: {
						        	required: "Ingresa tu CURP",
						        	minlength: "Tu CURP debe tener 18 caracteres"
						        },
						        email: "Ingresa un e-mail v\u00E1lido."
						      },
						      errorPlacement: function(label, element) {
						        label.addClass('mt-2 text-danger');
						        label.insertAfter(element);
						      },
						      highlight: function(element, errorClass) {
						        $(element).parent().addClass('has-danger')
						        $(element).addClass('form-control-danger')
						      }
						    });
						  });
						})(jQuery);
				</script>
			</div>
		</div>
	</div>
</body>

</html>