<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>

		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>

							<div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
								<div class="modal" id="exampleModal-4" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalLabel-4"
									aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel-4">Agregar
													a grupo</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<form id="form-add-charge" th:object="${studentDto}">
													<div class="form-group">
														<label for="income">Matr&iacute;cula</label> <input
															type="text" class="form-control" id="student-register"
															disabled="disabled">
													</div>
													<div class="form-group">
														<label for="group">Grupo</label> <select
															required="required" class="form-control" id="groups-req"
															name="idGroup" th:onblur='|SAUA.uapsRequiredForGroup();|'>
															<option></option>
														</select>
													</div>
													<div class="form-group" id="required-uaps">
														<label class="badge badge-outline-danger badge-pill"
															for="req">UAPs obligatorias</label>
														<div class="row">
															<div class="col-12 table-responsive">
																<table id="order-listing-two" class="table">
																	<thead>
																		<tr>
																			<th>Uap</th>
																			<th>Profesor</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr></tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<input type="hidden" name="studentRegister"
															id="studentRegister"> <input type="hidden"
															id="csrf" th:name="${_csrf.parameterName}"
															th:value="${_csrf.token}" />
														<button type="button" class="btn btn-danger"
															data-dismiss="modal">Cancelar</button>
														<button type="button" class="btn btn-primary"
															th:onclick='|SAUA.admSaveCharge();|'>Guardar</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>

							<h4 class="card-title">Alumnos</h4>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/students/add}" title="Agregar">
								<span class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
							</div>
							
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-12 d-flex justify-content-end">
										<form id="form-eval" class="form-inline" method="POST" th:action="@{/admin/students}">
											<div class="form-group">
												<input type="text" class="form-control" id="searchByValue" placeholder="Texto a buscar" name="searchByValue" th:value="${studentDto.searchByValue}"/>&nbsp;
												<input type="hidden" id="currentPage" name="page" th:value="${studentDto.page}" />
												<input type="hidden" id="size" name="size" th:value="${studentDto.size}" />
												<input type="hidden" id="totalPage" name="totalPage" th:value="${studentDto.totalPages}" />
												<input type="hidden" name="direction" th:value="${studentDto.direction}" />
												<input type="hidden" name="pageNumber" th:value="${page}" />
												<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											</div>
											<div class="form-group">
												<select name="searchBy" id="searchBy"
													class="form-control">
													<option th:each="c : ${studentDto.comboSearch}"
														th:value="${c}" th:text="${c}"
														th:selected="${c == studentDto.searchBy}"></option>
												</select>
											</div>&nbsp;
											<button type="button" class="btn btn-default" onclick="SAUA.search();">Buscar</button>&nbsp;
											<button type="button" class="btn btn-link" onclick="SAUA.clear();">Limpiar</button>
										</form>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-list" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Matr&iacute;cula</th>
												<th>Nombre</th>
												<th>Grupo</th>
												<th>E-mail</th>
												<th>Autoeval</th>
												<th>Eval docente</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr></tr>
										</tbody>
									</table>
								</div>

								<div class="panel-footer" style="padding: 0 1em;">
									<div class="row">
										<div class="col-md-12">
											<nav aria-label="Page navigation example" th:unless="${studentDto.totalItems == 0}">
												<ul class="pagination-md" id="pagination-demo"></ul>
											</nav>
										</div>
									</div>
								</div>

								<form method="POST" id="edit-form"
									th:action="@{/admin/students/edit}">
									<input type="hidden" name="register" id="register" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="charge-form"
									th:action="@{/admin/students/charge}">
									<input type="hidden" name="register" id="register" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/students/delete}">
									<input type="hidden" name="register" id="register" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script type="text/javascript">
					var totalPages = $("#totalPage").val();
					var searchByValue = $("#searchByValue").val();
					$('#pagination-demo').twbsPagination({
				        totalPages: totalPages,
				        visiblePages: 10,
				        next: 'Siguiente',
				        prev: 'Anterior',
				        last: '&Uacute;ltima',
				        first:'Primera',
				        onPageClick: function (event, page) {
				        	if(page > 0){
				            $.ajax({
				      		  headers:
				      	        { 'X-CSRF-TOKEN': $('#csrf').val(),
				      	          'Accept': 'application/json',
				      	          'Content-Type': 'application/json'
				      	        },
				      			url : '/api/admin/student/page',
				      			method : 'post',
				      			cache : false,
				      			dataType : 'json',
				      			data : JSON.stringify({
				      				"page" : page,
				      				"searchByValue" : searchByValue,
				      				"searchBy" : $("#searchBy option:selected").val()
				      			}),
				      	        success: function (data) {
				      	          $('#order-list tbody tr').slice(0).remove();
				      	          $.each(data,function(key,registro) {
				      	        	  console.log("----->"+registro[0]);
				      	        	  var register = String(registro[0]);
					      	        	$("#order-list").append(
					      	        		"<tr>"
							        			+"<td align='center'>"+registro[0]+"</td>"
												+"<td align='left'>"+registro[1]+"</td>"
												+"<td>"+registro[2]+"</td>"
												+"<td align='center'>"+registro[4]+"</td>"
												+"<td align='center'>"+registro[5]+"</td>"
												+"<td align='center'>"+registro[6]+"</td>"
												+"<td>"
													+"<button type='button' class='btn btn-outline-primary' "
														+"title='Editar' "
														+"onclick='SAUA.edit(&apos;register&apos;,"+registro[0]+");'>"
														+"<span class='icon-pencil'></span>"
													+"</button>"
												+"</td>"
												+"<td>"
													+"<button type='button' class='btn btn-outline-secondary'"
														+"title='Asignar a grupo' data-toggle='modal'"
														+"onclick='SAUA.groupAssign(&apos;register&apos;,"+register+",&apos;idProgram&apos;,"+registro[3]+");'>"
														+"<span class='icon-plus'></span>"
													+"</button>"
												+"</td>"
												+"<td>"
													+"<button type='button' class='btn btn-outline-success'"
														+"data-toggle='modal' title='Agregar carga academica'"
														+"onclick='SAUA.addCharge(&apos;register&apos;,"+registro[0]+");'>"
														+"<span class='icon-notebook'></span>"
													+"</button>"
												+"</td>"
												+"<td>"
													+"<button type='button' class='btn btn-outline-danger'"
														+"data-toggle='modal' title='Eliminar'"
														+"onclick='SAUA.toDelete(&apos;register&apos;,"+registro[0]+");'>"
														+"<span class='icon-trash'></span>"
													+"</button>"
												+"</td>"
											+"</tr>");
				  			     });
				      	            
				      	        },
				      			error: function(data) {
				      				console.log("Error al cargar datos");
				      			}
				      		});
				        }
				        }
				    });
				</script>
			</div>
		</div>
	</div>
</body>
j
</html>
