<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							
							<div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
			                  <div class="modal" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" aria-hidden="true">
			                    <div class="modal-dialog" role="document">
			                      <div class="modal-content">
			                        <div class="modal-header">
			                          <h5 class="modal-title" id="exampleModalLabel-4">Agregar a grupo</h5>
			                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                            <span aria-hidden="true">&times;</span>
			                          </button>
			                        </div>
			                        <div class="modal-body">
			                          <form id="form-add-charge" th:object="${studentDto}">
			                          		<div class="form-group">
			                          			<label for="income">Matr&iacute;cula</label>
									        	<input type="text" class="form-control" id="student-register" disabled="disabled">
											</div>
											<div class="form-group">
												<label for="group">Grupo</label> 
												<select required="required" class="form-control" id="groups-req" name="idGroup" th:onchange='|SAUA.uapsRequiredForGroup();|'>
													<option></option>
												</select>
											</div>
											<div class="form-group" id="required-uaps">
			                          			<label class="badge badge-outline-danger badge-pill" for="req">UAPs obligatorias</label>
									        	<div class="row">
									        		<div class="col-12 table-responsive">
														<table id="order-listing-two" class="table">
															<thead>
																<tr>
																	<th>Uap</th>
																	<th>Profesor</th>
																</tr>
															</thead>
															<tbody>
																<tr></tr>
															</tbody>
														</table>
													</div>
									        	</div>
											</div>
			                            <div class="modal-footer">
										  <input type="hidden" name="studentRegister" id="studentRegister">
			                           	  <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			                          	  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				                          <button type="button" class="btn btn-primary" th:onclick='savecharge();'>Guardar</button>
				                        </div>
			                          </form>
			                        </div>
			                      </div>
			                    </div>
			                  </div>
				            </div>
							
							<h4 class="card-title">Alumnos</h4>
							<div class="add-items text-left">
								<a class="add btn btn-secondary font-weight-bold todo-list-add-btn" th:href="@{/admin/students/}"
								   title="Reactivar"><span class="icon-plus"></span>&nbsp;Reactivar alumno</a>
							</div>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/students/add}"
									title="Agregar"><span class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
							</div> 
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Matr&iacute;cula</th>
												<th>Nombre</th>
												<th>Grupo</th>
												<th>E-mail</th>
												<th>Editar</th>
												<th>Asignar a grupo</th>
												<th>Agregar carga academica</th>
												<th>Borrar</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="student : ${studentDto.students}">
												<td align="center" th:text="${student.register}"></td>
												<td th:text="${student.name+' '+student.lastname+' '+student.secondLastname}"></td>
												<td th:text="${student.groupDto.name+' '+student.groupDto.abbreviation+' ['+student.groupDto.educationalProgramDto.abr+']'}"></td>
												<td th:text="${student.email}"></td>
												<td align="center">
													<button type="button" class="btn btn-outline-primary"
														title="Editar" th:onclick='SAUA.edit("register",[[${student.register}]]);' >
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td align="center">
													<button type="button" class="btn btn-outline-secondary" title="Asignar a grupo"
														data-toggle="modal" th:onclick='SAUA.groupAssign("register",[[${student.register}]],"idProgram",[[${student.programDto.studentPlanKey}]]);' >
														<span class="icon-plus"></span>
													</button>
												</td>
												<td align="center">
													<button type="button" class="btn btn-outline-success"
														data-toggle="modal"
														title="Agregar carga academica" th:onclick='SAUA.addCharge("register",[[${student.register}]]);' >
														<span class="icon-notebook"></span>
													</button>
												</td>
												<td align="center">
													<button type="button" class="btn btn-outline-danger"
														data-toggle="modal"
														title="Eliminar" th:onclick='SAUA.toDelete("register",[[${student.register}]]);' >
														<span class="icon-trash"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/students/edit}">
									<input type="hidden" name="register" id="register" /> 
									<input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="charge-form"
									th:action="@{/admin/students/charge}">
									<input type="hidden" name="register" id="register" /> 
									<input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/students/delete}">
									<input type="hidden" name="register" id="register" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
				<script type="text/javascript">
					function savecharge(){
						var incomplete = false;
						  if ($("#groups-req option:selected").val() == '-1' ) {
						    incomplete = true;
						  }
						  if (incomplete) {
							  swal({
							        title: 'Informaci\u00F3n incompleta',
							        text: "Faltan campos importantes por seleccionar.",
							        icon: 'warning',
							        showCancelButton: true,
							        confirmButtonColor: '#3f51b5',
							        cancelButtonColor: '#ff4081',
							        confirmButtonText: 'Great ',
							        buttons: {
							          cancel: {
							            text: "Aceptar",
							            value: null,
							            visible: true,
							            className: "btn btn-danger",
							            closeModal: true,
							          }
							      }
							  })
						      return;
						  }else {
							  $.ajax({
								  headers:
							        { 'X-CSRF-TOKEN': $('#csrf').val(),
							          'Accept': 'application/json',
							          'Content-Type': 'application/json'                    
							        },
									url : '/api/student/students/savechargeall',
									method : 'post',
									cache : false,
									contentType : 'application/json',
									dataType : 'json',
									data : JSON.stringify({
										"idGroup" : $("#groups-req option:selected").val(),
										"studentRegister" : $("#studentRegister").val()
									}),
									success : function(data){
							        	console.log("Success!!!!");
							        	$("#exampleModal-4").modal('hide');
							        	swal({
							                title: '',
							                text: 'Clase agregada correctamente!!',
							                icon: 'success',
							                button: {
							                  text: "Ok",
							                  value: true,
							                  visible: true,
							                  className: "btn btn-primary"
							                }
							              }).then(function() {
							            	    window.location.reload();
							              });
									},
									error: function(data) {
										console.log("Error!!!!");
										swal({
									        title: '',
									        text: data.responseText,
									        icon: 'error',
									        button: {
									          text: "Ok",
									          value: true,
									          visible: true,
									          className: "btn btn-warning"
									        }
									      });
										$("#exampleModal-4").modal('hide');
									}
								});
						  }
					}
				</script>
			</div>
		</div>
	</div>
</body>

</html>
