<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/period}">Periodos</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${periods.id eq -1}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${periods.id gt -1}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${periods.id eq -1}">Nuevo periodo</h4>
									<h4 class="card-title" th:if="${periods.id gt -1}">Editar periodo</h4>
									<form id="userForm" class="forms-sample" th:object="${periods}" method="POST" action="save">
										<label for="initialDate">Fecha inicio</label> 
										<div id="datepicker-popup" class="input-group date datepicker">											
                        					<input type="text" class="form-control" name="initialDate" th:value="${periods.initialDateString}" required="required">
                        						<span class="input-group-addon input-group-append border-left">
                          						<span class="icon-calendar input-group-text"></span>
                        						</span>
                      					</div>
                      					<label for="finalDate">Fecha final</label>
										<div id="datepicker-popupd" class="input-group date datepicker">											 
                        					<input type="text" class="form-control" name="finalDate" th:value="${periods.finalDateString}" required="required">
                        						<span class="input-group-addon input-group-append border-left">
                          						<span class="icon-calendar input-group-text"></span>
                        						</span>
                      					</div>	
										<div class="form-group">
											<label for="schoolPeriod">Periodo lectivo</label> <input
												type="text" class="form-control" 
												placeholder="Agosto 2021 - Enero 2022" name="schoolPeriod" th:value="${periods.schoolPeriod}" required="required">
										</div>
										<div class="form-group">
											<label for="schoolCycle">Ciclo escolar</label> <input
												type="text" class="form-control" 
												placeholder="Agosto 2021 - Julio 2022" name="schoolCycle" th:value="${periods.schoolCycle}" required="required" >
										</div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="id" th:value="${periods.id}" />
											<input type="hidden" name="registerDate" th:value="${periods.registerDate}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/period}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/formpickers.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
