<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Periodos</h4>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/period/add}"
									title="Agregar"><span class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
							</div>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Id</th>
												<th>Fecha inicio</th>
												<th>Fecha final</th>
												<th>Periodo lectivo</th>
												<th>Periodo activo</th>
												<th>Periodo Admin</th>
												<th>Ciclo escolar</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="period : ${periods}">
												<td align="center" th:text="${period.id}"></td>
												<td align="center" th:text="${period.initialDate}"></td>
												<td align="center" th:text="${period.finalDate}"></td>
												<td th:text="${period.schoolPeriod}"></td>
												<td align="center">
													<label th:text="${period.activePeriod ? 'Si' : 'No'}" th:class="${period.activePeriod ? 'badge badge-primary badge-pill' : 'badge badge-warning badge-pill'}">   </label>
												</td>
												<td align="center">
													<label th:text="${period.activePeriodAdmin ? '&nbsp;&nbsp;&nbsp;&nbsp;Activo&nbsp;&nbsp;&nbsp;&nbsp;' : 'Inactivo'}" th:class="${period.activePeriodAdmin ? 'badge badge-success badge-pill' : 'badge badge-danger badge-pill'}">   </label>
												</td>
												<td th:text="${period.schoolCycle}"></td>
												<td>
													<button th:if="${!period.activePeriod}" type="button" class="btn btn-outline-primary"
														title="Activar" th:onclick='|SAUA.changePeriod("id", ${period.id});|'>
														<span class="icon-check"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Editar" th:onclick='|SAUA.edit("id", ${period.id});|' >
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td>
													<button th:if="${!period.activePeriod}" type="button" class="btn btn-outline-danger"
														data-toggle="modal"
														title="Borrar" th:onclick='|SAUA.toDelete("id", ${period.id});|'>
														<span class="icon-trash"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="active-form"
									th:action="@{/admin/period/active}">
									<input type="hidden" name="id" id="id" /> 
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="edit-form"
									th:action="@{/admin/period/edit}">
									<input type="hidden" name="id" id="id" /> 
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/period/delete}">
									<input type="hidden" name="id" id="id" /> 
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
