<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div
				th:replace="fragments/layout/header :: common_navbar_coordinator"></div>
		</nav>

		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">TUTORES</h4>
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>No. Empleado</th>
												<th>Nombre</th>
												<th>Lista de tutorados</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="tutorship : ${tutorshipDto.teachersDto}" align="center" >
												<td th:text="${tutorship.register}"></td>
												<td align="left" 
													th:text="${tutorship.name+' '+tutorship.lastname+' '+tutorship.secondLastname}"></td>
												<td>
													<button type="button" class="btn btn-outline-info"
														title="Generar lista de tutorados" th:onclick='|SAUA.tutor("id", ${tutorship.id});|'>
														<span class="icon-people"></span>
														</button>
													
												</td>
											</tr>
										</tbody>
									</table>
								<form method="GET" id="tutor-form"
									th:action="@{/coordinator/tutorships/exportByTutor}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:replace="fragments/layout/header :: common_messages"></div>
	<footer th:replace="fragments/layout/header :: common_footer"></footer>
	<script th:src="@{/js/data-table.js}"></script>
</body>

</html>
