<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications" ></div>
			<div  th:replace="fragments/layout/header :: common_navbar_coordinator" ></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
		<div class="card">
                <div class="card-body">
                	<div class="col-md-12 d-flex justify-content-end">
						<ol class="breadcrumb">
					    	<li class="breadcrumb-item"><a th:href="@{/coordinator/tutorships}">Tutorias</a></li>
					        <li class="breadcrumb-item active" aria-current="page">Carga académica</li>
					    </ol>
				    </div>
				 <div class="form-group">
					<input type="text" class="form-control" id="student-name" th:value="${studentChargeDto.student.name+' '+studentChargeDto.student.lastname+' '+studentChargeDto.student.secondLastname+'      EMAIL: '+studentChargeDto.student.email}" disabled="disabled">
				</div>
                  <h4 class="card-title"></h4>
                  					<div class="row">
										<div class="col-12 table-responsive">
											<table id="order-listing" class="table">
												<thead>
													<tr align="center">
														<th>Clave</th>
														<th>UAP</th>
														<th>Profesor</th>
														<th>Sem</th>
														<th>Grupo</th>
														<th>P.E.</th>
														<th>Cursamiento</th>
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="sc : ${studentChargeDto.studentCharges}">
														<td th:text="${sc.offeredClass.uap.key}" align="center"></td>
														<td th:text="${sc.offeredClass.uap.name}"></td>
														<td th:text="${sc.offeredClass.teacher.name+' '+sc.offeredClass.teacher.lastname+' '+sc.offeredClass.teacher.secondLastname}"></td>
														<td th:text="${sc.offeredClass.semester}" align="center"></td>
														<td th:text="${sc.offeredClass.group.name}" align="center"></td>
														<td th:text="${sc.offeredClass.group.educationalProgramDto.abr}" align="center"></td>
														<td th:text="${sc.studyTypeValue}" align="center"></td>
													</tr>
												</tbody>
											</table>
										</div>
										
									</div>
              </div>

	</div>

				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
