<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${tutorshipDto.authority == 'ADMIN'}">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div  th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${tutorshipDto.authority == 'TUTORING_COORDINATOR'}">
			<div th:replace="fragments/layout/header :: common_notifications" ></div>
			<div  th:replace="fragments/layout/header :: common_navbar_coordinator" ></div>
		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/tutorships}">Tutorias</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${tutorshipDto.id eq -1}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${tutorshipDto.id gt -1}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${tutorshipDto.id eq -1}">Nueva tutoria</h4>
									<h4 class="card-title" th:if="${tutorshipDto.id gt -1}">Editar un tutor</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${tutorshipDto}" method="POST" action="save">
										<div class="form-group">
											<label for="register">Matr&iacute;cula del alumno *</label> <input
												type="text" class="form-control" 
												placeholder="Ej. 07045399" name="register" th:value="${tutorshipDto.register}" required="required" id="register" onblur="selectprogram(this.value);">
										</div>
										
										<div class="alert alert-info" role="alert" id="name"  >
                    						
                  						</div>
										<div class="form-group">
											<label for="teacher">Tutor *</label>
											<select required="required" class="form-control" th:field="*{teacher.register}">
											<option value="">Seleccione</option>
												<option th:each="teacher:${tutorshipDto.teachersDto}" th:value="${teacher.register}" th:text="${teacher.name+' '+teacher.lastname+' '+teacher.secondLastname}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="status">Estatus *</label>
											<select required="required" class="form-control" th:field="*{tutoringLow.id}">
											<option th:each="estatus:${tutorshipDto.tutoringLowsDto}" th:value="${estatus.id}" th:text="${estatus.description}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="observations">Comentarios</label> <input
												type="text" class="form-control" 
												placeholder="Ej. El estudiante es muy irrespetuoso" name="observations" th:value="${tutorshipDto.observations}" id="observations">
										</div>
										<div class="form-group">
											<label id="address-error" class="error mt-2 text-danger" for="status">Los campos con * son obligatorios</label>
										</div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="id" th:value="${tutorshipDto.id}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/tutorships}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script type="text/javascript">								
						function selectprogram(event){
							$.ajax({
								url : '/api/admin/student/findbymatricula/'+$("#register").val(),
								method : 'GET',
								cache : false,
								contentType : 'application/json',
								dataType : 'json',
								success :function(data){
									console.log(data.name+' '+data.lastname);
									  $("#name").empty();
									  $("#name").append(data.name+' '+data.lastname+' '+data.secondLastname);       
									    },
									    error: function(data) {
									    $("#name").empty();
									     $("#name").append('El alumno no existe en el sistema, favor de verificar la matrícula o registrarlo.');
									    	console.log("Error al cargar datos.");
									    }
							});
						}
				</script>
			</div>
		</div>
	</div>
</body>

</html>