<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${tutorshipDto.authority == 'ADMIN'}">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div  th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${tutorshipDto.authority == 'TUTORING_COORDINATOR'}">
			<div th:replace="fragments/layout/header :: common_notifications" ></div>
			<div  th:replace="fragments/layout/header :: common_navbar_coordinator" ></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Tutorias</h4>
							<!-- Modal prueba -->
										<div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
						                  <div class="modal" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" aria-hidden="true">
						                    <div class="modal-dialog" role="document">
						                      <div class="modal-content">
						                        <div class="modal-header">
						                          <h5 class="modal-title" id="exampleModalLabel-4">Agregar tutor a un grupo</h5>
						                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						                            <span aria-hidden="true">&times;</span>
						                          </button>
						                        </div>
						                        <div class="modal-body">
						                          <form id="form-add-charge" th:object="${tutorshipDto}">
													<div class="form-group">
														<label for="program">Programa educativo</label> 
														<select required="required" class="form-control" id="program" th:onblur='|SAUA.selectProgramOnChargeStudent();|' name="idProgram">
															<option th:each="program:${tutorshipDto.programs}" th:value="${program.studentPlanKey}" th:text="${program.studentPlanName}"></option>
														</select>
													</div>
						                            <div class="form-group">
						                              <label for="grupo">Grupo</label> 
														<select required="required" class="form-control" id="group" th:onblur='|SAUA.admChargeTeachers();|' name="idGroup">
															<option value="-1">Seleccione</option>
														</select>
						                            </div>
													<div class="form-group">
														<label for="teacher">Tutor</label> 
														<select required="required" class="form-control" id="teacher" name="idTeacher">
															<option value="-1">Seleccione</option>
														</select>
													</div>
						                            <div class="modal-footer">
													  
						                           	  <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						                          	  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							                          <button type="button" class="btn btn-primary" th:onclick='|SAUA.admSaveTutortoGroup();|'>Guardar</button>
							                        </div>
						                          </form>
						                        </div>
						                      </div>
						                    </div>
						                  </div>
							            </div>
							<!-- Termina modal prueba -->
									<div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
						                  <div class="modal" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
						                    <div class="modal-dialog" role="document">
						                      <div class="modal-content">
						                        <div class="modal-header">
						                          <h5 class="modal-title" id="exampleModalLabel-2">Agregar varios alumnos a un tutor</h5>
						                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						                            <span aria-hidden="true">&times;</span>
						                          </button>
						                        </div>
						                        <div class="modal-body">
						                          <form id="form-add-charge" th:object="${tutorshipDto}">
						                          <div class="form-group">
						                          <label for="program">Agregar matriculas a asignar tutor</label> 
					                      			<textarea class="form-control" id="exampleTextarea1" rows="4" th:onblur='|SAUA.admChargeTeachersModal2();|' placeholder="Ej. 07045399,09834983,09432904"></textarea>							                   
						                          </div>
													<div class="form-group">
														<label for="teacheruno">Tutor</label> 
														<select required="required" class="form-control" id="teacheruno" name="idTeacheruno">
															<option value="-1">Seleccione</option>
														</select>
														
													</div>
						                            <div class="modal-footer">
													  
						                           	  <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						                          	  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							                          <button type="button" class="btn btn-primary" th:onclick='|SAUA.admSaveTutortoGroup();|'>Guardar</button>
							                        </div>
						                          </form>
						                        </div>
						                      </div>
						                    </div>
						                  </div>
							            </div>
                    <!-- Otro boton -->
                    <div class="dropdown">
                      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mas asignaciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                        <h6 class="dropdown-header">Asignar</h6>
                        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal-4" th:onclick='|SAUA.chargePrograms();|'>Tutor a un grupo</button>
                        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal-2">Varios alumnos a tutor</button>
                      </div>
                    </div>
                    
							<div class="add-items text-right">

								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/tutorships/add}"
									title="Agregar"><span class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
							</div>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Matr&iacute;cula</th>
												<th>Nombre Estudiante</th>
												<th>Tutor</th>
												<th>Estatus</th>
												<th>Comentarios</th>
												<th>Asigno a tutor</th>											
												<th>Fecha de modificacion</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="tutorship : ${tutorshipDto.tutorshipsDto}">
												<td th:text="${tutorship.student.register}"></td>
												<td th:text="${tutorship.student.name+' '+tutorship.student.lastname+' '+tutorship.student.secondLastname}"></td>
												<td th:text="${tutorship.teacher.name+' '+tutorship.teacher.lastname+' '+tutorship.teacher.secondLastname}"></td>
												<td>
													<label th:text="${tutorship.tutoringLow.description}" th:class="${tutorship.tutoringLow.description == 'Activo' ? 'badge badge-success badge-pill' : 'badge badge-danger badge-pill'}">   </label>
													
												</td>
												<td th:text="${tutorship.observations}"></td>
												<td th:text="${tutorship.assignedTutor}"></td>			
												<td th:text="${tutorship.editdate}"></td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Editar" th:onclick='|SAUA.edit("id", ${tutorship.id});|' >
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-danger"
														data-toggle="modal"
														title="Borrar" th:onclick='|SAUA.toDelete("id", ${tutorship.id});|' >
														<span class="icon-trash"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/tutorships/edit}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/tutorships/delete}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
							<div class="add-items text-left">
								<button type="button" class="btn btn-dark btn-fw"><i class="icon-doc"></i>Exportar a Excel</button>
								
							</div>
					</div>

				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer> 
				<script th:src="@{/js/data-table.js}"></script>
				<script th:src="@{/js/form-addons.js}"></script> 
			</div>
		</div>
	</div>
</body>

</html>
