<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${tutorshipDto.authority == 'ADMIN'}">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div  th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:if="${tutorshipDto.authority == 'TUTORS'}">
			<div th:replace="fragments/layout/header :: common_notifications" ></div>
			<div  th:replace="fragments/layout/header :: common_navbar_tutor" ></div>
		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/tutor/tutoreds}">Tutorados</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${tutorshipDto.id eq -1}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${tutorshipDto.id gt -1}">Baja</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${tutorshipDto.id eq -1}">Nueva tutoria</h4>
									<h4 class="card-title" th:if="${tutorshipDto.id gt -1}">Dar de baja a un Tutorado</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${tutorshipDto}" method="POST" action="save">
										<div class="form-group">
											<label for="name">Alumno *</label> <input
												type="text" class="form-control" 
												placeholder="Ej. 07045399" name="name" th:value="${tutorshipDto.student.register+' '+tutorshipDto.student.name+' '+tutorshipDto.student.lastname+' '+tutorshipDto.student.secondLastname}" id="name" readonly="readonly">
										</div>

										<div class="form-group">
											<label for="status">Causa de la baja *</label>
											<select required="required" class="form-control" th:field="*{tutoringLow.id}">
												<option th:each="estatus:${tutorshipDto.tutoringLowsDto}" th:value="${estatus.id}" th:text="${estatus.description}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="observations">Observaciones:</label> <input
												type="text" class="form-control" 
												placeholder="Comentarios del porque la baja del tutorado" name="observations" th:value="${tutorshipDto.observations}" maxlength="45">
										</div>
										<div class="form-group">
											<label id="address-error" class="error mt-2 text-danger" for="status">Los campos con * son obligatorios</label>
										</div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="id" th:value="${tutorshipDto.id}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/tutor/tutoreds}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script type="text/javascript">								
						function selectprogram(event){
							$.ajax({
								url : '../tutorships/findbymatricula/'+$("#register").val(),
								method : 'GET',
								cache : false,
								contentType : 'application/json',
								dataType : 'json',
								success :function(data){
									console.log(data.name+' '+data.lastname);
									  $("#name").empty();
									  $("#name").append(data.name+' '+data.lastname+' '+data.secondLastname);       
									    },
									    error: function(data) {
									    	console.log("Error al cargar datos.");
									    }
							});
						}
				</script>
			</div>
		</div>
	</div>
</body>

</html>