<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>

<body>
  <div class="container-scroller">
    <nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_student_min_with_eval"></div>
	</nav>
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row profile-page">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="col-12 grid-margin stretch-card">
		              <div class="card">
		                <div class="card-body">
		                	<div class="col-md-12 d-flex justify-content-end">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a th:href="@{/student/evaluation}">Evaluaciones</a></li>
									<li class="breadcrumb-item active" aria-current="page">Autoevaluaci&oacute;n</li>
								</ol>
							</div>
		                  	<h4 class="card-title">Autoevaluaci&oacute;n.</h4>
		                  	<div class="form-group">
				        		<label class="form-control" id="info-uap" th:text="${'UAP: '+studentChargeDto.offeredClass.uap.key+' - '+studentChargeDto.offeredClass.uap.name+' --             PROFESOR(A): '+studentChargeDto.offeredClass.teacher.name
				        		+'  '+studentChargeDto.offeredClass.teacher.lastname+ ' ' +studentChargeDto.offeredClass.teacher.secondLastname}"></label>
						
							</div>
							
							<h5 class="mt-2 text-muted card-text">En una escala del 1 al 10, donde 1 es totalmente no y 10 totalmente si, responda a las siguientes preguntas:</h5>
							
		                  <form class="cmxform" id="questions-form">
			                  	<div id="questions">
				                  	<div th:each="q : ${questionDto.questions}" th:id="${'q-'+q.id}">
				                  		<label for="text" th:text="${q.text}"></label>
					                    <br>
					                    <div class="form-group" th:if="${q.questionType eq 'ABIERTA'}" id="form-group-answer-text">
					                      	<input type="text" class="form-control" th:id="${q.id}" th:name="${q.id}" th:placeholder="${q.placeHolder}" maxlength="200" pattern="^[a-zA-Z0-9]+$" required>
					                      	<p class="text-danger">* M&aacute;ximo 200 caracteres</p>
					                    </div>
					                    <br>
					                    <div class="form-group" th:if="${q.questionType eq 'OPCIONES'}" id="answers-form-group-check">
					                      	<div class="form-group row" id="answers-row-check">
					                          <div class="col-md-6" id="answers-col-check">
					                          	<div th:each="ans : ${q.answers}" class="form-check" th:id="${'ans-'+q.id+'-'+ans.id}">
					                          		<label class="form-check-label">
					                                <input type="radio" class="form-check-input" th:name="${q.id}" th:id="${q.id+'-'+ans.id}" 
					                                	th:value="${ans.text}" th:text="${ans.text}" th:checked="${ans.checked}">
					                              </label>
					                              <input type="number" th:if="${ans.specify}" class="form-control" th:id="${'ans-specify-'+q.id+'-'+ans.id}" 
					                              		name="text-description" maxlength="200" required>
					                          	</div>
					                          </div>
					                        </div>
					                    </div>
					                    
					                    <div class="form-inline" th:if="${q.questionType eq 'RATING_0_10' and q.id ne 24}" id="answers-form-group-check">
						                      	<br><br>
						                      	<div class="badge badge-danger">Totalmente no</div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
							                      	<div class="br-wrapper br-theme-bars-1to10">
									                    <select th:id="${q.id}" name="rating" required="required">
									                      <option value="0">0</option>
									                      <option value="1">1</option>
									                      <option value="2">2</option>
									                      <option value="3">3</option>
									                      <option value="4">4</option>
									                      <option value="5">5</option>
									                      <option value="6">6</option>
									                      <option value="7">7</option>
									                      <option value="8">8</option>
									                      <option value="9">9</option>
									                      <option value="10">10</option>
									                    </select>
									                  </div>
									              <div class="badge badge-success">Totalmente si</div>
					                    </div>
					                    <div class="form-inline" th:if="${q.questionType eq 'RATING_0_10' and q.id eq 24}" id="answers-form-group-check">
						                      	<br><br>
						                      	<div class="badge badge-danger">No curs&oacute;</div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						                      	  	<div class="br-wrapper br-theme-bars-1to10">
									                    <select th:id="${q.id}" name="rating" required="required">
									                      <option value="0">0</option>
									                      <option value="1">1</option>
									                      <option value="2">2</option>
									                      <option value="3">3</option>
									                      <option value="4">4</option>
									                      <option value="5">5</option>
									                      <option value="6">6</option>
									                      <option value="7">7</option>
									                      <option value="8">8</option>
									                      <option value="9">9</option>
									                      <option value="10">10</option>
									                    </select>
									                  </div>
									              <div class="badge badge-success">Aprob&oacute; satisfactoriamente</div>
					                    </div>
					                    <br>
					                    <br>
				                  	</div>
				                  	<div class="col-md-12 text-right">
				                  		<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				                  		<input type="hidden" id="register" th:value="${studentChargeDto.student.register}" />
				                  		<input type="hidden" id="studentChargeId" th:value="${studentChargeDto.id}" />
					                    <button type="button" class="btn btn-primary mr-2" th:onclick='|SAUA.saveAutoEvaluation()|'>Enviar</button>
				                    </div>
			                    </div>
		                    </form>
		                </div>
		              </div>
		            </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <footer th:replace="fragments/layout/header :: common_footer"></footer>
      </div>
    </div>
  </div>
   <script src="/js/template.js"></script>
  <script src="/js/form-addons.js"></script>
  <script src="/js/form-validation.js"></script>
  <script type="text/javascript">
    $(function() {
        function ratingEnable() {    	  
    	 $('select[name=rating]').barrating('show', {
            theme: 'bars-1to10'
          });
        }
        
        function ratingDisable() {
            $('select').barrating('destroy');
          }

          $('.rating-enable').on("click", function(event) {
            event.preventDefault();

            ratingEnable();

            $(this).addClass('deactivated');
            $('.rating-disable').removeClass('deactivated');
          });

          $('.rating-disable').on("click", function(event) {
            event.preventDefault();

            ratingDisable();

            $(this).addClass('deactivated');
            $('.rating-enable').removeClass('deactivated');
          });
          ratingEnable();
        
    });
    
    $("input[type=text]").keypress(function(event) {
        var character = String.fromCharCode(event.keyCode);
        return isValid(character);     
    });

    function isValid(str) {
        return !/[~`!@#$%\^&*()+=\-\[\]\\';/{}|\\":<>\?]/g.test(str);
    }
    
    $(document).ready(function() {
    	$("#ans-specify-24-43").hide();
  		$("input[type=radio]").change(function() {
  			if($("#24-43").is(':checked')){
  				$("#ans-specify-24-43").show();
  			}else{
  				$("#ans-specify-24-43").hide();
  			}
  	    });
	});
  </script>
</body>

</html>
