<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_student_min_with_eval"></div>
		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">						
							<div class="card">
								<div class="card-body">
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<h4 class="card-title">Listado de UAP´s a evaluar</h4>
										<div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
						                  <div class="modal" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" aria-hidden="true">
						                    <div class="modal-dialog" role="document">
						                      <div class="modal-content">

						                        <div class="modal-body">
						                          <form id="form-add-charge" th:object="${studentChargeDto}">
													<div class="form-group">
														<label for="program">Programa educativo *</label> 
														<select required="required" class="form-control" id="program" th:onchange='|SAUA.selectProgramOnChargeStudent();|' name="idProgram">
															<option th:each="program:${studentChargeDto.programs}" th:value="${program.studentPlanKey}" th:text="${program.studentPlanName}"></option>
														</select>
													</div>
						                            <div class="form-group">
						                              <label for="grupo">Grupo *</label> 
														<select required="required" class="form-control" id="group" th:onchange='|SAUA.stdUapsForGroup();|' name="idGroup">
															<option value="">Seleccione</option>
														</select>
						                            </div>
						                            <div class="form-group">
						                              <label for="uap">UAP *</label> 
														<select required="required" class="form-control" id="uaps" name ="idUap">
															<option value="">Seleccione</option>
														</select>
						                            </div>
						                            <div class="form-group">
						                              <label for="cursamiento">Tipo de cursamiento *</label> 
														<select required="required" class="form-control" name="studyType" id="studyTypes">
															<option value="">Seleccione</option>
															<option value="STUDY">Cursar</option>
															<option value="RE_STUDY">Recursar</option>
														</select>
						                            </div>
						                            <div class="form-group">
														<label id="address-error" class="error mt-2 text-danger" for="address">Los campos con * son obligatorios</label>
													</div>
						                            <div class="modal-footer">
													  <input type="hidden" name="studentRegister" id="studentRegister" th:value="*{student.register}">
						                           	  <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						                          	  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							                          <button type="button" class="btn btn-primary" th:onclick='|SAUA.stdSaveCharge();|'>Guardar</button>
							                        </div>
						                          </form>
						                        </div>
						                      </div>
						                    </div>
						                  </div>
							            </div>
							        <div class="form-group">
							        	<input type="text" class="form-control" id="student-tutorName" th:value="${'TUTOR: '+studentChargeDto.tutorName+'       GRUPO:'+studentChargeDto.student.groupDto.name
							        		+'  ['+studentChargeDto.student.groupDto.turn+']'}" disabled="disabled">
									</div>
									<br/>
									<div>
										<h5>Estimad@ Estudiante:</h5>
										<article>

											CON EL PROP&Oacute;SITO DE MEJORAR EL DESEMPE&Ntilde;O ACAD&Eacute;MICO DE LOS PROFESORES QUE REDUNDE EN UNA MEJOR ATENCI&Oacute;N EN EL PROCESO DE ENSE&Ntilde;ANZA-APRENDIZAJE PARA LOS ESTUDIANTES, SE EST&Aacute; REALIZANDO ESTA ENCUESTA.
										</article>
										<article th:text="${studentChargeDto.textHeader}">
										</article>
										<br>
										<article>
											Si un maestro te imparte m&aacute;s de una Unidad de Aprendizaje, tendr&aacute;s que hacerlo por cada materia.
										</article>
									</div>
									<br/>
									
									<div class="add-items text-left">
										<a class="add btn btn-primary font-weight-bold todo-list-add-btn" onclick='SAUA.generateevaluationreport();'
											title="Agregar"><span class="icon-note"></span>&nbsp;&nbsp;Reporte de evaluaciones</a>
									</div>
																
									<div class="row">
										<div class="col-12 table-responsive">
											<table id="order-listing" class="table table-striped">
												<thead>
													<tr align="center">
														<th>Clave</th>
														<th>UAP</th>
														<th>Profesor</th>
														<th>Grupo</th>
														<th>P.E.</th>
														<th>Periodo</th>
														<th>Autoevaluación</th>
														<th>Eval. Docente</th>

													</tr>
												</thead>
												<tbody>
													<tr th:each="sc : ${studentChargeDto.studentCharges}">
														<td align="center" th:text="${sc.offeredClass.uap.key}"></td>
														<td th:text="${sc.offeredClass.uap.name}"></td>
														<td th:text="${sc.offeredClass.teacher.name+' '+sc.offeredClass.teacher.lastname+' '+sc.offeredClass.teacher.secondLastname}"></td>
														<td align="center" th:text="${sc.offeredClass.group.name}"></td>
														<td th:text="${sc.offeredClass.group.educationalProgramDto.abr}"></td>
														<td th:text="${sc.offeredClass.period.schoolPeriod}"></td>
														<td align="center" >
															<button type="button" class="btn btn-outline-primary" th:unless="${sc.autoevalAnswered}"
																data-toggle="modal"
																title="Autoevaluación" th:onclick='|SAUA.autoEvaluation("id_auto", ${sc.id});|'>
																<span class="icon-emotsmile"></span>
															</button>
														</td>
														<td align="center">
															<button type="button" class="btn btn-outline-primary" th:unless="${sc.teacherEvalAnswered}"
																data-toggle="modal"
																title="Evaluar al docente" th:onclick='|SAUA.evaluationTeacher("id", ${sc.id});|'>
																<span class="icon-badge"></span>
															</button>
														</td>

													</tr>
												</tbody>
											</table>
										</div>
										<form method="POST" id="evaluation-teacher-form"
											th:action="@{/student/evaluation/teacher}">
											<input type="hidden" name="id" id="id" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</form>
										<form method="POST" id="autoEvaluation-form"
											th:action="@{/student/evaluation/auto}">
											<input type="hidden" name="id_auto" id="id_auto" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/layout/header :: common_footer"></footer>
		<script th:src="@{/js/data-table.js}"></script>
	</div>
</body>

</html>