<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a th:href="@{/admin/teachers}">Profesores</a></li>
											<li class="breadcrumb-item active" aria-current="page" th:if="${teacherDto.id == 0}">Agregar</li>
											<li class="breadcrumb-item active" aria-current="page" th:if="${teacherDto.id > 0}">Editar</li>
										</ol>
									</div>
									<div class="col-md-12 grid-margin stretch-card">
										<div class="card">
											<div class="card-body">
												<h4 class="card-title" th:if="${teacherDto.id == 0}">Nuevo profesor</h4>
												<h4 class="card-title" th:if="${teacherDto.id > 0}">Editar profesor</h4>
												<div class="form-group">
													<div th:replace="fragments/layout/header :: common_messages"></div>
												</div>
												<div class="row mt-4">
													<div class="col-md-12">
														<ul class="nav nav-tabs tab-solid-light" role="tablist">
															<li class="nav-item">
																<a class="nav-link active" id="tab-1-1" data-toggle="tab" href="#academic-1-1" role="tab" aria-controls="academic-1-1" aria-selected="true">
																	<i class="icon-notebook"></i>Datos Laborales
																</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" id="tab-1-2" data-toggle="tab" href="#personal-1-1" role="tab" aria-controls="personal-1-1" aria-selected="false">
																	<i class="icon-user"></i>Datos personales
																</a>
															</li>
														</ul>
														<form id="register-teacher-form" th:object="${teacherDto}" method="POST" action="save">
															<div class="tab-content tab-content-basic">
																<div class="tab-pane fade show active" id="academic-1-1" role="tabpanel" aria-labelledby="tab-1-1">
																	<div class="form-group">
																		<label class="col-form-label">N&uacute;mero de empleado</label>
																		<input class="form-control" maxlength="8" id="register" type="text" placeholder="Ej: 07046511" name="register"
																			th:value="${teacherDto.register}" th:readonly="${teacherDto.id > 0}">
																	</div>
																	<div class="form-group">
																		<label for="category">Categor&iacute;a</label>
																		<select required="required" class="form-control" th:field="*{categoryDto.id}">
																			<option th:each="category:${teacherDto.categories}" th:value="${category.id}" th:text="${category.description}"></option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label class="col-form-label">Cub&iacute;culo</label>
																		<input class="form-control" id="cubicle" type="text" placeholder="Ej: Edificio Cubículo 3" name="cubicle"
																			th:value="${teacherDto.cubicle}">
																	</div>
																	<div class="form-group">
												                      <label for="rol">Rol</label>
												                        <select required="required" class="form-control" th:field="*{authority}">
												                          <option value="TEACHER">PROFESOR</option>
												                          <option value="TUTOR">TUTOR</option>
												                        </select>
												                    </div>
																</div>
																<div class="tab-pane fade" id="personal-1-1" role="tabpanel" aria-labelledby="tab-1-2">
																	<div class="form-group">
																		<label for="name">Nombre</label>
																		<input type="text" class="form-control" placeholder="Ej: Juan" name="name" th:value="${teacherDto.name}">
																	</div>
																	<div class="form-group">
																		<label for="lastname">Apellido paterno</label>
																		<input type="text" class="form-control" placeholder="Ej: Pérez" name="lastname" th:value="${teacherDto.lastname}">
																	</div>
																	<div class="form-group">
																		<label for="secondLastname">Apellido materno</label>
																		<input type="text" class="form-control" placeholder="Ej: Pérez" name="secondLastname" th:value="${teacherDto.secondLastname}">
																	</div>
																	<div class="form-group">
																		<label for="gender">Genero</label>
																		<select required="required" class="form-control" th:field="*{gender}">
																			<option value="F" th:selected="${teacherDto.gender eq 'F'}">FEMENINO</option>
																			<option value="M" th:selected="${teacherDto.gender eq 'M'}">MASCULINO</option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label for="email">Correo electr&oacute;nico</label>
																		<input type="text" class="form-control" placeholder="Ej: usuario@dominio.com" name="email" th:value="${teacherDto.email}">
																	</div>
																</div>
															</div>
															<div class="col-md-12 text-right">
																<input type="hidden" name="id" th:value="${teacherDto.id}" />
																<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
																<a class="btn btn-danger" th:href="@{/admin/teachers}">Cancelar</a>
																<button type="submit" class="btn btn-primary mr-2">Guardar</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/tabs.js}"></script>
				<script type="text/javascript">
					jQuery(document).ready(function(){
						jQuery("#register").on('input', function (evt) {
							jQuery(this).val(jQuery(this).val().replace(/[^0-9]/g, ''));
						});
					});
					
					(function($) {
						  'use strict';
						  $.validator.setDefaults({
						    submitHandler: function() {
						    	$("#register-teacher-form").submit();
						    }
						  });
						  $(function() {
						    $("#register-teacher-form").validate({
						      rules: {
						    	name: "required",
						        lastname: "required",
						        secondLastname: "required",
						        email: {
						          required: true,
						          email: true
						        },
						        register:{
						        	required: true,
						        	minlength: 3
						        }
						      },
						      messages: {
						    	name: "Ingresa tu nombre",
						        lastname: "Ingresa tu apellido paterno",
						        secondLastname: "Ingresa tu apellido materno",
						        register: {
						        	required: "Ingresa tu n\u00FAmero de empleado",
						        	minlength: "Tu n\u00FAmero de empleado debe tener un m\u00EDnimo de 3 caracteres"
						        },
						        email: "Ingresa un e-mail v\u00E1lido."
						      },
						      errorPlacement: function(label, element) {
						        label.addClass('mt-2 text-danger');
						        label.insertAfter(element);
						      },
						      highlight: function(element, errorClass) {
						        $(element).parent().addClass('has-danger')
						        $(element).addClass('form-control-danger')
						      }
						    });
						  });
						})(jQuery);
				</script>
			</div>
		</div>
	</div>
</body>

</html>