<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>

		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Profesores</h4>
							<!-- Inicia modal -->
							<div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
								<div class="modal" id="periodModal" tabindex="-1" role="dialog"
									aria-labelledby="exampleModalLabel-4" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel-4">Seleccione el periodo</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<form id="form-add-charge" th:object="${teacherDto}">
													<div class="form-group">
														<select required="required" class="form-control"
															id="periods"
															th:onchange='|SAUA.selectProgramOnChargeStudent();|'
															name="idPeriod">
															<option
																th:each="period:${teacherDto.periods}"
																th:value="${period.id}"
																th:text="${period.schoolPeriod}"></option>
														</select>
													</div>
													
													<div class="modal-footer">
														<input type="hidden" id="csrf" th:name="${_csrf.parameterName}"
															th:value="${_csrf.token}" />
														<button type="button" class="btn btn-danger"
															data-dismiss="modal">Cancelar</button>
														<button type="button" class="btn btn-primary"
															th:onclick='|SAUA.generateevaluationreportxls();|'>Generar reporte</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Termina modal -->
							<div class="add-items text-left">
								<button class="add btn btn-dark font-weight-bold todo-list-add-btn" data-toggle="modal"
											data-target="#periodModal"
											th:onclick='|SAUA.chargePrograms();|'><span
										class="fa fa-file-excel-o"></span>&nbsp;Reporte de evaluaciones docentes</button>

							</div>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn"
									th:href="@{/admin/teachers/add}" title="Agregar"><span
										class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
							</div>

							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>N&uacute;m. Emp</th>
												<th>Nombre</th>
												<th>Categor&iacute;a</th>
												<th>Reporte eval</th>
												<th>Listas uaps</th>
												<th>Editar</th>
												<th>Borrar</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="teacher : ${teacherDto.teachers}">
												<td align="center" th:text="${teacher.register}"></td>
												<td
													th:text="${teacher.name+' '+teacher.lastname+' '+teacher.secondLastname}">
												</td>
												<td align="center" th:text="${teacher.categoryDto.description}"></td>
												<td align="center">
													<button type="button" class="btn btn-outline-success"
														title="Reporte de evaluacion docente"
														th:onclick='SAUA.evaldownloadByTeacher("register",[[${teacher.register}]]);'>
														<span class="icon-list"></span>
													</button>
												</td>
												<td align="center">
													<button type="button" class="btn btn-outline-info"
														title="Generar listas de uaps"
														th:onclick='SAUA.tutor("id",[[${teacher.register}]]);'>
														<span class="icon-docs"></span>
													</button>
												</td>
												<td align="center">
													<button type="button" class="btn btn-outline-primary" title="editar"
														th:onclick='SAUA.edit("register",[[${teacher.register}]]);'>
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td align="center">
													<button type="button" class="btn btn-outline-danger"
														data-toggle="modal" title="eliminar"
														th:onclick='SAUA.toDelete("register",[[${teacher.register}]]);'>
														<span class="icon-trash"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form" th:action="@{/admin/teachers/edit}">
									<input type="hidden" name="register" id="register" />
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form" th:action="@{/admin/teachers/delete}">
									<input type="hidden" name="register" id="register" /> <input type="hidden"
										th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</form>
								<form method="GET" id="tutor-form"
									th:action="@{/admin/documents/exportListExcelByTeacherId}">
									<input type="hidden" name="id" id="id" /> <input type="hidden"
										th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>