<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/coffeeshop/list}">LISTADO DE CAFETERÍAS</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${coffeeshops.id eq -1}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${coffeeshops.id gt -1}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${coffeeshops.id eq -1}">Nueva cafetería</h4>
									<h4 class="card-title" th:if="${coffeeshops.id gt -1}">Editar cafetería</h4>
									<form id="userForm" class="forms-sample" th:object="${coffeeshops}" method="POST" action="save">
										<div class="form-group">
											<label for="name">Nombre *</label>
											 <input
												type="text" class="form-control" 
												placeholder="EL ESTUDIANTE" id="name" name="name" th:value="${coffeeshops.name}" onkeyup="javascript:this.value=this.value.toUpperCase();" style="text-transform:uppercase;" required>
										
										</div>
										<div class="form-group">
											<label for="grantNumber">Número de Becas *</label> <input
												type="text" class="form-control" 
												placeholder="100" name="grantNumber" id="grantNumber" th:value="${coffeeshops.grantNumber}" required="required">
			
										</div>
										<div class="form-group">
											<label for="manager">Responsable *</label>
											<input type="text" class="form-control"
													placeholder="07046511" id="manager" name="manager" th:value="${coffeeshops.manager}" style="text-transform:uppercase;" required>
										</div>
										<div class="form-group">
											<label for="location">Ubicación *</label>
											<input type="text" class="form-control"
												   placeholder="A LADO DE LA BIBLIOTECA" id="location" name="location" th:value="${coffeeshops.location}" onkeyup="javascript:this.value=this.value.toUpperCase();" style="text-transform:uppercase;" required>
										</div>
										<div class="form-group">
											<label id="address-error" class="error mt-2 text-danger" for="address">Los campos con * son obligatorios</label>
										</div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="id" th:value="${coffeeshops.id}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/coffeeshop}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
	<script th:src="@{/js/jquery-ui.js}"></script>
		<script type="text/javascript">
			$(function() {
				$("#manager").autocomplete({
					source : function(request, response) {
						$.ajax({
							headers:
							{
								'X-CSRF-TOKEN': $('#csrf').val(),
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							url: '/api/admin/coffeeshop/user/search',
							method: 'get',
							cache: false,
							dataType: 'json',
							data : {
								q : request.term
							},
							success: function (data) {
								response(data);
							}
						});
					},
					minLength : 2
				});
			});
		</script>
</body>

</html>
