<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							
							<h4 class="card-title">Papeletas alumnos</h4>
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Matr&iacute;cula</th>
												<th>Nombre</th>
												<th>Grupo</th>
												<th>E-mail</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="student : ${studentDto.students}">
												<td align="center" th:text="${student.register}"></td>
												<td th:text="${student.name+' '+student.lastname+' '+student.secondLastname}"></td>
												<td th:text="${student.groupDto.name+' '+student.groupDto.abbreviation+' ['+student.groupDto.educationalProgramDto.abr+']'}"></td>
												<td th:text="${student.email}"></td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Generar papeleta" th:onclick='SAUA.admpapeletadownloadByStudent("register",[[${student.register}]]);'>
														<span class="icon-layers"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/students/edit}">
									<input type="hidden" name="register" id="register" /> 
									<input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
