<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Programas educativos con turnos</h4>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Clave</th>
												<th>Nombre</th>
												<th>Versi&oacute;n</th>
												<th>Abreviatura</th>
												<th>Comentarios</th>
												<th>Escuela</th>
												<th>Matutino</th>
												<th>Vespertino</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="program : ${programDto.programDtos}">
												<td align="center" th:text="${program.studentPlanKey}"></td>
												<td th:text="${program.studentPlanName}"></td>
												<td align="center" th:text="${program.studentPlanVrs}"></td>
												<td align="center" th:text="${program.abr}"></td>
												<td th:text="${program.observations}"></td>
												<td th:text="${program.school.name}"></td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Turno Matutino" th:onclick='SAUA.papeletadownloadMasMat("studentPlanKey",[[${program.studentPlanKey}]]);' >
														<span class="icon-layers"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-danger"
														title="Turno Vespertino" th:onclick='SAUA.papeletadownloadMasVesp("studentPlanKey",[[${program.studentPlanKey}]]);' >
														<span class="icon-layers"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/api/download/papeletasMasMat/}">
									<input type="hidden" name="studentPlanKey" id="studentPlanKey" /> 
									<input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/api/download/papeletasMasVesp/}">
									<input type="hidden" name="studentPlanKey" id="studentPlanKey" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
