<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a th:href="@{/admin/tutoringlows}">Motivos de bajas</a></li>
											<li class="breadcrumb-item active" aria-current="page" th:if="${tutoringLows.id eq -1}">Agregar</li>
											<li class="breadcrumb-item active" aria-current="page" th:if="${tutoringLows.id gt -1}">Editar</li>
										</ol>
									</div>
									<h4 class="card-title" th:if="${tutoringLows.id eq -1}">Nuevo motivo de baja de un alumno</h4>
									<h4 class="card-title" th:if="${tutoringLows.id gt -1}">Editar motivo de baja de un alumno</h4>
									<form id="userForm" class="forms-sample" th:object="${tutoringLows}" method="POST" action="save">
										<div class="form-group">
											<label for="description">Descripci&oacute;n</label> <input
												type="text" class="form-control" 
												placeholder="Egresado" name="description" th:value="${tutoringLows.description}" required="required">
										</div>

										<div class="col-md-12 text-right">
											<input type="hidden" name="id" th:value="${tutoringLows.id}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/tutoringlows}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
</body>

</html>
