<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">

		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_student_min"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div id="div-messagesInfo">
						<div id="div-error" class="alert alert-primary" th:text="${notInitGrant}" th:unless="${notInitGrant == null}"></div>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">FECHAS QUE PUEDES USAR LA BECA ALIMENTICIA</h4>

                  	<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Fecha</th>
												<th>Cafeteria</th>
												<th>Ubicación</th>
												<th>Estatus</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="applicantCoffeeShopDto : ${applicantCoffeeShopDto}">
												<td th:text="${applicantCoffeeShopDto.useDateFormated}"></td>
												<td th:text="${applicantCoffeeShopDto.applicantCoffeeShopIdDto.coffeeShop.name}"></td>
												<td th:text="${applicantCoffeeShopDto.applicantCoffeeShopIdDto.coffeeShop.location}"></td>
												<td align="center">
													<label th:text="${applicantCoffeeShopDto.useNumber == 1 ? 'Utilizada' : 'No Utilizada'}" th:class="${applicantCoffeeShopDto.useNumber == 1 ? 'badge badge-primary badge-pill' : 'badge badge-warning badge-pill'}">   </label>
												</td>
											</tr>

										</tbody>
									</table>
								</div>
								
							</div>

									
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
				<script th:src="@{/js/select2.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
