<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/applicant}">Solicitantes</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${applicationDto.id eq -1}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${applicationDto.id gt -1}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${applicationDto.id eq -1}">Nuevo Solicitante [Alumno]</h4>
									<h4 class="card-title" th:if="${applicationDto.id gt -1}">Editar Solicitante [Alumno]</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${applicationDto}">
										<div class="form-group">
											<label class="col-form-label">Tipo de Beca</label>
											<select id="select-type" required="required" class="form-control"  name ="grantId" th:field="*{grantId}">
												<option value="-1">Seleccione</option>
												<option th:each="grant:${applicationDto.grantsDto}" th:value="${grant.id}"
														th:text="${grant.grant}"></option>
											</select>
										</div>
						                <div class="card" id="answ-mult-div">
											<div class="card-body">
												<h5 class="card-title"> Solicitantes de Becas *</h5>
							                	<p class="card-description">Agregar matr&iacute;culas (No usar comas. M&aacute;ximo 10 matrículas.)</p>
												<div class="form-group">
													<input type="text" value="" data-role="tagsinput" id="answ-mult"/>
								                </div>
								             </div>
								         </div>
								         </br>
						                <div class="col-md-12 text-right">
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf"/>
											<a class="btn btn-danger" th:href="@{/admin/applicant}">Cancelar</a>
											<button type="button" class="btn btn-primary mr-2" onclick="save()">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script type="text/javascript">
					$(document).ready(function () {

					});
					function validation() {
						var val = $("#select-type option:selected").val();
						if(val == "MULTIPLE"){
							$("#answ-mult-div").show();
						}else{
							$("#answ-mult-div").hide();
						}
						if(val == "OPCIONES"){
							$("#answ-opc-div").show();
						}else{
							$("#answ-opc-div").hide();
						}
					}
					function save(){
						var optionSel = $("#select-type option:selected").val();
						var answMultText = $("#answ-mult").val();
						
						if(optionSel == "-1"){
							swal({
						        title: 'Faltan datos por ingresar/seleccionar.',
						        icon: 'error',
						        button: {
						          text: "Ok",
						          value: true,
						          visible: true,
						          className: "btn btn-warning"
						        }
						      });
						}else{
							swal({
						        title: '',
						        text: 'Datos guardados correctamente.',
						        icon: 'success',
						        button: {
						          text: "Ok",
						          value: true,
						          visible: true,
						          className: "btn btn-success"
						        }
						      });
						}
						
						$.ajax({
						  headers:
					        { 'X-CSRF-TOKEN': $('#csrf').val(),
					          'Accept': 'application/json',
					          'Content-Type': 'application/json'                    
					        },
							url : '/api/admin/applicant/save',
							method : 'post',
							cache : false,
							contentType : 'application/json',
							dataType : 'json',
							data : JSON.stringify({
								"grantId" : optionSel,
								"idsStudentSelectedString" : answMultText
							}),
							success : function(data){
					        	console.log("Success!!!!");
					        	swal({
					                title: '',
					                text: 'Datos guardados correctamente!!',
					                icon: 'success',
					                button: {
					                  text: "Ok",
					                  value: true,
					                  visible: true,
					                  className: "btn btn-primary"
					                }
					              }).then(function() {
					            	    window.location.href = "/admin/applicant";
					              });
							},
							error: function(data) {
								console.log("Error!!!!");
								swal({
							        title: 'Algo salió mal.',
							        text: 'Reintentelo más tarde, si el problema persiste, contacte al administrador.',
							        icon: 'error',
							        button: {
							          text: "Ok",
							          value: true,
							          visible: true,
							          className: "btn btn-warning"
							        }
							      });
							}
						});
					}
				</script>
			</div>
		</div>
	</div>
</body>

</htm>