<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"></html>
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">

				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a th:href="@{/admin/applicant}">Solicitantes</a></li>
											<li class="breadcrumb-item active" aria-current="page" th:if="${applicationDto.id eq -1}">Agregar</li>
											<li class="breadcrumb-item active" aria-current="page" th:if="${applicationDto.id gt -1}">Editar</li>
										</ol>
									</div>
									
									<div class="form-group">
										<input type="text" class="form-control" th:value="${'['+applicationDto.register+'] - '+applicationDto.applicant}"
											disabled="disabled">
									</div>
									<br />
									
									<h4 class="card-title" th:if="${applicationDto.id gt -1}">Agregar a Cafeteria</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample"
										th:object="${applicationDto}" method="POST" action="save">
										<div class="form-group">
											<label class="col-form-label">seleccione una cafeteria</label> <select id="select-coffeeshop" required="required"
												class="form-control" name="grantId" th:field="*{grantId}">
												<option value="-1">Seleccione</option>
												<option th:each="coff:${applicationDto.coffeeShops}" th:value="${coff.id}" th:text="${coff.name}"></option>
											</select>
										</div>
										<div class="card">
											<div class="card-body">
												<h4 class="card-title">Agregar fecha</h4>
												<p class="card-description">...</p>
												<div id="datepicker-popup"
													class="input-group date datepicker">
													<input type="text" class="form-control" id="date-text">
														<span class="input-group-addon input-group-append border-left">
														<span class="icon-calendar input-group-text"></span>
													</span>
												</div>
												<button type="button" class="btn btn-primary mr-2" onclick="addDate()">Agregar Fecha</button>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<h4 class="card-title">Fechas en las que el alumno podr&aacute; acceder a la cafeteria</h4>
												<div class="col-md-12 text-right">
													<div class="badge badge-warning badge-pill">Para confimar los d&iacute;as debe persionar el boton guardar.</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div id="dragula-event-left" class="py-2">
															<div id="date" class="card rounded border mb-2" th:each="app:${applicationDto.applicantCoffeeShopDtos}">
																<div class="card-body p-3">
																	<div class="media">
																		<i th:id="${app.applicantCoffeeShopIdDto.coffeeShop.id+'-'+app.day}" class="icon-sm text-primary align-self-center mr-3">
																			<div class="badge badge-pill badge-outline-primary" th:text="${app.applicantCoffeeShopIdDto.coffeeShop.name}"></div>
																		</i>
																		<div th:id="${'coff-date-'+app.applicantCoffeeShopIdDto.coffeeShop.id+'-'+app.day}" class="media-body" th:text="${app.useDateFormated}">
																			<h6 class="mb-1" th:text="${app.useDateFormated}"></h6>
																		</div>
																		<button type="button" class="btn btn-outline-danger" data-toggle="modal" title="Borrar" 
																			th:onclick='deleteDay("idCoffeeShop",[[${app.applicantCoffeeShopIdDto.coffeeShop.id}]], "coffeeShopDay", [[${app.useDateFormated}]]);'>
																			<span class="icon-trash"></span>
																		</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										</br>
										<div class="col-md-12 text-right">
											<input type="hidden" name="applicant" th:value="${applicationDto.register}" id="applicant"/>
											<input type="hidden" name="applicantId" th:value="${applicationDto.id}" id="applicantId"/>
											<input type="hidden" id="slctdate" th:value="${applicationDto.slctdate}"/>
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf" />
												<a class="btn btn-danger" th:href="@{/admin/applicant}">Cancelar</a>
											<button type="button" class="btn btn-primary mr-2" onclick="save()">Guardar</button>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/formpickers.js}"></script>
				<script type="text/javascript">
					function addDate() {
						var current = new Date();
						var splitDate = $("#date-text").val().split('/');
						var datetext = $("#date-text").val()+"";
						var selectDate = new Date(splitDate[2], splitDate[1] - 1, splitDate[0]);
						var selected = $("#slctdate").val()+"";
						
						if($("#date-text").val() == ""){
							swal({
						        title: '',
						        text: 'Debes seleccionar una fecha.',
						        icon: 'warning',
						        button: {
						          text: "Ok",
						          value: true,
						          visible: true,
						          className: "btn btn-warning"
						        }
						      });
						}else{
							var hr1 = moment(selectDate,'DD/MM/YYYY').format('DD/MM/YYYY');
							var hr2 = moment(current,'DD/MM/YYYY').format('DD/MM/YYYY');
							if(selectDate < current && hr1.toString()!=hr2.toString()){
								swal({
							        title: '',
							        text: 'Fecha no v\u00E1lida.',
							        icon: 'warning',
							        button: {
							          text: "Ok",
							          value: true,
							          visible: true,
							          className: "btn btn-warning"
							        }
							      });
							}else{
								if(selected.includes(datetext)){
										swal({
									        title: '',
									        text: 'La fecha ya existe.',
									        icon: 'warning',
									        button: {
									          text: "Ok",
									          value: true,
									          visible: true,
									          className: "btn btn-warning"
									        }
									      });
									}else{
										$("#dragula-event-left").append(
												"<div id='date' class='card rounded border mb-2'>"
													+"<div class='card-body p-3'>"
														+"<div class='media'>"
														+"<i id='"+$("#select-coffeeshop option:selected").val()+"-"+splitDate[0]+"' class='icon-sm text-primary align-self-center mr-3'>"
															+"<div class='badge badge-pill badge-outline-primary'>"
																+$("#select-coffeeshop option:selected").text()+"</div>"
														+"</i>"
														+"<div id='coff-date-"+$("#select-coffeeshop option:selected").val()+"-"+splitDate[0]+"' class='media-body'>"
															+"<h6 class='mb-1'>"+$("#date-text").val()+"</h6>"
														+"</div>"
														+"<button type='button' class='btn btn-outline-danger' data-toggle='modal' title='Borrar'" 
															+"onclick='deleteFront();' disabled='disabled'>"
															+"<span class='icon-trash'></span>"
														+"</button>"
													+"</div>"
												+"</div>"
											+"</div>"
										);
										$("#slctdate").val($("#slctdate").val() + "," + datetext);
										$("#date-text").val("");
									}
								}	
						}
					}
					
					function save() {
						var data = "";
						var datos = new Array();
						$('#dragula-event-left > div[id="date"]').find('i').filter(function() {
							datos.push($(this).attr("id")+"|"+$("#coff-date-"+$(this).attr("id")).text());
						});
						
						$.ajax({
							headers:
							{
								'X-CSRF-TOKEN': $('#csrf').val(),
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							url: '/api/admin/applicant/assign/save',
							method: 'post',
							cache: false,
							dataType: 'json',
							data: JSON.stringify({
								"data": datos.toString(),
								"applicantRegister": $("#applicant").val(),
								"applicantId": $("#applicantId").val()
							}),
							success: function (data) {
								swal({
									title: 'Asignaci\u00F3n guardada correctamente.',
									text: '',
									icon: 'success',
									button: {
										text: "Ok",
										value: true,
										visible: true,
										className: "btn btn-primary"
									}
								}).then(function () {
									window.location.href = "/admin/applicant";
								});
							},
							error: function (data) {
								swal({
									title: '',
									text: 'Ocurrió un error.',
									icon: 'error',
									button: {
										text: "Ok",
										value: true,
										visible: true,
										className: "btn btn-warning"
									}
								});
							}
						}).done(function () {
							console.log("Success!!!!");
						});
					}
					function deleteDay(idCoffeeShop, idValue, coffeeShopDay, idCoffeeShopValue) {
						$.ajax({
							headers:
							{
								'X-CSRF-TOKEN': $('#csrf').val(),
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							url: '/api/admin/applicant/assign/delete',
							method: 'post',
							cache: false,
							dataType: 'json',
							data: JSON.stringify({
								"idCoffeeShop": idValue,
								"coffeeShopDay": idCoffeeShopValue,
								"applicantId": $("#applicantId").val()
							}),
							success: function (data) {
								swal({
									title: 'D\u00EDa eliminado correctamente.',
									text: '',
									icon: 'success',
									button: {
										text: "Ok",
										value: true,
										visible: true,
										className: "btn btn-primary"
									}
								});
								loadDays();
							},
							error: function (data) {
								swal({
									title: '',
									text: 'Ocurri\u00F3 un error.',
									icon: 'error',
									button: {
										text: "Ok",
										value: true,
										visible: true,
										className: "btn btn-warning"
									}
								});
							}
						}).done(function () {
							console.log("Success!!!!");
						});
					}
					
					function loadDays() {
						$.ajax({
							headers:
							{
								'X-CSRF-TOKEN': $('#csrf').val(),
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							url: '/api/admin/applicant/getcoffeeshops/'+$("#applicant").val(),
							method: 'post',
							cache: false,
							dataType: 'json',
							success: function (data) {
								$('#dragula-event-left').empty();
								$.each(data,function(key,registro) {
									$("#dragula-event-left").append(
											"<div id='date' class='card rounded border mb-2'>"
													+"<div class='card-body p-3'>"
														+"<div class='media'>"
														+"<i id='"+registro.applicantCoffeeShopIdDto.coffeeShop.id+"-"+registro.day+"' class='icon-sm text-primary align-self-center mr-3'>"
															+"<div class='badge badge-pill badge-outline-primary'>"
																+registro.applicantCoffeeShopIdDto.coffeeShop.name+"</div>"
														+"</i>"
														+"<div id='coff-date-"+registro.applicantCoffeeShopIdDto.coffeeShop.id+"-"+registro.day+"' class='media-body'>"
															+"<h6 class='mb-1'>"+registro.useDateFormated+"</h6>"
														+"</div>"
														+"<button type='button' class='btn btn-outline-danger' data-toggle='modal' title='Borrar'" 
														+"onclick='deleteDay(&apos;idCoffeeShop&apos;,"+registro.applicantCoffeeShopIdDto.coffeeShop.id+", &apos;coffeeShopDay&apos;,&apos;"+registro.useDateFormated+"&apos;);'>"
														+"<span class='icon-trash'></span>"
														+"</button>"
													+"</div>"
												+"</div>"
										+"</div>"
									);
								});
							},
							error: function (data) {
								console.log("error: consultando días.");
							}
						});
					}
				</script>
			</div>
		</div>
	</div>
</body>

</html>