<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/applicant}">Solicitantes</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${applicationDto.id eq -1}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${applicationDto.id gt -1}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${applicationDto.id eq -1}">Nuevo Solicitante</h4>
									<h4 class="card-title" th:if="${applicationDto.id gt -1}">Editar Solicitante</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${applicationDto}" method="POST" action="save">
										<div class="form-group">
											<label class="col-form-label">Tipo de Beca</label>
											<select id="select-type" required="required" class="form-control"  name ="grantId" th:field="*{grantId}">
												<option value="-1">Seleccione</option>
												<option th:each="grant:${applicationDto.grantsDto}" th:value="${grant.id}"
														th:text="${grant.grant}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="applicant">Tipo de solicitante</label> <input
												type="text" class="form-control"
												placeholder="Ej: Alumno" id="applicantType" name="applicantType" th:value="${applicationDto.guest?'INVITADO':'ALUMNO'}" readonly>
										</div>
										<div class="form-group">
											<label for="applicant">Matr&iacute;cula</label> <input
												type="text" class="form-control"
												placeholder="07045333" id="register" name="applicant" th:value="${applicationDto.register}" readonly>
										</div>
										<div class="form-group">
											<label for="applicant">Nombre</label> <input
												type="text" class="form-control"
												placeholder="Ej:Juan hernandez Martinez" id="applicant" name="register" th:value="${applicationDto.applicant}" readonly>
										</div>
										<div class="form-check form-check-flat form-check-primary" th:if="${applicationDto.id > 0}">
											<label class="form-check-label">
												<input type="checkbox" class="form-check-input" name="statusGrant" th:checked="${applicationDto.statusGrant}">
												Becado
											</label>
										</div>
								         </br>
						                <div class="col-md-12 text-right">
											<input type="hidden" name="id" th:value="${applicationDto.id}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf"/>
											<a class="btn btn-danger" th:href="@{/admin/applicant}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2" >Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
</body>

</htm>