<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>

		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Candidatos a becas alimenticias</h4>
							<div class="add-items text-right">
								<a
									class="add btn btn-primary font-weight-bold todo-list-add-btn"
									th:href="@{/admin/applicant/addstudent}" title="Agregar alumno candidato"><i
									class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Nuevo
									candidato [Alumno]</a>
									<a
									class="add btn btn-primary font-weight-bold todo-list-add-btn"
									th:href="@{/admin/applicant/addguest}" title="Agregar invitado candidato"><i
									class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Nuevo
									candidato [Invitado]</a>
							</div>

							<div class="modal" id="coffeeShopModal" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabel-4"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="modalTitle">D&iacute;as
												asignados</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form id="form-add-charge" th:object="${applicationDto}">
												<div class="row">
															<div class="col-12 table-responsive">
															<p class="text-muted" id="modalBodyText"></p>
																<table id="order-listing-two" class="table">
																	<thead>
																		<tr>
																			<th>D&iacute;a</th>
																			<th>Cafeteria</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>

												<div class="modal-footer">
													<input type="hidden" id="csrf"
														th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
													<button type="button" class="btn btn-danger"
														data-dismiss="modal">Cerrar</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Matricula</th>
												<th>Solicitante</th>
												<th>Tipo de Beca</th>
												<th>Estatus de la Beca</th>
												<th>Periodo</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="applicant : ${applicationDto.applicantDtoList}">
												<td align="center" th:text="${applicant.register}"></td>
												<td th:text="${applicant.applicant}"></td>
												<td align="center" th:text="${applicant.grant.name}"></td>
												<td align="center"><label
													th:text="${applicant.statusGrant ? 'Autorizada' : 'No Autorizada'}"
													th:class="${applicant.statusGrant ? 'badge badge-primary badge-pill' : 'badge badge-warning badge-pill'}">
												</label></td>
												<td align="center"
													th:text="${applicant.period.schoolPeriod}"></td>
												<td>
													<button type="button" class="btn btn-outline-info"
														title="Asignar cafeterias"
														th:onclick='|SAUA.assign("id", ${applicant.id});|'
														th:if="${applicant.statusGrant}">
														<span class="icon-plus"></span>
													</button>

												</td>
												<td>
													<button class="btn btn-outline-primary" data-toggle="modal"
														data-target="#coffeeShopModal"
														title="Ver días" th:data-register="${applicant.register+'-'+applicant.applicant}" >
														<span class="icon-eye"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Editar"
														th:onclick='SAUA.edit("id",[[${applicant.id}]]);'>
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-danger"
														data-toggle="modal" title="Eliminar"
														th:onclick='SAUA.toDelete("id",[[${applicant.id}]]);'>
														<span class="icon-trash"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="assign-form"
									th:action="@{/admin/applicant/assign}">
									<input type="hidden" name="id" id="id" /> <input type="hidden"
										th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="edit-form"
									th:action="@{/admin/applicant/edit}">
									<input type="hidden" name="id" id="id" /> <input type="hidden"
										th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/applicant/delete}">
									<input type="hidden" name="id" id="id" /> <input type="hidden"
										th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
				<script type="text/javascript">
					$('#coffeeShopModal').on('show.bs.modal', function(e) {
						var id= $(e.relatedTarget).data('register');
						$('#modalBodyText').text(id);
						var res = id.split("-");
						
						$.ajax({
							headers:
							{
								'X-CSRF-TOKEN': $('#csrf').val(),
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							url: '/api/admin/applicant/getcoffeeshops/'+res[0],
							method: 'post',
							cache: false,
							dataType: 'json',
							success: function (data) {
								$('#order-listing-two tbody tr').slice(0).remove();
								$.each(data,function(key,registro) {
									$("#order-listing-two").append("<tr>"
											+"<td>"+registro.useDateFormated+"</td>"
						        			+"<td>"+registro.applicantCoffeeShopIdDto.coffeeShop.name+"</td>");
							     });
							},
							error: function (data) {
								console.log("Error!!!");
							}
						});
					});
				</script>
			</div>
		</div>
	</div>
</body>

</html>
