<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">

		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_student_min"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">ACTIVIDADES ESCOLARES</h4>

                  	<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Id</th>
												<th>Actividad</th>
												<th>Lugar</th>
												<th>Categoria</th>
												<th>Fecha</th>
												<th>Hora de Entrada</th>
												<th>Hora de Salida</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="AssistanceRecordDto : ${assistanceRecordDto}">
												<td align="center" th:text="${AssistanceRecordDto.id}"></td>
												<td th:text="${AssistanceRecordDto.events.eventName}"></td>
												<td th:text="${AssistanceRecordDto.events.spaces.labName}"></td>
												<td>Conferencias, talleres</td>
												<td align="center" th:text="${AssistanceRecordDto.date}"></td>
												<td align="center" th:text="${AssistanceRecordDto.initialTime}"></td>
												<td align="center" th:text="${AssistanceRecordDto.endTime}"></td>
											</tr>

										</tbody>
									</table>
								</div>
								
							</div>

									
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
				<script th:src="@{/js/select2.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
