<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications" ></div>
			<div  th:replace="fragments/layout/header :: common_navbar_tutor" ></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
		<div class="card">
                <div class="card-body">
                	<div class="col-md-12 d-flex justify-content-end">
						<ol class="breadcrumb">
					    	<li class="breadcrumb-item"><a th:href="@{/tutor/tutoreds}">Tutorados</a></li>
					        <li class="breadcrumb-item active" aria-current="page">H. Acad&eacute;mico</li>
					    </ol>
				    </div>
                  <h4 class="card-title">HISTORIAL ACADÉMICO</h4>
                  <div class="form-group">
		        	<input type="text" class="form-control" id="student-tutorName" th:value="${'['+kardexDto.register+'] '+kardexDto.nameStudent}" disabled="disabled">
				</div>
                  <ul class="nav nav-tabs tab-solid tab-solid-danger" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="tab-5-1" data-toggle="tab" href="#home-5-1" role="tab" aria-controls="home-5-1" aria-selected="true">EFI</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="tab-5-2" data-toggle="tab" href="#profile-5-2" role="tab" aria-controls="profile-5-2" aria-selected="false">NFBAD</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="tab-5-3" data-toggle="tab" href="#contact-5-3" role="tab" aria-controls="contact-5-3" aria-selected="false">NFPE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="tab-5-4" data-toggle="tab" href="#eiv-5-4" role="tab" aria-controls="eiv-5-4" aria-selected="false">EIV</a>
                    </li>
                  </ul>
                  <div class="tab-content tab-content-solid">
                    <div class="tab-pane fade active show" id="home-5-1" role="tabpanel" aria-labelledby="tab-5-1">
                    
                             <div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr>
												<th>Clave</th>
												<th>Uap</th>
												<th>Calificaci&oacute;n</th>
												<th>Estatus</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="kardex : ${kardexDto.kardexDtosEfi}">
												<td align="center" th:text="${kardex.cveUap}"></td>
												<td th:text="${kardex.nameUap}"></td>
												<td align="center" th:text="${kardex.score}"></td>
												<td>
													<label th:text="${kardex.cveAproRepro == 'R' ? 'Reprobada' : 'Aprobada'}" th:class="${kardex.cveAproRepro == 'R' ? 'badge badge-danger badge-pill' : 'badge badge-success badge-pill'}">   </label>													
												</td>
											</tr>
										</tbody>
									</table>
								</div>
                    </div>

                    </div>
                    <div class="tab-pane fade" id="profile-5-2" role="tabpanel" aria-labelledby="tab-5-2">
                    
                              <div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr>
												<th>Clave</th>
												<th>Uap</th>
												<th>Calificaci&oacute;n</th>
												<th>Estatus</th>
												<th>Tipo Examen</th>
												<th>Periodo</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="kardex : ${kardexDto.kardexDtosNfbad}">
												<td align="center" th:text="${kardex.cveUap}"></td>
												<td th:text="${kardex.nameUap}"></td>
												<td align="center" th:text="${kardex.score}"></td>
												<td>
													<label th:text="${kardex.cveAproRepro == 'R' ? 'Reprobada' : 'Aprobada'}" th:class="${kardex.cveAproRepro == 'R' ? 'badge badge-danger badge-pill' : 'badge badge-success badge-pill'}">   </label>
													
												</td>
												<td align="center" th:text="${kardex.testType}"></td>
												<td align="center" th:text="${kardex.cvePeriod}"></td>
											</tr>
										</tbody>
									</table>
								</div>
                    </div>
                    
                    
                    </div>
                    <div class="tab-pane fade" id="contact-5-3" role="tabpanel" aria-labelledby="tab-5-3">
                    
                        <div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr>
												<th>Clave</th>
												<th>Uap</th>
												<th>Calificaci&oacute;n</th>
												<th>Estatus</th>
												<th>Tipo Examen</th>
												<th>Periodo</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="kardex : ${kardexDto.kardexDtosNfpe}">
												<td align="center" th:text="${kardex.cveUap}"></td>
												<td th:text="${kardex.nameUap}"></td>
												<td align="center" th:text="${kardex.score}"></td>
												<td>
													<label th:text="${kardex.cveAproRepro == 'R' ? 'Reprobada' : 'Aprobada'}" th:class="${kardex.cveAproRepro == 'R' ? 'badge badge-danger badge-pill' : 'badge badge-success badge-pill'}">   </label>
													
												</td>
												<td align="center" th:text="${kardex.testType}"></td>
												<td align="center" th:text="${kardex.cvePeriod}"></td>
											</tr>
										</tbody>
									</table>
								</div>
                    </div>
                    
                    </div>
                    <div class="tab-pane fade" id="eiv-5-4" role="tabpanel" aria-labelledby="tab-5-4">
                    
                    		<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr>
												<th>Clave</th>
												<th>Uap</th>
												<th>Calificaci&oacute;n</th>
												<th>Estatus</th>
												<th>Tipo Examen</th>
												<th>Periodo</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="kardex : ${kardexDto.kardexDtosEiv}">
												<td align="center" th:text="${kardex.cveUap}"></td>
												<td th:text="${kardex.nameUap}"></td>
												<td align="center" th:text="${kardex.score}"></td>
												<td>
													<label th:text="${kardex.cveAproRepro == 'R' ? 'Reprobada' : 'Aprobada'}" th:class="${kardex.cveAproRepro == 'R' ? 'badge badge-danger badge-pill' : 'badge badge-success badge-pill'}">   </label>
												</td>
												<td align="center" th:text="${kardex.testType}"></td>
												<td align="center" th:text="${kardex.cvePeriod}"></td>
											</tr>
										</tbody>
									</table>
								</div>
                    </div>
                  </div>
                </div>
              </div>

	</div>

				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
