<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/infoeval}">Info evaluaciones</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${infoEvaluationDto.idUsuario eq -1}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${infoEvaluationDto.idUsuario gt -1}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${infoEvaluationDto.idUsuario eq -1}">Nuevo info de evaluaciones</h4>
									<h4 class="card-title" th:if="${infoEvaluationDto.idUsuario gt -1}">Editar info de evaluaciones</h4>
									<form id="userForm" class="forms-sample" th:object="${infoEvaluationDto}" method="POST" action="save">
										<div class="form-group">
											<label for="register">Matrícula</label> <input
												type="text" class="form-control" 
												name="register" th:value="${infoEvaluationDto.register}" required="required">
										</div>
										<div class="form-group">
											<label for="totalAutoEval">Total de autoevaluaciones contestadas</label> <input
												type="number" class="form-control"
												name="totalAutoEval" th:value="${infoEvaluationDto.totalAutoEval}" required="required">
										</div>
										<div class="form-group">
											<label for="totalTeacherEval">Total de autoevaluaciones contestadas</label> <input
												type="number" class="form-control"
												name="totalTeacherEval" th:value="${infoEvaluationDto.totalTeacherEval}" required="required">
										</div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="id" th:value="${infoEvaluationDto.register}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/infoeval}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/formpickers.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
