<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Información de evaluaciones</h4>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/infoeval/add}"
								   title="Agregar"><span class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
							</div>
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Usuario</th>
												<th>Matrícula</th>
												<th>Nombre</th>
												<th>Autoevaluación</th>
												<th>Eval Docente</th>
												<th>Carga Anterior</th>
												<th>Periodo</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="info : ${infoEvaluationDto.infoEvaluationDtos}">
												<td align="center" th:text="${info.idUsuario}"></td>
												<td align="center" th:text="${info.register}"></td>
												<td align="center" th:text="${info.name}"></td>
												<td align="center" th:text="${info.totalAutoEval}"></td>
												<td align="center" th:text="${info.totalTeacherEval}"></td>
												<td align="center" th:text="${info.cargaAnterior}"></td>
												<td align="center" th:text="${info.periodo}"></td>
												<td align="center">
													<button type="button" class="btn btn-outline-warning"
															title="Detalle evaluaciones" th:onclick='|SAUA.show("id", ${info.idUsuario});|' >
														<span class="icon-list"></span>
													</button>
												</td>
												<td align="center">
													<button type="button" class="btn btn-outline-primary"
														title="Editar" th:onclick='|SAUA.edit("id", ${info.idUsuario});|' >
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td>
													<button th:if="${!info.activeEval}" type="button" class="btn btn-outline-primary"
															title="Activar evaluaciones" th:onclick='|SAUA.activeEvals("id", ${info.idUsuario});|'>
														<span class="icon-check"></span>
													</button>
													<button th:if="${info.activeEval}" type="button" class="btn btn-outline-danger"
															title="Desactivar evaluaciones" th:onclick='|SAUA.desactiveEvals("id", ${info.idUsuario});|'>
														<span class="icon-close"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="desactive-form"
									  th:action="@{/admin/infoeval/desactivateEval}">
									<input type="hidden" name="id" id="id" />
									<input type="hidden" th:name="${_csrf.parameterName}"
										   th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="active-form"
									th:action="@{/admin/infoeval/activateEval}">
									<input type="hidden" name="id" id="id" /> 
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="edit-form"
									  th:action="@{/admin/infoeval/edit}">
									<input type="hidden" name="id" id="id" />
									<input type="hidden" th:name="${_csrf.parameterName}"
										   th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="show-form"
									  th:action="@{/admin/infoeval/show}">
									<input type="hidden" name="id" id="id" />
									<input type="hidden" th:name="${_csrf.parameterName}"
										   th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
