<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">						
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a th:href="@{/admin/infoeval}">Info evaluaciones</a></li>
										</ol>
									</div>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<h4 class="card-title">Listado de UAP´s evaluadas</h4>
							        <div class="form-group">
							        	<input type="text" class="form-control" id="student-tutorName" th:value="${'TUTOR: '+studentChargeDto.tutorName+'       ESTUDIANTE: '+studentChargeDto.student.name
							        		+' '+studentChargeDto.student.lastname+' '+studentChargeDto.student.secondLastname}" disabled="disabled">
									</div>
									<br/>
																
									<div class="row">
										<div class="col-12 table-responsive">
											<table id="order-listing" class="table table-striped">
												<thead>
													<tr align="center">
														<th>Clave</th>
														<th>UAP</th>
														<th>Profesor</th>
														<th>Grupo</th>
														<th>P.E.</th>
														<th>Autoevaluación</th>
														<th>Eval. Docente</th>
														<th>F. contestó Eval Doc</th>

													</tr>
												</thead>
												<tbody>
													<tr th:each="sc : ${studentChargeDto.studentCharges}">
														<td align="center" th:text="${sc.offeredClass.uap.key}"></td>
														<td th:text="${sc.offeredClass.uap.name}"></td>
														<td th:text="${sc.offeredClass.teacher.name+' '+sc.offeredClass.teacher.lastname+' '+sc.offeredClass.teacher.secondLastname}"></td>
														<td align="center" th:text="${sc.offeredClass.group.name}"></td>
														<td th:text="${sc.offeredClass.group.educationalProgramDto.abr}"></td>
														<td align="center" ><label
															th:text="${sc.autoevalAnswered == true ? 'Contestada' : 'No contestada'}"
															th:class="${sc.autoevalAnswered == true ? 'badge badge-success badge-pill' : 'badge badge-danger badge-pill'}">
															</label></td>
														<td align="center"><label
																th:text="${sc.teacherEvalAnswered == true ? 'Contestada' : 'No contestada'}"
																th:class="${sc.teacherEvalAnswered == true ? 'badge badge-success badge-pill' : 'badge badge-danger badge-pill'}">
														</label></td>
														<td th:text="${sc.evaluationAnsweredDate}"></td>

													</tr>
												</tbody>
											</table>
										</div>
										<form method="POST" id="evaluation-teacher-form"
											th:action="@{/student/evaluation/teacher}">
											<input type="hidden" name="id" id="id" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</form>
										<form method="POST" id="autoEvaluation-form"
											th:action="@{/student/evaluation/auto}">
											<input type="hidden" name="id_auto" id="id_auto" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/layout/header :: common_footer"></footer>
		<script th:src="@{/js/data-table.js}"></script>
	</div>
</body>

</html>