<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/programs}">Programas educativos</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${programDto.newRegister}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${!programDto.newRegister}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${programDto.newRegister}">Nuevo programa educativo</h4>
									<h4 class="card-title" th:if="${!programDto.newRegister}">Editar programa educativo</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${programDto}" method="POST" action="save">
										<div class="form-group">
											<label for="studentPlanKey">Clave</label> <input
												type="text" class="form-control" 
												placeholder="010106" name="studentPlanKey" th:value="${programDto.studentPlanKey}" required="required">
										</div>
										<div class="form-group">
											<label for="studentPlanName">Nombre del programa educativo</label> <input
												type="text" class="form-control" 
												placeholder="Ej. INGENIERO EN COMPUTACIÓN" name="studentPlanName" th:value="${programDto.studentPlanName}" required="required">
										</div>
										<div class="form-group">
											<label for="studentPlanVrs">Versi&oacute;n</label> <input
												type="number" class="form-control" 
												placeholder="Ej: 14" name="studentPlanVrs" th:value="${programDto.studentPlanVrs}" >
										</div>
										<div class="form-group">
											<label for="abr">Abreviatura</label> <input
												type="text" class="form-control" 
												placeholder="Ej: COMPU" name="abr" th:value="${programDto.abr}" required="required">
										</div>
										<div class="form-group">
											<label for="observations">Comentarios</label> <input
												type="text" class="form-control" 
												placeholder="Ej: Observaciones" name="observations" th:value="${programDto.observations}" >
										</div>
										<div class="form-group">
											<label for="school">Escuela </label>
											<select required="required" class="form-control" th:field="*{school.id}">
												<option th:each="school:${programDto.schoolDtos}" th:value="${school.id}" th:text="${school.name}"></option>
											</select>
										</div>
										
										<div class="col-md-12 text-right">
											<input type="hidden" name="newRegister" th:value="${programDto.newRegister}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/programs}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
</body>

</htm>