<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_cashier"></div>
		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
			<div th:replace="fragments/layout/header :: common_messages"></div>
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12">
							<div class="card px-2">
								<div class="card-body">
									<div class="container-fluid">
										<h4 th:text="${user.coffeeShop.name}"></h4>
										<br>
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control"
													placeholder="Buscar por matricula" aria-label="Matricula"
													id="searchtext" maxlength="8" onkeypress="searchkey();">
												<div class="input-group-append">
													<button class="btn btn-sm btn-primary" type="button"
														onclick="search();" disabled="disabled" id="searchbutton">Buscar</button>
												</div>
												&nbsp;
												<button class="btn btn-sm btn-info" type="button"
														onclick="clearfields();" id="clearbutton">Limpiar!</button>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 grid-margin stretch-card">
											<div class="card">
												<div class="card-body">
													<h6 class="card-title ">Informaci&oacute;n del alumno</h6>
													<div class="form-group">
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text">Matr&iacute;cula</span>
															</div>
															<input type="text" class="form-control"
															 aria-label="Matricula" disabled="disabled" id="register" style="color: darkblue; font-size: 12pt;">
														</div>
													</div>
													<div class="form-group">
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text">Alumno</span>
															</div>
															<input type="text" class="form-control"
																aria-label="Alumno" id="student" disabled="disabled" style="color: darkblue; font-size: 12pt;">
														</div>
													</div>
													<div class="form-group">
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text">Carrera</span>
															</div>
															<input type="text" class="form-control"
																aria-label="carrera" id="career" disabled="disabled" style="color: darkblue; font-size: 12pt;">
														</div>
													</div>
													<div class="form-group">
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text">Beca</span>
															</div>
															<input type="text" class="form-control"
																aria-label="Beca" id="beca" disabled="disabled" style="color: darkblue; font-size: 12pt;">
														</div>
													</div>
													<div class="form-group">
														<div id="div-infot"></div>
													</div>
												</div>
											</div>

										</div>
										<div class="col-md-6 grid-margin stretch-card">
											<div class="card">
												<div class="card-body">
													<h6 class="card-title">Foto</h6>
														<div class="form-group" id="picture-div"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="container-fluid w-100">
									<div class="add-items text-right">
										<input type="hidden" id= "_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										<input type="hidden" id= "coffeeshopid" name="coffeeshopid" th:value="${user.coffeeShop.id}" />
										<button type="button" class="btn-lg btn-info mr-2" title="Cobrar!" onclick="registervisit();"
											data-toggle="modal"><span class="icon-credit-card"></span> Registrar visita!
										</button>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/jquery.countdown.min.js}"></script>
			</div>
		</div>
		<script type="text/javascript">
			function searchkey() {
				if($('#searchtext').val().length == 8){
					search();
				}
			}
			
			function search() {
				var searchText = $('#searchtext').val();
				if(searchText != ""){
					$.ajax({
						url : '/api/cashier/findstudent/'+ $('#searchtext').val(),
						method : 'GET',
						cache : false,
						contentType : 'application/json',
						dataType : 'json',
						success : function(data) {
							var inf = JSON.parse(JSON.stringify(data));
							$('#register').val(inf.register);
							$('#student').val(inf.fullname);
							$('#career').val(inf.career);
							$('#beca').val(inf.beca);
							$('#picture-div').html("<img id ='picture' class='rounded mx-auto d-block' width='50%' height='50%'/>");
							$('#picture').attr('src', `data:image/png;base64,${inf.photo}`);
							$('#searchtext').focus();
						},
						error : function(data) {  
							var err = JSON.parse(data.responseText);
							swal({
						        title: "No se pudo registrar la visita.",
						        text: err.errorText,
						        icon: 'warning',
						        button: {
						          text: "Ok",
						          value: true,
						          visible: true,
						          className: "btn btn-warning"
						        }
						      }).then(function (result) {
						    	  document.getElementById('searchtext').focus();
						      });
						      $('#register').val(err.register);
							  $('#student').val(err.fullname);
							  $('#career').val(err.career);
							  $('#beca').val(err.beca);
							  $('#picture-div').html("<img id ='picture' class='rounded mx-auto d-block' width='50%' height='50%'/>");
							  $('#picture').attr('src', `data:image/png;base64,${err.photo}`);
							  $('#searchtext').focus();
						}
					});
				}else{
					swal({
				        title: '',
				        text: "Debe ingresar la matr\u00EDcula a buscar.",
				        icon: 'warning',
				        button: {
				          text: "Ok",
				          value: true,
				          visible: true,
				          className: "btn btn-warning"
				        }
				      });
				}
			}
			
			function registervisit(){
				if($('#register').val()!=""){
					$.ajax({
			      		  headers:
			      	        { 'X-CSRF-TOKEN': $('#_csrf').val(),
			      	          'Accept': 'application/json',
			      	          'Content-Type': 'application/json'
			      	        },
			      			url : '/api/cashier/registervisit',
			      			method : 'post',
			      			cache : false,
			      			dataType : 'json',
			      			data : JSON.stringify({
			      				"register" : $('#register').val(),
			      				"coffeeShopId" : $('#coffeeshopid').val()
			      			}),
			      	        success: function (data) {
								console.log("success!");
								$('#register').val("");
						        $('#student').val("");
						        $('#career').val("");
						        $('#beca').val("");
						        $('#searchtext').val("");
						        $('#searchtext').focus();
						        $('#picture').remove();
						        $('#div-infot').html("<div id='message' class='alert alert-success' role='alert'>Visita registrada!</div>");
						        setTimeout(function() {
									$('#message').remove();
								}, 2000);
					        },
			      			error: function(data) {
			      				swal({
							        title: "No se pudo registrar la visita.",
							        text: data.responseText,
							        icon: 'warning',
							        button: {
							          text: "Ok",
							          value: true,
							          visible: true,
							          className: "btn btn-warning"
							        }
							      });
			      			}
			      		});
				}
			}	
		</script>
	</div>
</body>

</html>
