<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_min"></div>
		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row profile-page">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<div class="col-12 grid-margin stretch-card">
										<div class="card">
											<div class="card-body">
												<h4 class="card-title" th:text="${inqDto.inquest.name}"></h4>

												<form class="cmxform" id="questions-form" action="saveinquest">
													<div id="questions">
														<div th:each="q : ${inqDto.inquestQuestionList}" th:id="${'q-'+q.question.id}">
															<div class="add-items text-right">
																<label th:text="${inqDto.currentPageView+'/'+inqDto.totalPages}" class="badge badge-info badge-pill"></label>
															</div>
															<h3 th:text="${q.question.text}"></h3>
															<br>
															<br>
															<br>
															<div class="form-group" th:if="${q.question.questionType.toString().equals('ABIERTA_TEXT') or q.question.questionType.toString().equals('ABIERTA')}" id="form-group-answer-text">
																<input type="text" class="form-control" name="anstext"
																	th:placeholder="${q.question.placeHolder}" maxlength="200" required>
															</div>
															<div class="form-group" th:if="${q.question.questionType.toString().equals('ABIERTA_NUM')}" id="form-group-answer-text">
																<input type="text" class="form-control" name="ansnum" id="ansnum" maxlength="5"
																	th:placeholder="${q.question.placeHolder}" required>
															</div>
															<div class="form-group" th:if="${q.question.questionType.toString().equals('OPCION')}" id="answers-form-group-radio">
																<div class="form-group row" id="answers-row-radio">
																	<div class="col-md-6" id="answers-col-radio">
																		<div class="form-check" id="form-radio-si">
																			<label class="form-check-label"> <input type="radio" class="form-check-input"
																				name="membershipRadios" th:id="${'ans-radio-'+q.question.id+'-si'}" value="Si" checked="checked"> Si
																			</label>
																		</div>
																		<div class="form-check" id="form-radio-no">
																			<label class="form-check-label"> <input type="radio" class="form-check-input"
																				name="membershipRadios" th:id="${'ans-radio-'+q.question.id+'-no'}" value="No"> No
																			</label>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group" th:if="${q.question.questionType.toString().equals('OPCIONES')}" id="answers-form-group-check">
																<div class="form-group row" id="answers-row-check">
																	<div class="col-md-6" id="answers-col-check">
																		<div th:each="ans : ${q.question.answers}" class="form-check" th:id="${'ans-'+q.question.id+'-'+ans.id}">
																			<label class="form-check-label">
																			<input type="radio" class="form-check-input" name="optionSelected" th:value="${ans.id}" th:text="${ans.text}" th:checked="${ans.checked}">
																			</label> 
																			<input type="text" th:if="${ans.specify}" class="form-control" id="input-specify" name="anstext" maxlength="200">
																		</div>
																	</div>
																	<input type="hidden" id="optanswselect" name="optanswselect" value="#" />
																</div>
															</div>
															<div class="form-group" th:if="${q.question.questionType.toString().equals('MULTIPLE')}" id="answers-form-group-check">
																<div class="form-group row" id="answers-row-check">
																	<div class="col-md-6" id="answers-col-check">
																		<div th:each="ans : ${q.question.answers}" class="form-check" th:id="${'ans-'+q.question.id+'-'+ans.id}">
																			<label class="form-check-label"> 
																				<input type="checkbox" class="form-check-input"
																					th:name="${q.question.id}" th:id="${'ans-chkm-'+q.question.id+'-'+ans.id}" th:value="${ans.id}" th:text="${ans.text}"
																					th:checked="${ans.checked}">
																			</label> <input type="text" th:if="${ans.specify}"
																				class="form-control"
																				id="specify"
																				name="text-description" maxlength="200" required>
																		</div>
																	</div>
																	<input type="hidden" id="multselect" name="multselect" value="#" />
																</div>
															</div>
															<div class="form-inline" th:if="${q.question.questionType.toString().equals('RATING_0_10')}" id="answers-form-group-check">
																<br>
																<br>
																<div class="badge badge-danger">Totalmente no</div>
																&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
																<div class="br-wrapper br-theme-bars-1to10">
																	<select name="rating" required="required">
																		<option value="0">0</option>
																		<option value="1">1</option>
																		<option value="2">2</option>
																		<option value="3">3</option>
																		<option value="4">4</option>
																		<option value="5">5</option>
																		<option value="6">6</option>
																		<option value="7">7</option>
																		<option value="8">8</option>
																		<option value="9">9</option>
																		<option value="10">10</option>
																	</select>
																</div>
																<div class="badge badge-success">Totalmente si</div>
															</div>
														</div>
														<br>
														<br>
														<br>
														
														<div class="col-md-12 text-right" th:if="${inqDto.page < inqDto.totalPages-1}">
															<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
															<input type="hidden" name="currentPage" th:value="${inqDto.page}" />
															<input type="hidden" name="totalPages" th:value="${inqDto.totalPages}" />
															<input type="hidden" name="idInquest" th:value="${inqDto.inquest.id}" />
															<input type="hidden" name="idq" th:value="${inqDto.idq}" />
															<input type="hidden" name="qtype" th:value="${inqDto.qtype}" />
															<a class="btn btn-danger" th:href="@{/home}">Cancelar</a>
															<button type="submit" class="btn btn-primary mr-2">Siguiente</button>
														</div>
														<div class="col-md-12 text-right" th:if="${inqDto.page eq inqDto.totalPages-1}">
															<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
															<input type="hidden" name="currentPage" th:value="${inqDto.page}" />
															<input type="hidden" name="totalPages" th:value="${inqDto.totalPages}" />
															<input type="hidden" name="idInquest" th:value="${inqDto.inquest.id}" />
															<input type="hidden" name="idq" th:value="${inqDto.idq}" />
															<input type="hidden" name="qtype" th:value="${inqDto.qtype}" />
															<a class="btn btn-danger" th:href="@{/home}">Cancelar</a>
															<button type="submit" class="btn btn-primary mr-2">Guardar y finalizar</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="fragments/layout/header :: common_footer"></footer>
		</div>
	</div>
	<script src="/js/template.js"></script>
	<script src="/js/form-addons.js"></script>
	<script src="/js/form-validation.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery("#ansnum").on('input', function (evt) {
				jQuery(this).val(jQuery(this).val().replace(/[^0-9]/g, ''));
			});
		});
	  $(function() {
	      function ratingEnable() {    	  
	  	 $('select[name=rating]').barrating('show', {
	          theme: 'bars-1to10'
	        });
	      }
	      
	      function ratingDisable() {
	          $('select').barrating('destroy');
	        }
	
	        $('.rating-enable').on("click", function(event) {
	          event.preventDefault();
	
	          ratingEnable();
	
	          $(this).addClass('deactivated');
	          $('.rating-disable').removeClass('deactivated');
	        });
	
	        $('.rating-disable').on("click", function(event) {
	          event.preventDefault();
	
	          ratingDisable();
	
	          $(this).addClass('deactivated');
	          $('.rating-enable').removeClass('deactivated');
	        });
	        ratingEnable();
	      
	  });
	  
	  $("input[type=radio]").click(function() {
		    var selected = $("input[type=radio]:checked").parent().text();
		    $("#optanswselect").attr("value",$("input[name=optionSelected]:checked").val());
		    if(selected.toLowerCase().includes("indique")){
		    	$("#input-specify").show();
		    	$("#input-specify").attr("required", "required");
		    }else{
		    	$("#input-specify").hide();
		    	$("#input-specify").removeAttr("required");
		    }
		});
	  
	  $(document).ready(function() {
		  $("#input-specify").hide();
	  });
	  
	  $("input[type=checkbox]").click(function() {
		  var sList = "";
		  $('input[type=checkbox]').each(function () {
		      if(this.checked){
		    	  sList = sList + "|" + $(this).val();
		      }
		  });
		  console.log (sList);
		  $("#multselect").attr("value",sList);
		});
	  </script>
</body>

</html>
