<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>

<body>
  <div class="container-scroller">
    <nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
		<div th:replace="fragments/layout/header :: common_notifications"></div>
		<div  th:replace="fragments/layout/header :: common_min"></div>
	</nav>
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row profile-page">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="col-12 grid-margin stretch-card">
		              <div class="card">
		                <div class="card-body">
		                  <h4 class="card-title" th:text="${questionDto.inquest.name}"></h4>
		                  <form class="cmxform" id="questions-form">
			                  	<div id="questions">
				                  	<div th:each="q : ${questionDto.questions}" th:id="${'q-'+q.id}">
				                  		<label for="text" th:text="${q.text}"></label>
				                  		<div class="form-group" th:if="${q.questionType eq 'ABIERTA'}" id="form-group-answer-text">
					                      	<input type="text" class="form-control" th:id="${'ans-text-'+q.id}" th:name="${'ans-text-'+q.id}" th:placeholder="${q.placeHolder}" maxlength="200" pattern="^[a-zA-Z0-9]+$" required>
					                    </div>
					                    <div class="form-group" th:if="${q.questionType eq 'OPCION'}" id="answers-form-group-radio">
					                      	<div class="form-group row" id="answers-row-radio">
					                          <div class="col-md-6" id="answers-col-radio">
					                            <div class="form-check" id="form-radio-si">
					                              <label class="form-check-label">
					                                <input type="radio" class="form-check-input" th:name="${q.id}" th:id="${'ans-radio-'+q.id+'-si'}" value="si" checked="checked">
					                                Si
					                              </label>
					                            </div>
					                            <div class="form-check" id="form-radio-no">
					                              <label class="form-check-label">
					                                <input type="radio" class="form-check-input" th:name="${q.id}" th:id="${'ans-radio-'+q.id+'-no'}" value="no">
					                                No
					                              </label>
					                            </div>
					                          </div>
					                        </div>
					                    </div>
					                    <div class="form-group" th:if="${q.questionType eq 'OPCIONES'}" id="answers-form-group-check">
					                      	<div class="form-group row" id="answers-row-check">
					                          <div class="col-md-6" id="answers-col-check">
					                          	<div th:each="ans : ${q.answers}" class="form-check" th:id="${'ans-'+q.id+'-'+ans.id}">
					                          		<label class="form-check-label">
					                                <input type="radio" class="form-check-input" th:name="${q.id}" th:id="${'ans-chk-'+q.id+'-'+ans.id}" 
					                                	th:value="${ans.id}" th:text="${ans.text}" th:checked="${ans.checked}">
					                              </label>
					                              <input type="text" th:if="${ans.specify}" class="form-control" th:id="${'ans-specify-'+q.id+'-'+ans.id}" 
					                              		name="text-description" maxlength="200" required>
					                          	</div>
					                          </div>
					                        </div>
					                    </div>
					                    
					                    <div class="form-group" th:if="${q.questionType eq 'MULTIPLE'}" id="answers-form-group-check">
					                      	<div class="form-group row" id="answers-row-check">
					                          <div class="col-md-6" id="answers-col-check">
					                          	<div th:each="ans : ${q.answers}" class="form-check" th:id="${'ans-'+q.id+'-'+ans.id}">
					                          		<label class="form-check-label">
					                                <input type="checkbox" class="form-check-input" th:name="${q.id}" th:id="${'ans-chkm-'+q.id+'-'+ans.id}" 
					                                	th:value="${ans.id}" th:text="${ans.text}" th:checked="${ans.checked}">
					                              </label>
					                              <input type="text" th:if="${ans.specify}" class="form-control" th:id="${'ans-specify-'+q.id+'-'+ans.id}" 
					                              		name="text-description" maxlength="200" required>
					                          	</div>
					                          </div>
					                        </div>
					                    </div>
				                  	</div>
				                  	<div class="col-md-12 text-right">
				                  		<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				                  		<input type="hidden" id="register" th:value="${questionDto.studentRegister}" />
					                    <button type="button" class="btn btn-primary mr-2" th:onclick='|SAUA.saveQuestions()|'>Enviar</button>
				                    </div>
			                    </div>
		                    </form>
		                </div>
		              </div>
		            </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <footer th:replace="fragments/layout/header :: common_footer"></footer>
      </div>
    </div>
  </div>
   <script src="/js/template.js"></script>
  <script src="/js/form-addons.js"></script>
  <script src="/js/form-validation.js"></script>
  <script type="text/javascript">
  	$(document).ready(function() {
  		$("input[type=radio]:unchecked").each(function(){
  			var arr = this.id.split('-');
  			var name = "ans-specify-"+arr[2]+"-"+arr[3];
  			$("#"+name).hide();
  		});
  		
  		$("input[type=radio]").change(function() {
  			if($("#ans-chk-6-2").is(':checked')){
  				$("#ans-specify-6-2").show();
  			}else{
  				$("#ans-specify-6-2").hide();
  			}
  			
  			if($("#ans-chk-8-11").is(':checked')){
  				$("#ans-specify-8-11").show();
  			}else{
  				$("#ans-specify-8-11").hide();
  			}
  			
  			if($("#ans-chk-9-13").is(':checked')){
  				$("#ans-specify-9-13").show();
  			}else{
  				$("#ans-specify-9-13").hide();
  			}
  			
  			if($("#ans-chk-23-29").is(':checked')){
  				$("#ans-specify-23-29").show();
  			}else{
  				$("#ans-specify-23-29").hide();
  			}
  	    });
	});
  	
  	$("input[type=text]").keypress(function(event) {
        var character = String.fromCharCode(event.keyCode);
        return isValid(character);     
    });

    function isValid(str) {
        return !/[~`!@#$%\^&*()+=\-\[\]\\';/{}|\\":<>\?]/g.test(str);
    }
  </script>
</body>

</html>
