<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
		<div th:replace="fragments/layout/header :: common_notifications"></div>
		<div  th:replace="fragments/layout/header :: common_min"></div>
	</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							
							<h4 class="card-title">Encuestas pendientes</h4>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Encuesta</th>
												<th>Descripci&oacute;n</th>
												<th># Preguntas</th>
												<th>Estatus</th>
												<th>Contestar</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="inq : ${userDto.inquestRoles}">
												<td th:text="${inq.inquest.name}"></td>
												<td>
													<textarea class="form-control" rows="3" cols="80" th:text="${inq.inquest.description}" disabled></textarea>
												</td>
												<td align="center" th:text="${inq.inquest.numberQuestions}"></td>
												<td align="center">
													<label th:text="${inq.inquest.status.toString() eq 'PENDING'?'En curso':'Pendiente'}" th:class="${inq.inquest.status.toString() eq 'PENDING' ? 'badge badge-primary badge-pill':'badge badge-warning badge-pill'}">   </label>
												</td>
												<td align="center">
													<button type="button" class="btn btn-outline-primary" title="Contestar" th:onclick='|SAUA.answerinquest("id", ${inq.inquest.id});|'
														data-toggle="modal"><span class="fa fa-bars"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="answer-form"
									th:action="@{/answerinquest}">
									<input type="hidden" name="id" id="id" /> 
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
