<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100 mx-auto">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
            	<div class="form-group">
            		<img th:src="@{/images/saua_logo.png}" class="rounded mx-auto d-block" width="80%"/>
            	</div>
              <form th:action="@{/login}" method="POST">
              <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="form-group">
                  <label for="inputEmail" class="label">Usuario</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Matr&iacute;cula/N&uacute;m. Empleado" name="username" id="username" required="required"/>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="icon-check"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="label">Contrase&ntilde;a</label>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="*********" name="password" id="password" required="required"/>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="icon-check"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group" th:unless="${param.error == null}">
                	<div id="div-err" th:if="${param.error != null}"class="alert alert-danger" role="alert"><span th:text="#{login.error}"></span></div>
	                <script type="text/javascript" th:unless="${param.error == null}">
						setTimeout(function() {
							$('#div-err').remove();
						}, 6000);
					</script>
                </div>
                <div class="form-group" th:unless="${errorMessage == null}">
						<div id="div-info" class="alert alert-success" th:text="${message}" role="alert" th:unless="${message == null}"></div>
						<div id="div-error" class="alert alert-danger" th:text="${errorMessage}" th:unless="${errorMessage == null}"></div>
						<script type="text/javascript" th:unless="${errorMessage == null}">
							setTimeout(function() {
								$('#div-info').remove();
								$('#div-error').remove();
							}, 6000);
						</script>
				</div>
				<div class="form-group" th:unless="${messaget == null}">
						<div id="div-infot" class="alert alert-success" th:text="${messaget}" role="alert" th:unless="${messaget == null}"></div>
						<script type="text/javascript" th:unless="${messaget == null}">
							setTimeout(function() {
								$('#div-infot').remove();
							}, 6000);
						</script>
				</div>
				<div class="form-check form-check-flat form-check-primary">
                  <label class="form-check-label">
                    <input id="showPassword" type="checkbox" class="form-check-input">
                    Mostrar contrase&ntilde;a
                  </label>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">Entrar</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <a th:href="@{/resetp}" class="text-small forgot-password text-black">Olvid&eacute; mi contrase&ntilde;a</a>
                </div>
              </form>
            </div>
            <ul class="auth-footer">
              <li><a href="#">T&eacute;rminos y condiciones</a></li>
            </ul>
            <p class="footer-text text-center">copyright &copy; 2021 SAUA. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
  <script th:src="@{/js/template.js}"></script></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#showPassword').click(function () {
				$('#password').attr('type', $(this).is(':checked') ? 'text' : 'password');
			});
		});
	</script>
</body>
<!-- Código de instalación Cliengo para victor_fg@uagro.mx --> <script type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/6172143f7b1762002ae8290e/617214407b1762002ae82911.js?platform=view_installation_code'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();</script>
</html>
