<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">

		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications_min"></div>
		</nav>

		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12">
							<div class="card" th:if="${!userDto.reset}">
								<div class="card-body">
									<h4 class="card-title">Nueva contrase&ntilde;a</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form class="cmxform" id="signupForm" method="post"
										th:action="@{/changepassword}">
										<fieldset>
											<div class="form-group">
												<label for="password">Contrase&ntilde;a</label> <input
													id="password" class="form-control" name="password"
													type="password" required="required">
											</div>
											<div class="form-group">
												<label for="confirmPassword">Confirma tu
													contrase&ntilde;a</label> <input id="verifyPassword"
													class="form-control" name="verifyPassword" type="password"
													required="required">
											</div>
											<div class="form-group">
												<div class="badge badge-danger">Debe
																	tener una longitud de 8 a 20 caracteres, incluir al menos un n&uacute;mero, incluir una letra may&uacute;scula e incluir un caracter especial !@#$%&*-</div>
											</div>
											<input type="hidden" name="hash" th:value="${h}" /> <input
												class="btn btn-primary" type="submit" value="Cambiar">
										</fieldset>
									</form>
								</div>
							</div>
							<div class="card" th:if="${userDto.reset}">
								<div class="card-body">
									<h4 class="card-title">Nueva contrase&ntilde;a</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a th:href="@{/login}">Regresar
												al login</a></li>
									</ol>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="fragments/layout/header :: common_footer"></footer>
</body>

</html>
