<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>

<body>
  <div class="container-scroller">
  	<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
		<div th:replace="fragments/layout/header :: common_notifications"></div>
		<div  th:replace="fragments/layout/header :: common_min"></div>
	</nav>
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row profile-page">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                	<div class="col-md-12 d-flex justify-content-end">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/home}">Regresar</a></li>
                      </ol>
                    </div>	
                  <div class="profile-body">
                    <ul class="nav tab-switch" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="user-profile-info-tab" data-toggle="pill" href="#user-profile-info" role="tab" aria-controls="user-profile-info" aria-selected="true">Perfil</a>
                      </li>
                    </ul>
                    <div class="row">
                      <div class="col-md-9">
                        <div class="tab-content tab-body" id="profile-log-switch">
                          <div class="tab-pane fade show active pr-3" id="user-profile-info" role="tabpanel" aria-labelledby="user-profile-info-tab">
                            <table class="table table-borderless w-100 mt-4">
                              <tr>
                                <td><strong>Nombre:</strong>&nbsp;&nbsp;
                                	<label th:if="${userDto.studentDto != null}" th:text="${userDto.studentDto.name+' '+userDto.studentDto.lastname+' '+userDto.studentDto.secondLastname}"></label>
                                	<label th:if="${userDto.teacherDto != null}" th:text="${userDto.teacherDto.name+' '+userDto.teacherDto.lastname+' '+userDto.teacherDto.secondLastname}"></label>
                                </td>
                              </tr>
                              <tr th:if="${userDto.studentDto != null}">
                                <td><strong>Matr&iacute;cula:</strong>&nbsp;&nbsp;<label th:text="${userDto.username}"></label></td>
                              </tr>
                              <tr>
                                <td><strong>Rol:</strong>&nbsp;&nbsp;<label th:text="${userDto.authority}"></label></td>
                              </tr>
                              <tr th:if="${userDto.studentDto != null}">
                                <td><strong>Grupo:</strong>&nbsp;&nbsp;<label th:text="${userDto.studentDto.groupDto.name +'[ '+userDto.studentDto.groupDto.turn+' - '+userDto.studentDto.groupDto.educationalProgramDto.studentPlanName+' ]'}"></label></td>
                              </tr>
                               <tr th:if="${userDto.studentDto != null}">
                                <td><strong>Tutor:</strong>&nbsp;&nbsp;<label th:text="${userDto.tutor.name+' '+userDto.tutor.lastname+' '+userDto.tutor.secondLastname}"></label></td>
                              </tr>
                              <tr>
                                <td><strong>Correo electr&oacute;nico:</strong>&nbsp;&nbsp;<label th:text="${userDto.email}"></label></td>
                              </tr>
                              <tr>
                                <td><strong>Tel&eacute;fono:</strong>&nbsp;&nbsp;<label></label></td>
                              </tr>
                              <tr>
                              	<td><a th:href="@{/editpassword}">Cambiar contrase&ntilde;a</a></td>
                              </tr>
                            </table>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <footer th:replace="fragments/layout/header :: common_footer"></footer>
      </div>
    </div>
  </div>
<!--    <script src="/js/template.js"></script> -->
<!--   <script src="/js/form-addons.js"></script> -->
</body>

</html>
