<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">

		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications_min"></div>
		</nav>

		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12">
							<div class="card" th:if="${!userDto.reset}">
								<div class="card-body">
									<h4 class="card-title">Recuperar contrase&ntilde;a</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form class="cmxform" id="signupForm" method="post" th:object="${userDto}" th:action="@{/resetPassword}">
										<fieldset>
											<div class="form-group">
												<label for="matricula">Matr&iacute;cula/N&uacute;m. Empleado</label> 
												<input id="matricula" class="form-control" name="username" type="text" th:value="${userDto.username}" maxlength="8" required="required">
											</div>
											<div class="form-group">
												<label for="email">Correo electr&oacute;nico</label> 
												<input id="email" class="form-control" name="email" type="email" th:value="${userDto.email}" maxlength="40" required="required">
											</div>
											<a th:href="@{/login}" class="btn btn-danger">Cancelar</a>
											<input class="btn btn-primary" type="submit" value="Enviar">
										</fieldset>
									</form>
								</div>
							</div>
							<div class="card" th:if="${userDto.reset}">
								<div class="card-body">
									<h4 class="card-title">Recuperar contrase&ntilde;a</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<ol class="breadcrumb">
					                    <li class="breadcrumb-item"><a th:href="@{/login}">Regresar al login</a></li>
					                </ol>
				                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="fragments/layout/header :: common_footer"></footer>
	<script th:src="@{/js/form-validation.js}"></script>
</body>

</html>
