<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=11; IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title>Password Changed</title>
<style>
/* CLIENT-SPECIFIC STYLES */
body, table, td, a {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

table, td {
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
}

img {
	-ms-interpolation-mode: bicubic;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
	color: inherit !important;
	text-decoration: none !important;
	font-size: inherit !important;
	font-family: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
}

/* ANDROID MARGIN HACK */
body {
	margin: 0 !important;
}

div[style*="margin: 16px 0"] {
	margin: 0 !important;
}

@media only screen and (max-width: 639px) {
	body, #body {
		min-width: 320px !important;
	}
	table.wrapper {
		width: 100% !important;
		min-width: 320px !important;
	}
/* 	table.wrapper &gt ; tbody &gt ; tr &gt ; td { */
/* 		border-left: 0 !important; */
/* 		border-right: 0 !important; */
/* 		border-radius: 0 !important; */
/* 		padding-left: 10px !important; */
/* 		padding-right: 10px !important; */
/* 	} */
}
</style>
<style>
body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

img {
	-ms-interpolation-mode: bicubic;
}

body {
	margin: 0 !important;
}
</style>
</head>
<body
	style="text-align: center; min-width: 640px; width: 100%; height: 100%; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0;"
	bgcolor="#fafafa">
	<table border="0" cellpadding="0" cellspacing="0" id="body"
		style="text-align: center; min-width: 640px; width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin: 0; padding: 0;"
		bgcolor="#fafafa">
		<tbody>
			<tr class="line">
				<td
					style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; height: 20px; font-size: 4px; line-height: 4px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;"
					bgcolor="#6d4d2a"> </td>
			</tr>
			<tr class="header">
				<td
					style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 1.6; color: #5c5c5c; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 25px 0;">
				</td>
			</tr>
			<tr>
				<td
					style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
					<table border="0" cellpadding="0" cellspacing="0" class="wrapper"
						style="width: 640px; border-collapse: separate; border-spacing: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin: 0 auto;">
						<tbody>
							<tr>
								<td
									style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; border-radius: 3px; overflow: hidden; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 18px 25px; border: 1px solid #ededed;"
									align="left" bgcolor="#ffffff">
									<table border="0" cellpadding="0" cellspacing="0"
										class="content"
										style="width: 100%; border-collapse: separate; border-spacing: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
										<tbody>
										<tr>
											<td><img th:src="|${urlimagen}/images/Encabezado_email.png|" height="50%" /></td>
										</tr>
											<tr>
												<td
													style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333; font-size: 15px; font-weight: 400; line-height: 1.4; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 15px 5px;"
													align="center">
													<h1
														style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333; font-size: 18px; font-weight: 400; line-height: 1.4; margin: 0; padding: 0;"
														align="center">Hola <label th:text="${name}"></label>!!</h1>
													<p>Tu contrase&ntilde;a ha sido actualizada correctamente.</p>
													<br/>
													
													<p>
														Te recordamos cambiar tu contrase&ntilde;a constantemente para mayor seguridad de tu informaci&oacute;n.
													</p>
													
													<p><strong th:text="${administration}"></strong></p>
													
													<p style="font-size: xx-small;">Este mensaje es
														&uacute;nicamente para el titular designado y puede contener
														informaci&oacute;n restringida altamente confidencial. Por favor consulte nuestro aviso de privacidad en
														<a href="http://ingenieria.uagro.mx">http://ingenieria.uagro.mx</a>.
													</p>
													
												</td>
											</tr>
											<tr>
												<td><img th:src="|${urlimagen}/images/Pie_email.png|" align="middle" /></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr class="footer">
			</tr>

		</tbody>
	</table>
</body>
</html>