<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/resetpassword}">Solicitudes de reseteo</a></li>
					                        <li class="breadcrumb-item active" aria-current="page">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title">Editar solicitud de reseteo de contrase&ntilde;a</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${resetDto}" method="POST" action="save">
										<div class="form-group">
											<label for="name">Usuario</label> <input
												type="text" class="form-control" name="username" th:value="${resetDto.user.username}" disabled>
										</div>
										<div class="form-group">
											<label for="name">Fecha de registro</label> <input
												type="text" class="form-control" name="created" th:value="${resetDto.created}" disabled>
										</div>
										<div class="form-group">
											<label for="name">Hash</label> <input
												type="text" class="form-control" name="hashValue" th:value="${resetDto.hashValue}" disabled>
										</div>
										<div class="form-group">
											<label for="name">e-mail</label> <input
												type="text" class="form-control" name="email" th:value="${resetDto.userNotification.addresseeMail}">
										</div>
										<div class="form-group">
											<label for="name">Status notificaci&oacute;n</label> <input
												type="text" class="form-control" name="status" th:value="${resetDto.userNotification.status}" disabled>
										</div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="idReset" th:value="${resetDto.idReset}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/resetpassword}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Reenviar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
</body>

</htm>