<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							
							<h4 class="card-title">Solicitudes de reseteo</h4>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Id</th>
												<th>Usuario</th>
												<th>F. Registro</th>
												<th>Hash</th>
												<th>e-mail</th>
												<th>Usado</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="reset : ${resetDto.resetPasswordDtos}">
												<td align="center" th:text="${reset.idReset}"></td>
												<td th:text="${reset.user.username}"></td>
												<td th:text="${reset.created}"></td>
												<td th:text="${reset.hashValue}"></td>
												<td th:text="${reset.userNotification.addresseeMail}"></td>
												<td align="center">
													<label th:text="${reset.used ? 'Si' : 'No'}" th:class="${reset.used ? 'badge badge-primary badge-pill' : 'badge badge-warning badge-pill'}">   </label>
												</td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Editar" th:onclick='|SAUA.edit("id", ${reset.idReset});|' >
														<span class="icon-pencil"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/resetpassword/edit}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
