<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							
							<h4 class="card-title">Solicitudes de reseteo</h4>
							
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-12 d-flex justify-content-end">
										<form id="form-eval" class="form-inline" method="POST" th:action="@{/admin/resetpassword}">
											<div class="form-group">
												<input type="text" class="form-control" id="searchByValue" placeholder="Texto a buscar" name="searchByValue" th:value="${resetDto.searchByValue}"/>&nbsp;
												<input type="hidden" id="currentPage" name="page" th:value="${resetDto.page}" />
												<input type="hidden" id="size" name="size" th:value="${resetDto.size}" />
												<input type="hidden" id="totalPage" name="totalPage" th:value="${resetDto.totalPages}" />
												<input type="hidden" name="direction" th:value="${resetDto.direction}" />
												<input type="hidden" name="pageNumber" th:value="${page}" />
												<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											</div>
											<div class="form-group">
												<select name="searchBy" id="searchBy"
													class="form-control">
													<option th:each="c : ${resetDto.comboSearch}"
														th:value="${c}" th:text="${c}"
														th:selected="${c == resetDto.searchBy}"></option>
												</select>
											</div>&nbsp;
											<button type="button" class="btn btn-default" onclick="COMEDOR.search();">Buscar</button>&nbsp;
											<button type="button" class="btn btn-link" onclick="COMEDOR.clear();">Limpiar</button>
										</form>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-list" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Id</th>
												<th>Usuario</th>
												<th>F. Registro</th>
												<th>Hash</th>
												<th>e-mail</th>
												<th>Usado</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
											<tbody>
												<tr></tr>
											</tbody>
									</table>
								</div>
								<div class="panel-footer" style="padding: 0 1em;">
									<div class="row">
										<div class="col-md-12">
											<nav aria-label="Page navigation example" th:unless="${resetDto.totalItems == 0}">
												<ul class="pagination-md" id="pagination-demo"></ul>
											</nav>
										</div>
									</div>
								</div>
								
<!--								<form method="POST" id="edit-form"-->
<!--									th:action="@{/admin/resetpassword/edit}">-->
<!--									<input type="hidden" name="id" id="id" /> <input-->
<!--										type="hidden" th:name="${_csrf.parameterName}"-->
<!--										th:value="${_csrf.token}" />-->
<!--								</form>-->
<input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script type="text/javascript">
					var totalPages = $("#totalPage").val();
					var searchByValue = $("#searchByValue").val();
					$('#pagination-demo').twbsPagination({
				        totalPages: totalPages,
				        visiblePages: 10,
				        next: 'Siguiente',
				        prev: 'Anterior',
				        last: '&Uacute;ltima',
				        first:'Primera',
				        onPageClick: function (event, page) {
				        	if(page > 0){
				            $.ajax({
				      		  headers:
				      	        { 'X-CSRF-TOKEN': $('#csrf').val(),
				      	          'Accept': 'application/json',
				      	          'Content-Type': 'application/json'
				      	        },
				      			url : '/api/admin/resetpassword/page',
				      			method : 'post',
				      			cache : false,
				      			dataType : 'json',
				      			data : JSON.stringify({
				      				"page" : page,
				      				"searchByValue" : searchByValue,
				      				"searchBy" : $("#searchBy option:selected").val()
				      			}),
				      	        success: function (data) {
				      	          $('#order-list tbody tr').slice(0).remove();
				      	          $.each(data,function(key,registro) {
				      	        	  var register = String(registro[0]);
					      	        	$("#order-list").append(
											"<tr>"
												+"<td align='center'>"+registro[0]+"</td>"
												+"<td>"+registro[1]+"</td>"
												+"<td>"+registro[2]+"</td>"
												+"<td>"+registro[3]+"</td>"
												+"<td>"+registro[4]+"</td>"
												+"<td align='center'>"
													+"<label class='"+registro[5]+"'>"+registro[6]+"</label>"
												+"</td>"
												+"<td>"
													+"<button type='button' class='btn btn-outline-primary'"
														+"title='Editar' onclick='SAUA.edit(&apos;id&apos;, "+registro[0]+"');>"
														+"<span class='icon-pencil'></span>"
													+"</button>"
												+"</td>"
											+"</tr>");
				  			     });
				      	            
				      	        },
				      			error: function(data) {
				      				console.log("Error al cargar datos");
				      			}
				      		});
				        }
				        }
				    });
				</script>
			</div>
		</div>
	</div>
</body>

</html>
