<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							
							<div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
			                  <div class="modal" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" aria-hidden="true">
			                    <div class="modal-dialog" role="document">
			                      <div class="modal-content">
			                        <div class="modal-header">
			                          <h5 class="modal-title" id="exampleModalLabel-4">Generar listas de alumnos</h5>
			                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                            <span aria-hidden="true">&times;</span>
			                          </button>
			                        </div>
			                        <div class="modal-body">
			                          <form id="form-add-charge" th:object="${groupDto}">
			                          		<div class="form-group">
			                          			<label for="income">Grupo</label>
									        	<input type="text" class="form-control" id="id-group" disabled="disabled">
											</div>
											<div class="form-group">
												<label for="group">UAP's</label> 
												<select required="required" class="form-control" id="uaps" name="uaps">
													<option></option>
												</select>
											</div>
			                            <div class="modal-footer">
										  <input type="hidden" name="idGroup" id="idGroup">
										  <input type="hidden" name="idUap" id="idUap">
			                           	  <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			                          	  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				                          <button type="button" class="btn btn-primary" th:onclick='|SAUA.printList();|'>Generar lista</button>
				                        </div>
			                          </form>
			                        </div>
			                      </div>
			                    </div>
			                  </div>
				            </div>
							
							<h4 class="card-title">Grupos</h4>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/groups/add}"
									title="Agregar"><span class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
									
							</div>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Id</th>
												<th>Nombre</th>
												<th>Turno</th>
												<th>Tipo</th>
												<th>P.E.</th>
												<th>Jefe de grupo</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="group : ${groupDto.groupsDto}">
												<td align="center" th:text="${group.id}"></td>
												<td align="center" th:text="${group.name}"></td>
												<td align="center" th:text="${group.turn}"></td>
												<td th:text="${group.groupType}"></td>
												<td th:text="${group.educationalProgramDto.abr}"></td>
												<td th:text="${group.leaderCompleteName}"></td>
												<td>
													<button type="button" class="btn btn-outline-warning"
														title="Listado de Alumnos del grupo" th:onclick='SAUA.list("id",[[${group.id}]]);'  >
														<span class="icon-list"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-info"
														title="Asignar carga grupal" th:onclick='SAUA.uapsAssingToGroupStudent("id",[[${group.id}]]);'  >
														<span class="icon-layers"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Lista en Excel por grupo" th:onclick='|SAUA.tutor("id", ${group.id});|' >
														<span class="icon-docs"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-success" title="Generar lista de alumnos"
														data-toggle="modal" th:onclick='SAUA.groupList("id",[[${group.id}]], "name", [[${group.name}]]+" - "+[[${group.educationalProgramDto.studentPlanName}]]);' >
														<span class="icon-list"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-primary"
														title="Editar" th:onclick='|SAUA.edit("id", ${group.id});|' >
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-danger"
														data-toggle="modal"
														title="Borrar" th:onclick='|SAUA.toDelete("id", ${group.id});|' >
														<span class="icon-trash"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/groups/edit}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/groups/delete}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="GET" id="tutor-form"
									th:action="@{/admin/documents/exportListExcelByGroupId}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="GET" id="list-form"
									th:action="@{/admin/documents/exportStudentsListExcelByGroupId}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
