<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title" th:if="${phase.id eq -1}">Nueva etapa de UAP</h4>
									<h4 class="card-title" th:if="${phase.id gt -1}">Editar etapa de la UAP</h4>
									<form id="userForm" class="forms-sample" th:object="${phase}" method="POST" action="save">
										<div class="form-group">
											<label for="description">Nombre de la Etapa</label> <input
												type="text" class="form-control" 
												placeholder="ETAPA DE FORMACION INSTITUCIONAL" name="description" th:value="${phase.description}" required="required">
										</div>
										<div class="form-group">
											<label for="abbreviation">Abreviatura</label> <input
												type="text" class="form-control" 
												placeholder="EFI" name="abbreviation" th:value="${phase.abbreviation}" required="required">
										</div>

										<div class="col-md-12 text-right">
											<input type="hidden" name="id" th:value="${phase.id}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/phase}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
</body>

</html>
