<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_tutor"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Documentaci&oacute;n</h4>
							<div class="row">
			                    <div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Nombre</th>
												<th>Descripci&oacute;n</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="document : ${documentDto.documentsDto}">
												<td align="center">
													<button type="button" class="btn btn-link btn-fw" th:text="${document.viewName}" th:onclick='|SAUA.documentdownload("id", ${document.id});|'>Link</button>
												</td>
												<td align="center" th:text="${document.description}"></td>
											</tr>
										</tbody>
									</table>
								</div>
			                  </div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
