<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							
							<div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
			                  <div class="modal" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" aria-hidden="true">
			                    <div class="modal-dialog" role="document">
			                      <div class="modal-content">
			                        <div class="modal-header">
			                          <h5 class="modal-title" id="exampleModalLabel-4">Realizar promoci&oacute;n</h5>
			                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                            <span aria-hidden="true">&times;</span>
			                          </button>
			                        </div>
			                        <div class="modal-body">
			                          <form id="form-add-charge" th:object="${groupDto}">
			                          		<div class="form-group">
												<label for="group">Grupos</label> 
												<select required="required" class="form-control" id="groups" name="groups">
													<option></option>
												</select>
											</div>
			                            <div class="modal-footer">
										  <input type="hidden" name="idGroup" id="idGroup">
			                           	  <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			                          	  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				                          <button type="button" class="btn btn-primary" th:onclick='|SAUA.promote();|'>Aceptar</button>
				                        </div>
			                          </form>
			                        </div>
			                      </div>
			                    </div>
			                  </div>
				            </div>
							
							<h4 class="card-title">Promover alumnos</h4>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Id</th>
												<th>Grupo</th>
												<th>Turno</th>
												<th>Tipo</th>
												<th>P.E.</th>
												<th>Jefe de grupo</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="group : ${groupDto.groupsDto}">
												<td align="center" th:text="${group.id}"></td>
												<td align="center" th:text="${group.name}"></td>
												<td align="center" th:text="${group.turn}"></td>
												<td align="center" th:text="${group.groupType}"></td>
												<td th:text="${group.educationalProgramDto.abr}"></td>
												<td th:text="${group.leaderCompleteName}"></td>
												<td>
													<button th:unless="${group.promoted}" type="button" class="btn btn-outline-success" title="Promover alumnos"
														data-toggle="modal" th:onclick='SAUA.grouptopromote("id",[[${group.id}]]);' >
														<span class="icon-arrow-up-circle"></span>
													</button>
													<button th:if="${group.promoted}" type="button" class="btn btn-outline-ligth" title="Alumnos promovidos">
														<span class="icon-arrow-up-circle"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="delete-form"
									th:action="@{/admin/groups/delete}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
