<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="common_header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SAUA</title>
	<link href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet">
	<link th:href="@{/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css}" rel="stylesheet" />
	<link th:href="@{/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css}" rel="stylesheet" />
	<link th:href="@{/vendors/css/vendor.bundle.base.css}" rel="stylesheet" />
	<link th:href="@{/vendors/css/vendor.bundle.addons.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/all.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-tagsinput.css}">
	
	<link rel="stylesheet" th:href="@{/vendors/iconfonts/font-awesome/css/font-awesome.min.css}"/>
	<link rel="shortcut icon" th:href="@{/images/favicon.png}" />
</head>

<body>
			<!-- NavBar notifications -->
			<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:fragment="common_notifications">
				<div class="nav-top flex-grow-1">
					<div class="container d-flex flex-row h-100 align-items-center">
						<div class="text-center navbar-brand-wrapper d-flex align-items-center">
							<a class="navbar-brand brand-logo" th:href="@{/home}">
								<img th:src="@{/images/Logo.png}" alt="logo" />
							</a>
							<a class="navbar-brand brand-logo-mini" th:href="@{/home}">
								<img th:src="@{/images/logo-mini.png}" alt="logo" />
							</a>
						</div>
						<div class="text-center navbar-brand-wrapper d-flex align-items-center">
							 <h6><small class="text-white" th:text="${@sessionController.getActuallyPeriod()}"></small></h6>
						</div>
						<div class="navbar-menu-wrapper d-flex align-items-center justify-content-between flex-grow-1">
							<ul class="navbar-nav navbar-nav-right mr-0 ml-auto">
								<li class="nav-item nav-profile dropdown">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="profileDropdown">
										<img th:src="@{/images/profile-icon.png}" alt="profile" class="profile-list-item"/> 						
										<span class="nav-profile" th:text="${@sessionController.getUsername()}"></span>
									</a>
									<span class="nav-link"><small th:text="${@sessionController.getLastLogin()}"></small></span>
									<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
										<form th:action="@{/profile}" method="GET">
			                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			                                <button class="dropdown-item"><span class="link-icon icon-user text-primary mr-2"></span> Perfil</button>
		                            	</form>
									</div>
								</li>
								<li>
									<form th:action="@{/logout}" method="POST">
			                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		                            		<button type="submit" class="btn nav-top navbar-menu-wrapper navbar-nav nav-item nav-link"><span class="link-icon icon-logout"></span>&nbsp;&nbsp;Salir</button>
		                            </form>
								</li>
							</ul>
							<button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
								<span class="icon-menu text-white"></span>
							</button>
						</div>
					</div>
				</div>
			</nav>
			<!-- Finalize Notifications -->

			<!-- NavBar notifications min -->
			<nav class="navbar horizontal-layout col-lg-12 col-12 p-0" th:fragment="common_notifications_min">
				<div class="nav-top flex-grow-1">
					<div class="container d-flex flex-row h-100 align-items-center">
						<div class="text-center navbar-brand-wrapper d-flex align-items-center">
							<a class="navbar-brand brand-logo" th:href="@{/home}">
								<img th:src="@{/images/Logo.png}" alt="logo" />
							</a> 
							<a class="navbar-brand brand-logo-mini" th:href="@{/home}">
								<img th:src="@{/images/logo-mini.png}" alt="logo" />
							</a>
						</div>
					</div>
				</div>
			</nav>
			<!-- Finalize Notifications min -->

			<!-- NavBar Admin -->
			<div class="nav-bottom"
				th:fragment="common_navbar_admin">
				<div class="container" >
					<ul class="nav page-navigation" >
						<li class="nav-item"><a
							th:href="@{/home}" class="nav-link"><i
								class="link-icon icon-screen-desktop"></i><span class="menu-title">Inicio</span></a>
						</li>
						<li class="nav-item"><a
							th:href="@{/admin/offeredclass}" class="nav-link"><i
								class="link-icon icon-badge"></i><span class="menu-title">Ofertar
									materias</span></a></li>
						<li class="nav-item"><a
							th:href="@{/admin/tutorships}" class="nav-link"><i
								class="link-icon icon-briefcase"></i><span class="menu-title">Asignar tutores</span></a></li>
						<li class="nav-item"><a
							th:href="@{/admin/uapsassign}" class="nav-link"><i
								class="link-icon icon-note"></i><span class="menu-title">Asignar materias</span></a></li>
						
						<li class="nav-item mega-menu"><a href="#" class="nav-link"><i
								class="link-icon  icon-magnifier"></i><span class="menu-title">Consultar</span><i
								class="menu-arrow"></i></a>
							<div class="submenu">
								<div class="col-group-wrapper row">
									<div class="col-group col-md-6">
										<div class="row">
											<div class="col-md-6">
												<p class="category-heading">Listas</p>
												<div class="submenu-item">
													<div class="row">
														<div class="col-md-12">
															<ul>
																<li class="nav-item"><a class="nav-link" th:onclick='SAUA.statisticsUAPs();' href="#">Estadisticas UAP's ofertadas</a>
																</li>
																<li class="nav-item"><a class="nav-link" href="#">Imprimir autom&aacute;ticamente</a>
																</li>
																<li class="nav-item"><a class="nav-link" href="#">Imprimir listas de grupos</a>
																</li>
																<li class="nav-item"><a class="nav-link" href="#">Imprimir por carrera y turno</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-group col-md-6">
										<div class="row">
											<div class="col-md-6">
												<p class="category-heading">Alumnos</p>
												<div class="submenu-item">
													<div class="row">
														<div class="col-md-12">
															<ul>
																<li class="nav-item"><a class="nav-link"
																	href="#">Estudio socioecon&oacute;mico</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/papeletas/generate}">Papeleta alumno</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/papeletas/generatePapeletas}">Papeletas por carrera-turno</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/resetpassword}">Solicitudes de reseteo</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item mega-menu"><a href="#" class="nav-link"><i
								class="link-icon icon-settings"></i><span class="menu-title">Mantenimiento</span><i
								class="menu-arrow"></i></a>
							<div class="submenu">
								<div class="col-group-wrapper row">
									<div class="col-group col-md-4">
										<div class="row">
											<div class="col-12">
												<p class="category-heading">Cat&aacute;logos</p> 
												<div class="submenu-item">
													<div class="row">
														<div class="col-md-12">
															<ul>
																<li class="nav-item">
																	<a class="nav-link" th:href="@{/admin/students}">Alumnos</a>
																</li>
																<li class="nav-item">
																	<a class="nav-link" th:href="@{/admin/applicant}">Becas alimenticias</a>
																</li>
																<li class="nav-item">
																	<a class="nav-link" th:href="@{/admin/coffeeshop}">Cafeter&iacute;as</a>
																</li>
																<li class="nav-item">
																	<a class="nav-link" th:href="@{/admin/category}">Categor&iacute;a de profesores</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/config}">Configuraci&oacute;n</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/documents}">Documentaci&oacute;n</a>
																</li>
																<li class="nav-item">
																	<a class="nav-link" th:href="@{/admin/inquest}">Encuestas</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-group col-md-4">
										<div class="row">
											<div class="col-12">
												<div class="submenu-item">
													<div class="row">
														<div class="col-md-12">
															<ul>
																<li class="nav-item">
																	<a class="nav-link" th:href="@{/admin/school}">Escuela</a>
																</li>
																<li class="nav-item">
																	<a class="nav-link" th:href="@{/admin/statusstudent}">Estatus de Alumno</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/phase}">Etapas de Uap</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/groups}">Grupos</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/infoeval}">Info Evaluaciones</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/tutoringlows}">Motivos de baja alumno</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/period}">Periodo</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/promote}">Promover alumnos</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-group col-md-4">
										<div class="row">
											<div class="col-12">
												<div class="submenu-item">
													<div class="row">
														<div class="col-md-12">
															<ul>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/teachers/list}">Profesores</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/question}">Preguntas</a>
																</li>																	 
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/programs}">Prog Educativos</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/grant}">Tipos de Becas</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/income}">Tipos de ingreso</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/types}">Tipos de Uap's</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/uaps}">Uap's</a>
																</li>
																<li class="nav-item"><a class="nav-link"
																	th:href="@{/admin/users}">Usuarios</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
			<!-- Finalize NavBar Admin  -->

			<!-- NavBar Student -->
			<div class="nav-bottom" th:fragment="common_navbar_student">
				<div class="container">
					<ul class="nav page-navigation">
						<li class="nav-item"><a th:href="@{/home}"
							class="nav-link"><i class="link-icon icon-screen-desktop"></i><span
								class="menu-title">Inicio</span></a></li>
						<li class="nav-item"><a th:href="@{/student/academiccharge}"
							class="nav-link"><i class="link-icon icon-calendar"></i><span
								class="menu-title">Carga acad&eacute;mica</span></a></li>
						<li class="nav-item"><a th:href="@{/student/documents/list}"
							class="nav-link"><i class="link-icon icon-doc"></i><span
								class="menu-title">Documentos</span></a></li>
						<li class="nav-item"><a href="#" onclick='SAUA.generateevaluationreport();'
							class="nav-link"><i class="link-icon icon-arrow-down-circle"></i><span
								class="menu-title">Comprobante de Evaluación</span></a></li>
						<li class="nav-item"><a th:href="@{/student/daysgrant/list}"
												class="nav-link"><i class="link-icon icon-cup"></i><span
								class="menu-title">Beca alimenticia</span></a></li>
						
					</ul>
				</div>
			</div>
			<!-- Finalize NavBar Student  -->
			
			<!-- NavBar common min -->
			<div class="nav-bottom" th:fragment="common_min">
				<div class="container">
					<ul class="nav page-navigation">
						<li class="nav-item"><a th:href="@{/home}"
							class="nav-link"><i class="link-icon icon-screen-desktop"></i><span
								class="menu-title">Inicio</span></a></li>
					</ul>
				</div>
			</div>
			<!-- Finalize NavBar Student  -->
			
			<!-- NavBar Student with evaluations active -->
			<div class="nav-bottom" th:fragment="common_navbar_student_with_eval">
				<div class="container">
					<ul class="nav page-navigation">
						<li class="nav-item"><a th:href="@{/home}"
							class="nav-link"><i class="link-icon icon-screen-desktop"></i><span
								class="menu-title">Inicio</span></a></li>
						<li class="nav-item"><a th:href="@{/student/academiccharge}"
							class="nav-link"><i class="link-icon icon-calendar"></i><span
								class="menu-title">Carga acad&eacute;mica</span></a></li>
						<li class="nav-item"><a th:href="@{/student/documents/list}"
							class="nav-link"><i class="link-icon icon-doc"></i><span
								class="menu-title">Documentos</span></a></li>
						<li class="nav-item"><a th:href="@{/student/evaluation}"
							class="nav-link"><i class="link-icon icon-trophy"></i><span
								class="menu-title">Evaluaciones</span></a></li>
						<li class="nav-item"><a th:href="@{/student/daysgrant/list}"
												class="nav-link"><i class="link-icon icon-cup"></i><span
								class="menu-title">Beca alimenticia</span></a></li>
					</ul>
				</div>
			</div>
			<!-- Finalize NavBar Student with evaluations active -->
			
			<!-- NavBar Student min -->
			<div class="nav-bottom" th:fragment="common_navbar_student_min">
				<div class="container">
					<ul class="nav page-navigation">
						<li class="nav-item"><a
							th:href="@{/home}" class="nav-link"><i
								class="link-icon icon-screen-desktop"></i><span class="menu-title">Inicio</span></a>
						</li>
						<li class="nav-item"><a href="#" onclick='SAUA.papeletadownload();' class="nav-link"><i class="link-icon icon-calendar"></i><span class="menu-title">Imprimir carga acad&eacute;mica</span></a></li>
						<li class="nav-item"><a th:href="@{/student/documents/list}"
							class="nav-link"><i class="link-icon icon-doc"></i><span
								class="menu-title">Documentos</span></a></li>
						<li class="nav-item"><a href="#" onclick='SAUA.generateevaluationreport();'
							class="nav-link"><i class="link-icon icon-arrow-down-circle"></i><span
								class="menu-title">Comprobante de Evaluación</span></a></li>
						<li class="nav-item"><a th:href="@{/student/daysgrant/list}"
												class="nav-link"><i class="link-icon icon-cup"></i><span
								class="menu-title">Beca alimenticia</span></a></li>
					</ul>
				</div>
			</div>
			<!-- Finalize NavBar Student min -->
			
			<!-- NavBar Student min -->
			<div class="nav-bottom" th:fragment="common_navbar_student_min_with_eval">
				<div class="container">
					<ul class="nav page-navigation">
						<li class="nav-item"><a
							th:href="@{/home}" class="nav-link"><i
								class="link-icon icon-screen-desktop"></i><span class="menu-title">Inicio</span></a>
						</li>
						<li class="nav-item"><a href="#" onclick='SAUA.papeletadownload();' class="nav-link"><i class="link-icon icon-calendar"></i><span class="menu-title">Imprimir carga acad&eacute;mica</span></a></li>
						<li class="nav-item"><a th:href="@{/student/documents/list}"
							class="nav-link"><i class="link-icon icon-doc"></i><span
								class="menu-title">Documentos</span></a></li>
						<li class="nav-item"><a th:href="@{/student/evaluation}"

							class="nav-link"><i class="link-icon icon-trophy"></i><span
								class="menu-title">Evaluaciones</span></a></li>
						<li class="nav-item"><a th:href="@{/student/daysgrant/list}"
												class="nav-link"><i class="link-icon icon-cup"></i><span
								class="menu-title">Beca alimenticia</span></a></li>
					</ul>
				</div>
			</div>
			<!-- Finalize NavBar Student min -->
			
			<!-- NavBar coordinador de tutorias -->
			<div class="nav-bottom" th:fragment="common_navbar_coordinator">
				<div class="container">
					<ul class="nav page-navigation">
						<li class="nav-item"><a th:href="@{/home}"
							class="nav-link"><i class="link-icon icon-screen-desktop"></i><span
								class="menu-title">Inicio</span></a></li>
						<li class="nav-item"><a
							th:href="@{/coordinator/tutorships}" class="nav-link"><i
								class="link-icon icon-plus"></i><span class="menu-title">Asignar tutores</span></a></li>
						
						<li class="nav-item"><a th:href="@{/coordinator/tutorships/listdocuments}"
							class="nav-link"><i class="link-icon icon-doc"></i><span
								class="menu-title">Documentos</span></a></li>
					</ul>
				</div>
			</div>
			<!-- Finalize NavBar coordinador de tutorias  -->
			
			<!-- NavBar tutores -->
			<div class="nav-bottom" th:fragment="common_navbar_tutor">
				<div class="container">
					<ul class="nav page-navigation">
						<li class="nav-item"><a th:href="@{/home}"
							class="nav-link"><i class="link-icon icon-screen-desktop"></i><span
								class="menu-title">Inicio</span></a></li>
						<li class="nav-item"><a th:href="@{/tutor/tutoreds}"
							class="nav-link"><i class="link-icon icon-notebook"></i><span
								class="menu-title">Tutorados</span></a></li>
						<li class="nav-item"><a th:href="@{/tutor/documents/list}"
							class="nav-link"><i class="link-icon icon-doc"></i><span
								class="menu-title">Documentaci&oacute;n</span></a></li>
					</ul>
				</div>
			</div>
			<!-- Finalize NavBar tutores  -->
	
	<div class="container-fluid" id="mainContainer">
		<nav class="navbar navbar-default" th:fragment="common_logout_bbb">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar2">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}" href=""><img
						th:src="@{/img/Logo_Tar.png}" src="../../img/Logo_Tar.png"
						alt="SAUA" /> </a>
				</div>
				<div id="navbar2" class="navbar-collapse collapse">
					<ul class="nav navbar-right nav-custom">
						<li role="presentation" class="dropdown"><a
							class="dropdown-toggle" data-toggle="dropdown" href="#"
							role="button" aria-haspopup="true" aria-expanded="false"> <span
								sec:authentication="name"></span> <span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li>
									<form th:action="@{/perfil}" method="POST">
										<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}" />
										<button class="btn btn-link">
											<span class="glyphicon glyphicon-user"></span> Perfil
										</button>
									</form>
								</li>
								<li>
									<form th:action="@{/logout}" method="POST">
										<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}" />
										<button class="btn btn-link">
											<span class="glyphicon glyphicon-log-out"></span> Salir
										</button>
									</form>
								</li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>



								<div id="div-messages" th:fragment="common_messages">
									<div id="div-info" class="alert alert-success" th:text="${message}" role="alert" th:unless="${message == null}"></div>
									<div id="div-error" class="alert alert-danger" th:text="${errorMessage}" th:unless="${errorMessage == null}"></div>
									<script type="text/javascript" th:unless="${message == null}">
										setTimeout(function() {
											$('#div-info').remove();
										}, 6000);
									</script>
									<script type="text/javascript" th:unless="${errorMessage == null}">
										setTimeout(function() {
											$('#div-error').remove();
										}, 6000);
									</script>
								</div>
				
		<div class="container"></div>
	</div>
	
				<footer th:fragment="common_footer" class="footer">
					 <div class="w-100 clearfix" align="left">
						<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright&copy; 2021 <a href="#">SAUA</a>. Todos los derechos reservados.</span>
					</div>
					<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
			        <script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
			        <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
					<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
					<script th:src="@{/js/saua.js}"></script>
					<script th:src="@{/js/template.js}"></script>
					<script th:src="@{/js/bootstrap-tagsinput.js}"></script>
				</footer>
				
				<!-- NavBar CASHIER -->
			<div class="nav-bottom"
				th:fragment="common_navbar_cashier">
				<div class="container" >
					<ul class="nav page-navigation" >
						<li class="nav-item"><a
							th:href="@{/home}" class="nav-link"><i
								class="link-icon icon-screen-desktop"></i><span class="menu-title">Inicio</span></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Finalize NavBar CASHIER  -->
</body>
</html>
