<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
								<div class="col-md-12 d-flex justify-content-end">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a th:href="@{/admin/config}">Configuraci&oacute;n de par&aacute;metros</a></li>
										<li class="breadcrumb-item active" aria-current="page">Editar</li>
									</ol>
								</div>
									<h4 class="card-title">Editar par&aacute;metro</h4>
									<form id="userForm" class="forms-sample" th:object="${configurationDto}" method="POST" action="save">
										<div class="form-group">
											<label for="key">Par&aacute;metro</label> <input
												type="text" class="form-control" 
												placeholder="NOMBRE_PARAMETRO" name="key" th:value="${configurationDto.key}" disabled>
										</div>
										
										<div class="form-group" th:if="${configurationDto.type == 1}">
											<label for="valor">Valor</label>
											<input type="text" class="form-control" placeholder="valor" name="value" th:value="${configurationDto.value}" >
										</div>
										<div class="form-group" th:if="${configurationDto.type == 2}">
											<label for="valor">Valor</label>
											<select required="required" class="form-control" id="value" name="value">
											  <option>1</option>
				                              <option>2</option>
				                              <option>3</option>
				                              <option>4</option>
				                              <option>5</option>
				                              <option>6</option>
				                              <option>7</option>
				                              <option>8</option>
				                              <option>9</option>
				                              <option>10</option>
											</select>
										</div>
										<div class="form-group" th:if="${configurationDto.type == 3}">
											<label for="valor">Valor</label>
											<div id="datepicker-popup" class="input-group date datepicker">
												<input type="text" class="form-control" name="value" th:value="${configurationDto.value}">
                        						<span class="input-group-addon input-group-append border-left">
                          						<span class="icon-calendar input-group-text"></span>
                        						</span>
                        					</div>
										</div>
																				
										<div class="form-group" th:if="${configurationDto.type == 4}">
											<label for="valor">Valor dd/MM/yyyy hh:mm</label>
											<input class="form-control" data-inputmask="'alias': 'datetime'" name="value" id="value" th:value="${configurationDto.value}" />
										</div>
										
										<div class="form-group">
											<label for="description">Descripci&oacute;n</label> <input
												type="text" class="form-control" 
												placeholder="Descripci&oacute;n" name="description" th:value="${configurationDto.description}" >
										</div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="idConfiguration" th:value="${configurationDto.idConfiguration}" />
											<input type="hidden" name="key" th:value="${configurationDto.key}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/config}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/formpickers.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
