<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">TIPOS DE BECAS</h4>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/grant/add}"
									title="Agregar"><span class="icon-plus"></span>&nbsp;&nbsp;Nueva</a>
							</div>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Beca</th>
												<th>Descripción</th>
												<th>Editar</th>
												<th>Eliminar</th>
												<th>Exportar becarios</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="sc : ${grantDtos}" >
												<td th:text="${sc.grant}"></td>
												<td align="center" th:text="${sc.description}"></td>
												<td align="center">
													<button type="button" class="btn btn-outline-primary"
														title="Editar" th:onclick='|SAUA.edit("id", ${sc.id});|' >
														<span class="icon-pencil"></span>
													</button>
												</td>
												<td align="center">
													<button type="button" class="btn btn-outline-danger"
														data-toggle="modal"
														title="Borrar" th:onclick='|SAUA.toDelete("id", ${sc.id});|' >
														<span class="icon-trash"></span>
													</button>
												</td>
												<td align="center">
													<button type="button" class="btn btn-outline-info"
															data-toggle="modal" title="Exportar becarios"
															th:onclick='|reportDownload("id", ${sc.id});|'>
														<span class="icon-cloud-download"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/grant/edit}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/grant/delete}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
						<div class="add-items text-left">
							<a class="add btn btn-dark font-weight-bold todo-list-add-btn" th:href="@{/admin/period/export}"
							   title="Agregar"><span class="icon-doc"></span>&nbsp;&nbsp;Exportar a Excel</a>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		reportDownload = function(idInput, idValue){
			$.ajax({
				headers:
						{ 'X-CSRF-TOKEN': $('#csrf').val(),
							'Accept': 'application/json',
							'Content-Type': 'application/json'
						},
				url : '/admin/grant/exportbecarios/'+idValue,
				method : 'get',
				cache : false,
				xhrFields: {
					responseType: 'blob'
				},
				success: function (data, status, response) {
					var filename = "";
					var disposition = response.getResponseHeader('Content-Disposition');
					if (disposition && disposition.indexOf('attachment') !== -1) {
						var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
						var matches = filenameRegex.exec(disposition);
						if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
					}
					let a = document.createElement('a');
					a.href = window.URL.createObjectURL(data);
					a.download = filename;
					document.body.append(a);
					a.click();
				},
				error: function(data) {
					swal({
						title: '',
						text: 'No se pudo descargar el reporte.',
						icon: 'error',
						button: {
							text: "Ok",
							value: true,
							visible: true,
							className: "btn btn-warning"
						}
					});
				}
			}).done(function() {
				console.log("Success!!!!");
			});
		}
	</script>
</body>

</html>
