<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/offeredclass}">Uaps ofertadas</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${offeredClassDto.id == 0}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${offeredClassDto.id > 0}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${offeredClassDto.id == 0}">Ofertar nueva Unidad de Aprendizaje</h4>
									<h4 class="card-title" th:if="${offeredClassDto.id > 0}">Editar Unidad de aprendizaje ofertada</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${offeredClassDto}" method="POST" action="save">
										<div class="form-group">
											<label for="program">Programa educativo</label> 
											<select required="required" class="form-control" th:field="*{program.studentPlanKey}" id="program" th:onblur='|SAUA.selectProgramOnOfferedClass()|'>
												<option th:each="program:${offeredClassDto.programs}" th:value="${program.studentPlanKey}" th:text="${program.studentPlanName}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="uap">Unidad de aprendizaje</label> 
											<select required="required" class="form-control" th:field="*{uap.key}" id="uap">
												<option th:each="uap:${offeredClassDto.uaps}" th:value="${uap.key}" th:text="${uap.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="teacher">Profesor</label> 
											<select required="required" class="form-control" th:field="*{teacher.id}">
												<option th:each="teacher:${offeredClassDto.teachers}" th:value="${teacher.id}" th:text="${teacher.name+' '+teacher.lastname+' '+teacher.secondLastname}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="semester">Semestre</label>
											<select required="required" class="form-control" th:field="*{semester}">
												<option value="0" th:selected="${offeredClassDto.semester eq '0'}">CERO</option>
												<option value="1" th:selected="${offeredClassDto.semester eq '1'}">PRIMERO</option>
												<option value="2" th:selected="${offeredClassDto.semester eq '2'}">SEGUNDO</option>
												<option value="3" th:selected="${offeredClassDto.semester eq '3'}">TERCERO</option>
												<option value="4" th:selected="${offeredClassDto.semester eq '4'}">CUARTO</option>
												<option value="5" th:selected="${offeredClassDto.semester eq '5'}">QUINTO</option>
												<option value="6" th:selected="${offeredClassDto.semester eq '6'}">SEXTO</option>
												<option value="7" th:selected="${offeredClassDto.semester eq '7'}">SEPTIMO</option>
												<option value="8" th:selected="${offeredClassDto.semester eq '8'}">OCTAVO</option>
												<option value="9" th:selected="${offeredClassDto.semester eq '9'}">NOVENO</option>
											</select>
										</div>
										<div class="form-group">
											<label for="uapCharge">Carga inicial</label> <input
												type="number" class="form-control" 
												placeholder="Ej: 5" name="uapCharge" th:value="${offeredClassDto.uapCharge}" max="300" min="0">
										</div>
										<div class="form-group">
											<label for="uapCharge">Carga m&iacute;nima</label> <input
												type="number" class="form-control" 
												placeholder="Ej: 15" name="minCharge" th:value="${offeredClassDto.minCharge}" max="300" min="0">
										</div>
										<div class="form-group">
											<label for="uapCharge">Carga m&aacute;xima</label> <input
												type="number" class="form-control" 
												placeholder="Ej: 6" name="maxCharge" th:value="${offeredClassDto.maxCharge}" max="600" min="0">
										</div>
 										<div class="form-group">
											<label for="group">Grupo</label> 
											<select required="required" class="form-control" th:field="*{group.id}" id = "group">
												<option th:each="group:${offeredClassDto.groups}" th:value="${group.id}" th:text="${group.name}"></option>
											</select>
										</div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="id" th:value="${offeredClassDto.id}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/offeredclass}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
</body>

</html>