<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Unidades de Aprendizaje Ofertadas</h4>
							<div class="add-items text-right">
								<a class="add btn btn-primary font-weight-bold todo-list-add-btn" th:href="@{/admin/offeredclass/add}"
									title="Agregar"><span class="icon-plus"></span>&nbsp;&nbsp;Nuevo</a>
							</div>
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-12 d-flex justify-content-end">
										<form id="form-eval" class="form-inline" method="POST" th:action="@{/admin/offeredclass}">
											<div class="form-group">
												<input type="text" class="form-control" id="searchByValue" placeholder="Texto a buscar" name="searchByValue" th:value="${offeredClassDto.searchByValue}"/>&nbsp;
												<input type="hidden" id="currentPage" name="page" th:value="${offeredClassDto.page}" />
												<input type="hidden" id="size" name="size" th:value="${offeredClassDto.size}" />
												<input type="hidden" id="totalPage" name="totalPage" th:value="${offeredClassDto.totalPages}" />
												<input type="hidden" name="direction" th:value="${offeredClassDto.direction}" />
												<input type="hidden" name="pageNumber" th:value="${page}" />
												<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											</div>
											<div class="form-group">
												<select name="searchBy" id="searchBy"
													class="form-control">
													<option></option>
													<option th:each="c : ${offeredClassDto.comboSearch}"
														th:value="${c}" th:text="${c}"
														th:selected="${c == offeredClassDto.searchBy}"></option>
												</select>
											</div>&nbsp;
											<button type="button" class="btn btn-default" onclick="SAUA.search();">Buscar</button>&nbsp;
											<button type="button" class="btn btn-link" onclick="SAUA.clear();">Limpiar</button>
										</form>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="offeredclass-table" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Clave</th>
												<th>UAP</th>
												<th>Docente</th>
												<th>Grupo</th>
												<th>P.E.</th>
												<th>Sem.</th>
												<th>C. Actual</th>
												<th>C. Min.</th>
												<th>C. Max</th>
												<th>&nbsp;</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr></tr>
										</tbody>
									</table>
								</div>
								<div class="panel-footer" style="padding: 0 1em;">
									<div class="row">
										<div class="col-md-12">
											<nav aria-label="Page navigation example" th:unless="${offeredClassDto.totalItems == 0}">
												<ul class="pagination-md" id="pagination"></ul>
											</nav>
										</div>
									</div>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/offeredclass/edit}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
								<form method="POST" id="delete-form"
									th:action="@{/admin/offeredclass/delete}">
									<input type="hidden" name="id" id="id" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script type="text/javascript">
					var totalPages = $("#totalPage").val();
					var searchByValue = $("#searchByValue").val();
					$('#pagination').twbsPagination({
				        totalPages: totalPages,
				        visiblePages: 10,
				        next: 'Siguiente',
				        prev: 'Anterior',
				        last: '&Uacute;ltima',
				        first:'Primera',
				        onPageClick: function (event, page) {
				        	if(page > 0){
				            $.ajax({
				      		  headers:
				      	        { 'X-CSRF-TOKEN': $('#csrf').val(),
				      	          'Accept': 'application/json',
				      	          'Content-Type': 'application/json'
				      	        },
				      			url : '/api/admin/offeredclass/page',
				      			method : 'post',
				      			cache : false,
				      			dataType : 'json',
				      			data : JSON.stringify({
				      				"page" : page,
				      				"searchByValue" : searchByValue,
				      				"searchBy" : $("#searchBy option:selected").val()
				      			}),
				      	        success: function (data) {
				      	          $('#offeredclass-table tbody tr').slice(0).remove();
				      	          $.each(data,function(key,registro) {
					      	        	$("#offeredclass-table").append(
					      	        		"<tr>"
							        			+"<td align='center'>"+registro[0]+"</td>"
												+"<td align='left'>"+registro[1]+"</td>"
												+"<td>"+registro[2]+"</td>"
												+"<td align='center'>"+registro[3]+"</td>"
												+"<td align='center'>"+registro[4]+"</td>"
												+"<td align='center'>"+registro[5]+"</td>"
												+"<td align='center'>"+registro[6]+"</td>"
												+"<td align='center'>"+registro[7]+"</td>"
												+"<td align='center'>"+registro[8]+"</td>"
												+"<td>"
												+"	<button type='button' class='btn btn-outline-primary'"
												+"		title='Editar' onclick='SAUA.edit(&apos;id&apos;,"+registro[9]+");' >"
												+"			<span class='icon-pencil'></span>"
												+"	</button>"
												+"</td>"
												+"<td>"
												+"	<button type='butto' class='btn btn-outline-danger'"
												+"		data-toggle='modal'"
												+"		title='Borra' onclick='SAUA.toDelete(&apos;id&apos;, "+registro[9]+");'>"
												+"		<span class='icon-trash'></span>"
												+"	</button>"
												+"</td>"
											+"</tr>");
				  			     });
				      	            
				      	        },
				      			error: function(data) {
				      				console.log("Error al cargar datos");
				      			}
				      		});
				        }
				        }
				    });
				</script>
			</div>
		</div>
	</div>
</body>

</html>
