<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout/header :: common_header"></head>
<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>

		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="col-md-12 d-flex justify-content-end">
					                      <ol class="breadcrumb">
					                        <li class="breadcrumb-item"><a th:href="@{/admin/groups}">Grupos</a></li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${groupDto.id eq -1}">Agregar</li>
					                        <li class="breadcrumb-item active" aria-current="page" th:if="${groupDto.id gt -1}">Editar</li>
					                      </ol>
				                     </div>
									<h4 class="card-title" th:if="${groupDto.id eq -1}">Nuevo grupo</h4>
									<h4 class="card-title" th:if="${groupDto.id gt -1}">Editar grupo</h4>
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<form id="userForm" class="forms-sample" th:object="${groupDto}" method="POST" action="save">
										<div class="form-group">
											<label for="name">Nombre</label> <input
												type="number" class="form-control" 
												placeholder="Ej: 101" name="name" th:value="${groupDto.name}" required="required">
										</div>
										<div class="form-group">
											<label for="abbreviation">Abreviatura del turno</label> <input
												type="text" class="form-control" 
												placeholder="Ej: MAT" name="abbreviation" th:value="${groupDto.abbreviation}" required="required" maxlength="4">
										</div>
										<div class="form-group">
											<label for="groupLeader">Jefe de grupo(Matr&iacute;cula)</label> <input
												type="text" class="form-control" 
												placeholder="Ej: 07046511" name="register" th:value="${groupDto.groupLeader.register}">
										</div>
										<div class="form-group">
											<label for="location">Ubicaci&oacute;n</label> <input
												type="text" class="form-control" 
												placeholder="Ej: Edificio A" name="location" th:value="${groupDto.location}">
										</div>
										<div class="form-group">
											<label for="turn">Turno</label>
											<select name="turn" required="required" class="form-control" th:value="${groupDto.turn}">
												<option value="MORNING" th:selected="${groupDto.turn eq 'MATUTINO'}">MATUTINO</option>
												<option value="AFTERNOON" th:selected="${groupDto.turn eq 'VESPERTINO'}">VESPERTINO</option>
											</select>
										</div>
										<div class="form-group">
											<label for="groupType">Tipo</label>
											<select name="groupType" required="required" class="form-control" th:value="${groupDto.groupType}">
												<option value="NORMAL" th:selected="${groupDto.groupType eq 'NORMAL'}">NORMAL</option>
												<option value="MIXED" th:selected="${groupDto.groupType eq 'MIXTO'}">MIXTO</option>
												<option value="REPEAT" th:selected="${groupDto.groupType eq 'REPITE'}">REPITE</option>
											</select>
										</div>
										<div class="form-group">
											<label for="programs">Programa Educativo </label>
											<select required="required" class="form-control" th:field="*{educationalProgramDto.studentPlanKey}">
												<option th:each="program:${groupDto.programsDto}" th:value="${program.studentPlanKey}" th:text="${program.abr}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="periods">Periodo </label>
											<select required="required" class="form-control" th:field="*{periodDto.id}">
												<option th:each="period:${groupDto.periodsDto}" th:value="${period.id}" th:text="${period.schoolPeriod}"></option>
											</select>
										</div>
										<div class="col-md-12 text-right">
											<input type="hidden" name="id" th:value="${groupDto.id}" />
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<a class="btn btn-danger" th:href="@{/admin/groups}">Cancelar</a>
											<button type="submit" class="btn btn-primary mr-2">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
			</div>
		</div>
	</div>
</body>

</htm>