<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">
		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications"></div>
			<div th:replace="fragments/layout/header :: common_navbar_admin"></div>
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div th:replace="fragments/layout/header :: common_messages"></div>
							</div>
							<h4 class="card-title">Asignaci&oacute;n de carga acad&eacute;mica por Programa Educativo</h4>							
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="order-listing" class="table table-striped">
										<thead>
											<tr align="center">
												<th>Clave</th>
												<th>Nombre de programa educativo</th>
												<th>Versi&oacute;n</th>
												<th>Estatus carga</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="program : ${programDto.programDtos}">
												<td th:text="${program.studentPlanKey}" align="center"></td>
												<td th:text="${program.studentPlanName}"></td>
												<td th:text="${program.studentPlanVrs}" align="center"></td>
                          						<td align="center"><label
													th:text="${program.estatusCarga == true ? 'Asignada' : 'No Asignada'}"
													th:class="${program.estatusCarga == true ? 'badge badge-primary badge-pill' : 'badge badge-danger badge-pill' }">
												</label></td>
												<td align="center" th:unless="${program.estatusCarga}">
													<button type="button" class="btn btn-outline-info"
														title="Asignar carga" th:onclick='SAUA.uapsAssingToStudent("studentPlanKey",[[${program.studentPlanKey}]]);' >
														<span class="icon-plus"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<form method="POST" id="edit-form"
									th:action="@{/admin/programs/edit}">
									<input type="hidden" name="studentPlanKey" id="studentPlanKey" /> 
									<input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer th:replace="fragments/layout/header :: common_footer"></footer>
				<script th:src="@{/js/data-table.js}"></script>
			</div>
		</div>
	</div>
</body>

</html>
